[2022-04-02 07:30] VidhiBhatt01 opened #550 "A. Propose a new UI for Coming soon"
Redesign the coming soon page and add its SS in the comments. Whosoever has the best proposal will be assigned it.

![image](https://user-images.githubusercontent.com/83345228/161371569-1b761299-e5f8-4a5c-ad57-be69daabf7d9.png)

Make sure you do not copy-paste content from any where and it is fully responsive

[2022-04-02 07:30] VidhiBhatt01 opened #551 "B. Enhancing Covid 19 website"
1. Fix the image sizing
![image](https://user-images.githubusercontent.com/83345228/161371710-2edeab9b-b704-4d86-8097-8359d1c56e40.png)

2. Increase navbar font size
![image](https://user-images.githubusercontent.com/83345228/161371789-24d503f7-6fd8-4003-bf24-6cc4bacc52ba.png)

[2022-04-02 07:30] VidhiBhatt01 opened #552 "C. Make food Template fully responsive"
![image](https://user-images.githubusercontent.com/83345228/161371871-6b37c4a5-e59a-475d-8280-f4b829a6a3b2.png)

[2022-04-02 07:30] VidhiBhatt01 opened #553 "D. Make GameZone fully responsive"
![image](https://user-images.githubusercontent.com/83345228/161371923-bccd1e33-a943-4a1e-8724-3a1c6849bed4.png)

[2022-04-02 07:30] VidhiBhatt01 opened #554 "E. Redesign the footer of Maroom so that it matches with the color theme"
![image](https://user-images.githubusercontent.com/83345228/161371973-022eb893-d85a-41bf-b240-14f1508915e1.png)

[2022-04-02 07:30] VidhiBhatt01 opened #555 "F. Fix the buttons"
When clicking on the navbar buttons in online grocery store website, the user is not redirected to that section of the website. Fix it

Also, either remove about us from the navbar or add a section for it.
![image](https://user-images.githubusercontent.com/83345228/161372062-5a295124-7c77-47d2-8394-10e397acbfc0.png)

[2022-04-02 07:30] VidhiBhatt01 opened #556 "G. Add pages"
Add about us, contact us pages in Travel Website Template-1

![image](https://user-images.githubusercontent.com/83345228/161372195-e98ba21e-9f4d-40fb-a395-b9cd2d3356a0.png)

[2022-04-02 07:36] Jagroop2000 opened #557 "Adding Finance and GST Calculator"
## Issue Type:

- [ ] Feature Request

### In this project i want to add the Finance and GST calculator Functionality , can i contribute this under GSSOC22

[2022-04-02 07:55] srinjoy-26 commented on #556
I would like to work

[2022-04-02 08:14] ez-sherlock commented on #555
Please assign this issue to me. Thanks :)

[2022-04-02 08:25] ez-sherlock opened #558 "StudyX website is not responsive at all."
[StudyX Website](https://cool-front-end-templates.netlify.app/online%20tutorial%20website%20template/#) only looks good on the big screens (Screen sizes bigger than 1366*766 px). It looks very bad (unresponsive) for laptops, tablets, and mobile screens.

[2022-04-02 08:31] ez-sherlock commented on #557
Here's a video demo of it:

https://user-images.githubusercontent.com/89704304/161374640-cab3c2cd-ebe9-4a40-9109-d9f4fbe54855.mp4

[2022-04-02 09:49] soumali28 commented on #552
I want to work on this issue under GSSoC

[2022-04-02 10:22] arpit456jain commented on #450
@shubhamlakheraa
i think u didn't understand my concern let me tell u again

i want to filter out those template which are downloaded from anywhere like codepen or something else or from any othet github repo.

ignore the cloned once for now

and make 3 cols
1. name
2. folder url
3. deployed link

and make a separate list of similar templates

[2022-04-02 11:06] DEEPIKA-SUK commented on #280
@sophiastr any update? Make PR otherwise we will close this issue.

[2022-04-02 11:07] wre9-tesh commented on #554
can i be assigned this under Gssoc?

[2022-04-02 11:11] DEEPIKA-SUK commented on #380
@RAHULBAWA777 make the PR by tomorrow otherwise we will close this issue!

[2022-04-02 11:13] DEEPIKA-SUK commented on #438
@chaithanya99 make the pr by tomorrow otherwise you will get unassigned.

[2022-04-02 11:16] wre9-tesh commented on #554
can i take this under gssoc?

[2022-04-02 15:38] Aritra777 commented on #551
I want to work in this issue under GSSOC'22

[2022-04-02 15:47] VidhiBhatt01 opened #561 "H. Fix the button"
In the Tailwind Portfolio project, user is not redirected to work section when clicked on the button. Fix it. Also add some cool hover effects to the navbar.

![image](https://user-images.githubusercontent.com/83345228/161390736-a3432e44-38fa-46d6-8ef3-e9f573518133.png)

[2022-04-02 15:50] VidhiBhatt01 opened #562 "I. Add a blog page"
Project : Welcome to Lucknow

![image](https://user-images.githubusercontent.com/83345228/161390820-d0c8878e-9835-49bf-9d3f-6c375c73f5a2.png)

Tasks:
1. Add hover effects in Navbar.
2. Add a Blog page.
3. Rename the document title from "First Website" to "Welcome to Lucknow"

[2022-04-02 15:53] VidhiBhatt01 opened #563 "J. Make the Yoga Template Website fully responsive."
![image](https://user-images.githubusercontent.com/83345228/161390939-baca88de-0d63-4be3-a468-d3d1f79328d1.png)

[2022-04-02 15:56] VidhiBhatt01 opened #564 "K. Fix the text Alignment"
Project: Newsletter

![image](https://user-images.githubusercontent.com/83345228/161391021-74fc428c-f211-4c07-9b02-5e4429a1c4be.png)

Tasks:
1. As seen in the image, the text is getting cut, fix that.
2. Rename document title from "Document" to "Newsletter".

[2022-04-02 16:00] VidhiBhatt01 opened #565 "L. Enhance Rural Art Template"
1.  Fix horizontal scroll

![image](https://user-images.githubusercontent.com/83345228/161391137-492dd5ec-a468-4b36-bd5f-809af50e5709.png)

2. Make the website fully responsive

![image](https://user-images.githubusercontent.com/83345228/161391175-b901c2df-b9e0-445f-b2db-b42b5d56cf30.png)

3. Give a suitable document title

[2022-04-02 16:01] VidhiBhatt01 opened #566 "M. Make Admin Dashboard fully responsive"
![image](https://user-images.githubusercontent.com/83345228/161391259-ecaa1678-1c76-434a-8272-01fe5e7919e3.png)

[2022-04-02 17:00] Abh1shekSingh commented on #563
Please assign this issue to me maam @VidhiBhatt01

[2022-04-02 17:01] Abh1shekSingh commented on #562
Please Assign this issue to @VidhiBhatt01

[2022-04-02 17:02] Abh1shekSingh commented on #561
I would like to give a try to this @VidhiBhatt01 Please assign to me if possible

[2022-04-02 17:23] #539 closed

[2022-04-02 17:26] Anirban-1490 commented on #564
assign me this

[2022-04-02 17:28] Anirban-1490 commented on #565
assign me this too

[2022-04-02 17:37] myhacktech commented on #554
@VidhiBhatt01 i would like to work upon this issue.

[2022-04-02 20:57] iamrahulmahato commented on #499
@VidhiBhatt01 The PR is made #569 . Kindly review and merge it.
Thank You

[2022-04-03 04:47] Smriti-y opened #571 "Add the new webpages regarding valuable quotes."
## **Add the new Webpage regarding valuable quotes**
I would like to add some valuable life lessons quotes exploring the field of Inspiration ,Motivation , Feelings and thoughts of some great personalities .

[2022-04-03 05:50] TG922 opened #572 "Adding Typing Master Game Clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Adding Typing Master Game Clone using HTML, CSS, JS.

## **Screenshots**

![Image67](https://user-images.githubusercontent.com/70098839/161413784-bc17b075-112c-4adf-8f49-18a2ac82c84d.PNG)

[2022-04-03 06:09] Vanshika7902 commented on #564
I like to work on this issue .Please assign it to me.

[2022-04-03 06:11] Vanshika7902 commented on #563
I like to work on this issue .Please assign it to me.

[2022-04-03 06:21] myhacktech commented on #561
i can make it work @VidhiBhatt01

[2022-04-03 06:29] Abh1shekSingh commented on #563
It's is based first come first serve.  So I have already asked.

On Sun, Apr 3, 2022, 11:41 AM Vanshika ***@***.***> wrote:

[2022-04-03 06:29] Abh1shekSingh commented on #561
It's is based on first come first serve. And I have already asked vidhi to
assign.

On Sun, Apr 3, 2022, 11:52 AM VAIBHAV SRIVASTAVA ***@***.***>
wrote:

[2022-04-03 06:30] soumali28 commented on #566
I want to work on this issue under GSSoc.

[2022-04-03 06:34] pujthej commented on #563
@VidhiBhatt01 hi! this issue is already open. It is #492 and I had requested to work on it few days back.

[2022-04-03 07:32] nithu2109 opened #574 "Tesla Clone Using React"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- I Would like to add Tesla front end clone

## **Screenshots**

![image](https://user-images.githubusercontent.com/67360225/161416728-81963dae-e6d9-43c8-b8ae-c688329d5b6b.png)

[2022-04-03 08:37] myhacktech commented on #561
yeah sure!!!

[2022-04-03 09:05] Vanshika7902 commented on #553
I would like to work on this .Please assign it to me.

[2022-04-03 09:06] #450 closed

[2022-04-03 09:09] #536 closed

[2022-04-03 09:10] #442 closed

[2022-04-03 09:44] #552 closed

[2022-04-03 09:45] #538 closed

[2022-04-03 09:52] #506 closed

[2022-04-03 12:21] piyusha2001 commented on #469
Can you assign me this under GSSoC'22 ?

[2022-04-03 19:16] Smriti-y commented on #255
Sir I have reopened the issue today but it's showing failed and something like ---"issue labeler"

[2022-04-03 19:43] TadrupDas opened #576 "want to contribute the frontend of a blog website."
@arpit456jain  I have already finished the frontend part of the blog website. can i contribute here?

[2022-04-04 02:16] maura-dev commented on #553
Please assign to me

[2022-04-04 02:18] maura-dev opened #577 "Update Readme file"
Proper guidelines on the naming conventions for people contributing new projects in the .json file to prevent missing images and broken links

[2022-04-04 03:14] Anjuli08 commented on #554
I would like to work on this issue

[2022-04-04 10:39] i-am-aisha opened #579 "Dance Academy website"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-04 10:41] #579 closed

[2022-04-04 11:03] i-am-aisha opened #580 "Dance Academy website"
## Issue Type:
I would like to add the frontend of a dance academy website from there you can fill the form for joining the academy.
I will use HTML CSS Javascript Nodejs for making my website attractive and working.

[2022-04-04 11:04] i-am-aisha commented on #580
/assign

[2022-04-04 11:30] VidhiBhatt01 commented on #557
@Jagroop2000 are you interested on working on this or shall I assign it to @ez-sherlock ?

[2022-04-04 11:32] VidhiBhatt01 commented on #557
@ez-sherlock I think you attached the video in wrong PR

[2022-04-04 11:32] VidhiBhatt01 commented on #558
@ez-sherlock add the video here

[2022-04-04 11:34] #563 closed

[2022-04-04 11:35] #571 closed

[2022-04-04 11:36] VidhiBhatt01 commented on #572
We are not accepting new projects for a certain period. check #announcements under project channels on discord for further guidelines.

[2022-04-04 11:36] #572 closed

[2022-04-04 11:37] VidhiBhatt01 commented on #574
We are not accepting new projects for a certain period. check #announcements under project channels on discord for further guidelines.

Plus, react projects are not accepted as of now.

[2022-04-04 11:37] #574 closed

[2022-04-04 11:37] VidhiBhatt01 commented on #576
@TadrupDas elaborate more on what you are talking about

[2022-04-04 11:39] VidhiBhatt01 commented on #580
We are not accepting new projects for a certain period. check #announcements under project channels on discord for further guidelines.

[2022-04-04 11:39] #580 closed

[2022-04-04 11:51] samipak458 opened #581 "Show all cards by clicking on load more"
## Issue Type:

- [ ] Bug Report
- [X] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Showing all the card at the same time is not looking good according to me. I think adding pagination or load more button make website UI more better. I am GSSOC'22 participant kindly assign this issue to me.

## **Possible solution**
I would add load more button. When you click on the button all t

[2022-04-04 12:07] samipak458 commented on #581
@arpit456jain kindly assign this issue to me.

[2022-04-04 12:24] #499 closed

[2022-04-04 12:24] KiranAminPanjwani opened #582 "Adding a side Navbar."
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

-It is difficult to scroll a lot and find the desired template. To minimize the time and enhance accessibility, I want to add a side navbar.
## **Possible solution**

- The side navbar will make it easier for the user to access any template by name from the index shown on the left side.
- The sample

[2022-04-04 12:26] KiranAminPanjwani commented on #582
@arpit456jain I'm the participant of GSSoC'22, kindly assign this issue to me.

[2022-04-04 12:31] ez-sherlock commented on #558
Okay

[2022-04-04 12:41] sachinkrr02 commented on #556
Sir I want to work on this issue as a GSSOC'22 Contributor

[2022-04-04 12:47] srinjoy-26 commented on #556
Bro Cm'on , it has been assigned to me

[2022-04-04 12:51] sachinkrr02 commented on #564
sir i would like work on this issue

[2022-04-04 14:33] #582 closed

[2022-04-04 14:34] arpit456jain commented on #581
@samipak458 some one is working on this we will let you know if she fails

[2022-04-04 14:34] #581 closed

[2022-04-04 14:36] arpit456jain commented on #556
@srinjoy-26 make sure you add pages with same theme and they should be responsive other wise it will be lvl1 PR

[2022-04-05 03:37] Rakesh9100 commented on #386
Hello, Can I work on this since it's more than 1-2 weeks ? Can it be assigned to me ?

[2022-04-05 04:04] kalyanikakade123 commented on #549
Can you please assign it to me ?

[2022-04-05 04:30] SamarthKadam opened #585 "Adding An Amazing Animated Portfolio"
This is an amazing portfolio That is Simple and minimalistic. You can visit and have a look at https://samarthkadam.github.io/Animations/

[2022-04-05 07:11] maheshdbabar9340 opened #586 "Want to add Responsive Travelling Website"
Take a view over here ==> [Travelling Website Link](https://maheshdbabar9340.github.io/Travelling-Website/)

Please assign this issue to me to add a reponsive travelling website made with bootstrap which is very attractive as well.

Waiting for your good respose. thank you.

[2022-04-05 07:11] #533 closed

[2022-04-05 07:11] #534 closed

[2022-04-05 07:12] astha2412 commented on #520
Complete this issue @Sourajita21 asap!

[2022-04-05 07:13] #535 closed

[2022-04-05 07:14] #537 closed

[2022-04-05 07:15] Sourajita21 commented on #520
Okay sir.

On Tue, 5 Apr, 2022, 12:42 pm Kumari Astha Rani, ***@***.***>
wrote:

[2022-04-05 10:35] #542 closed

[2022-04-05 17:26] DEEPIKA-SUK commented on #386
@Rakesh9100 Go ahead and try to finish it in 2-3 days.

[2022-04-05 21:15] juberiya1ajaz commented on #532
I will try to finish this as soon as possible, Sorry for the tardiness because my papers are ongoing.

[2022-04-06 10:31] dsasaank-369 opened #591 "Crypto Website Template"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Possible solution**

This is a template for a Crypto-based website. I have used HTML,CSS,JS etc. This can be used as a template.

## **Screenshots**
![image](https://user-images.githubusercontent.com/80057285/161955185-9bf43c53-0fac-4246-a17d-8cf1f452171e.png)

- If applicable, add screenshots to help explain your prob

[2022-04-06 10:47] AnIkeT126 opened #592 "Grocery Shopping List Maintainer"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

This is a cool app using which you can keep a list of items you need to buy, you just have to add the items needed. You can also delete the item/items which are not required.

- [x] GSSoC Contributor

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-06 10:47] AnIkeT126 commented on #592
@arpit456jain please assign this issue to me under GSSoC and if possible add a level label.

[2022-04-06 12:35] #585 closed

[2022-04-06 13:18] myhacktech opened #594 "UI of the portfolio template can be improved"
## Issue Type:
link to the portfolio: https://cool-front-end-templates.netlify.app/simple%20portfolio%20template/

- [x ] Feature Request

## **Describe the bug**

In the service section, the picture does not fit in the frame.

## **Possible solution**

i can design it properly, so that picture fits in it .

## **Screenshots**

![Screenshot (282)](https://user-images.githubusercontent.com/86517958

[2022-04-06 14:46] arpit456jain commented on #550
go ahead @piyusha2001 make a PR

[2022-04-06 15:36] codingkush opened #597 "Fix the extra space and templates are not center"
## Issue Type:

Extra space left side of website

- [ ]

## **Describe the bug**

I visited this website and  then i found the extra space in left side of whole website and the  templates are not center.....

![Screenshot_20220406-205355~2](https://user-images.githubusercontent.com/78756312/162012910-b8e508d8-4072-4ac5-a1ec-abbf0491cd18.png)

[2022-04-06 15:36] codingkush commented on #597
I'm GSsoc 22 contributer and i want to work on this issue under GSsoc 22...plz assign it to me

[2022-04-06 15:45] TG922 commented on #478
are you working on this @Shweta-Rani1 ??

@VidhiBhatt01 you can also ask her if she is doing it or not
If not then i can work on it

[2022-04-06 16:34] TG922 commented on #502
I have almost worked on it will send PR soon

[2022-04-06 17:22] Estheryu991 commented on #483
wo ist die Api?

[2022-04-06 18:23] arpit456jain opened #598 "Clone this website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

Clone this website https://supervise.ly/

but for now just clone this page

https://supervise.ly/lidar-3d-cloud/

![screencapture-supervise-ly-lidar-3d-cloud-2022-04-06-23_54_40](https://user-images.githubusercontent.com/55352601/162042872-403aeefb-39ec-4e50-9a51-241345dd9d78.png)

[2022-04-06 18:32] dewanshiPaul commented on #598
We have to do frontend only?

[2022-04-06 18:38] arpit456jain commented on #598
yes @dewanshiPaul

[2022-04-06 18:46] dewanshiPaul commented on #598
What is the deadline?

[2022-04-06 18:50] arpit456jain commented on #598
@dewanshiPaul r u interested ?

[2022-04-06 18:51] dewanshiPaul commented on #598
I am interested but this tight deadline because tomorrow i have offline classes upto 5:30pm. If you extend deadline, then it is possible

[2022-04-06 18:52] arpit456jain commented on #598
ok @dewanshiPaul work on it make it asap

[2022-04-06 18:57] dewanshiPaul commented on #598
Oo i will try to complete it asap

[2022-04-06 19:46] maura-dev commented on #598
Interested

[2022-04-06 19:57] arpit456jain commented on #598
@maura-dev go ahead and make PR before tomorrow evening.

[2022-04-07 02:40] Sukriti-m commented on #598
@arpit456jain I am interested. Can it be assigned to me as well?

[2022-04-07 03:52] #577 closed

[2022-04-07 04:49] YalfamIamShaon opened #600 "Color code getter for css"
Hello @arpit456jain, how are you today? I hope everything is going well for you. I am GSSOC22 contributor and I'd like to add one of my web project called "Color Code Getter for CSS." This project makes it simple for users to find "Hexcode" for any colouring, so we don't have to waste time looking for that in Web pages. Here's a video of my project in action.

https://user-images.githubusercontent

[2022-04-07 04:58] #600 closed

[2022-04-07 04:59] YalfamIamShaon opened #601 "Color code getter for CSS colors"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

 I'd like to add one of my web project called "Color Code Getter for CSS." This project makes it simple for users to find "Hexcode" for any colouring, so we don't have to waste time looking for that in Web pages. Here's a video of my project in action.

## **Screenshots**

https://user-images.github

[2022-04-07 05:15] anirudh357 commented on #598
Interested

[2022-04-07 05:20] arpit456jain commented on #598
@anirudh357 can you do it before end of the day?

[2022-04-07 05:29] myhacktech opened #602 "food template is not responsive and items are not aligned properly"
## Issue Type:
link to the template:https://cool-front-end-templates.netlify.app/food%20website%20template/
- [x] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

template is not responsive and form inputs boxes are not aligned properly

## **Possible solution**
can be made responsive
![Screenshot (284)](https://user-images.githubusercontent.com/86517958/162126768-5bb2

[2022-04-07 06:04] YalfamIamShaon commented on #601
hello @arpit456jain , if you like this project can you assign it to me?

[2022-04-07 09:05] Vanshika7902 opened #603 "Making Tourism-Portal Fully Responsive"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Tourism Portal Template is not Responsive.

## **Possible solution**

- Can be made Responsive.

## **Screenshots**

-
![Screenshot (97)](https://user-images.githubusercontent.com/92636041/162163000-48d49f6e-0628-4d01-bc55-1ebade5351bf.png)

[2022-04-07 09:40] Vanshika7902 opened #604 "I want to add Hovering effect in the navbar keys of Technology Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- I want to add Hovering effect in the navbar keys.

[2022-04-07 10:39] anirudh357 commented on #598
Can I do till tomorrow, like till tomorrow morning.

[2022-04-07 12:25] arpit456jain commented on #598
@anirudh357 yes u can go ahead

[2022-04-07 13:34] #386 closed

[2022-04-07 13:45] #550 closed

[2022-04-07 13:46] #564 closed

[2022-04-07 15:18] maura-dev commented on #598
Same, just started

[2022-04-07 16:04] muhammadgalhoum opened #606 "Adding Links for GSSoc'22, hacktoberfest 2021, DevIncept and finally the Demo video link for this repo"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

## I will do the following changes

- I will add the link for GSSoc'22
- I will add the link for hacktober fest 2021
- I will add the link for DevIncept
- I will add the link for the Demo video link for this repo

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

[2022-04-07 16:05] muhammadgalhoum commented on #606
**Please assign this issue to me @arpit456jain**

[2022-04-07 16:11] arpit456jain commented on #598
@maura-dev @dewanshiPaul @anirudh357 make PR asap the one who makes PR first can work on other pages as well

[2022-04-07 16:17] Anish-Parkhi opened #607 "Improve UI of E-Commerce website"
## Issue Type:

- [x] Documentaion

## **Description**

Add background color to differentiate between two sections in E commerce shopping website

## **Screenshots**
![Screenshot (170)](https://user-images.githubusercontent.com/93964690/162249886-44f9c586-5808-4201-aeb8-70906e2b52de.png)

[2022-04-07 16:27] Anish-Parkhi opened #608 "Improve UI of Hotel Website"
## **Description**

Improve the UI of Hotel Website. The search bars on the top dosen't looks good. The search bars should be short and they should fit in a single line only

## **Screenshots**

![Screenshot (172)](https://user-images.githubusercontent.com/93964690/162251807-460fd26f-407d-4e44-a952-820a29525bb0.png)

[2022-04-07 19:20] VidhiBhatt01 commented on #591
We are not accepting new projects as of now. Keep an eye on the announcement channel on discord of this repo for further instructions.

[2022-04-07 19:20] #591 closed

[2022-04-07 19:20] VidhiBhatt01 commented on #592
We are not accepting new projects as of now. Keep an eye on the announcement channel on discord of this repo for further instructions.

[2022-04-07 19:20] #592 closed

[2022-04-07 19:20] VidhiBhatt01 commented on #597
@arpit456jain

[2022-04-07 19:21] VidhiBhatt01 commented on #601
We are not accepting new projects as of now. Keep an eye on the announcement channel on discord of this repo for further instructions.

[2022-04-07 19:21] #601 closed

[2022-04-07 19:22] VidhiBhatt01 commented on #549
We are not accepting new projects as of now. Keep an eye on the announcement channel on discord of this repo for further instructions.

[2022-04-07 19:22] #549 closed

[2022-04-07 19:22] VidhiBhatt01 commented on #606
@arpit456jain

[2022-04-08 04:17] pujthej commented on #492
@VidhiBhatt01 Hi it's been 7 days can you assign this to me?

[2022-04-08 04:25] arpit456jain commented on #492
@pujthej go ahead

[2022-04-08 06:31] mohammadshaad opened #610 "UI of Healthcare Technology Website"
I want to make the UI of a healthcare technology website.
I am a GSSoC'22 contributor and I want to work on this issue kindly assign it to me

[2022-04-08 06:46] mohammadshaad opened #611 "Improve the UI of simple dark form"
<h1>Description</h1>
I want to improve the UI of simple dark form. The login button and few changes in font sizes to make it look much more better.
I am GSSoC'22 contributor.

![Screen Shot 2022-04-08 at 12 12 37 PM](https://user-images.githubusercontent.com/89409389/162379949-51b727f6-34f7-4afa-a126-a26f76d62744.png)

[2022-04-08 10:58] #565 closed

[2022-04-08 11:38] #544 closed

[2022-04-08 13:07] arpit456jain commented on #598
@dewanshiPaul @anirudh357 @maura-dev any update ?

[2022-04-08 13:31] dewanshiPaul commented on #598
Completed with nav bar

[2022-04-08 13:31] dewanshiPaul commented on #598
Proceeding further

[2022-04-08 19:59] #280 closed

[2022-04-08 20:01] #380 closed

[2022-04-08 20:05] DEEPIKA-SUK commented on #462
@RajatBhaskare7 make PR by today otherwise we will close the issue.

[2022-04-08 20:06] DEEPIKA-SUK commented on #463
@ayushim13 make the PR by today otherwise we will close this issue.

[2022-04-08 20:06] #464 closed

[2022-04-09 09:30] anirudh357 commented on #598
Made navbar and body section @arpit456jain

[2022-04-09 16:22] priyanshi1282 opened #615 "Updating MedEasy Website #545 PR"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- Insufficient number of pages/section in MedEasy Website i.ie #545.

## **Possible solution**

- Adding About and Contact us Section.

## **Screenshots**
![about](https://user-images.githubusercontent.com/88632352/162591422-33df1758-0994-486a-9c21-7f972e581868.png)
![contactus](https://user-images.githubusercontent.com/88632352/16259

[2022-04-09 19:12] ak232001 opened #616 "I want to add card and carousel effect in Chinese Restaurant."
## Issue Type:

- [ ] Feature Request

## **Description**

- I want to add Card effect in Menu Section And Carousel Effect in Service section of Chinese Resturant Template.

 Hey @VidhiBhatt01 , i want to add this beautiful effect . Please assigned me this.

## **Screenshots**
![img2](https://user-images.githubusercontent.com/93785942/162588416-5915302f-4a3c-4857-8739-8af05a5569eb.PNG)

![Capture]

[2022-04-09 20:12] muhammadgalhoum commented on #606
**Can you assign this to me please @arpit456jain @VidhiBhatt01 **

[2022-04-10 05:12] Sakshi-1701 commented on #551
Hey @VidhiBhatt01
If the issue is not yet solved, I'd love to work on it.

[2022-04-10 08:06] ruchichaurasia24 opened #617 "Want to add social-icons, correct some written content and some images"
Hello, I'm GSSOC'22 contributor.
Issue type:
I want to add correct some written content, add social-icons and some images. Can I work on this issue.

[2022-04-10 08:14] #509 closed

[2022-04-10 08:50] mahiiverse1 opened #618 "Add a Chrome Extension downloading website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the feature**

I want to add a front end of a website that promotes a Chrome extension that users can download.

## **Possible solution**

The website will be of a single page, it will basically have an introduction to a certain productivity chrome extension, what it does, its benefits, customer reviews and a

[2022-04-10 10:06] #618 closed

[2022-04-10 13:16] ak232001 opened #621 "I want to make online grocery store fully responsive"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request

## **Describe the bug**

- Online Grocery Store Project is not fully responsive.

## **Possible solution**

- Can be made responsive

## **Screenshots**
![Capture1](https://user-images.githubusercontent.com/93785942/162619919-2134b008-37c7-4972-b86d-8cc7f6f4dffd.PNG)

- If applicable, add
![Capture2](https://user-images.githubusercontent.com/

[2022-04-10 17:58] ak232001 commented on #616
Please Assign me this issue @VidhiBhatt01

[2022-04-10 19:12] muhammadgalhoum commented on #606
### Please can anyone assign this issue to me and I will solve it asap @DEEPALI-SUK @DEEPIKA-SUK @astha2412 @VidhiBhatt01 @arpit456jain
### Thanks in advanced

[2022-04-11 04:59] #554 closed

[2022-04-11 05:00] #555 closed

[2022-04-11 05:01] #551 closed

[2022-04-11 05:01] #553 closed

[2022-04-11 05:02] astha2412 commented on #556
@srinjoy-26 ???? Make PR Asap!

[2022-04-11 05:03] srinjoy-26 commented on #556
Thora tension me hu

[2022-04-11 05:05] astha2412 commented on #557
@ez-sherlock ???

[2022-04-11 05:05] astha2412 commented on #557
@Jagroop2000 Complete your issue asap otherwise I will close this issue!

[2022-04-11 05:06] astha2412 commented on #558
@ez-sherlock Complete this issue asap!

[2022-04-11 05:07] #561 closed

[2022-04-11 05:08] astha2412 commented on #562
@Abh1shekSingh ???? Complete this issue Asap!

[2022-04-11 05:16] #566 closed

[2022-04-11 05:16] astha2412 commented on #576
@arpit456jain ??

[2022-04-11 05:17] #586 closed

[2022-04-11 05:18] astha2412 commented on #594
@myhacktech Complete this issue asap!

[2022-04-11 05:25] astha2412 commented on #617
@ruchichaurasia24 Add before and after screenshots in your PR!

[2022-04-11 05:29] #375 closed

[2022-04-11 05:30] #452 closed

[2022-04-11 05:31] astha2412 commented on #462
@RajatBhaskare7 Make new PR when u r Ready!

[2022-04-11 05:31] #462 closed

[2022-04-11 05:32] astha2412 commented on #463
@ayushim13 Make issue again when u r ready with your code!

[2022-04-11 05:32] #463 closed

[2022-04-11 05:33] #515 closed

[2022-04-11 05:35] astha2412 commented on #505
@vandana3869 Complete this issue asap!

[2022-04-11 05:36] astha2412 commented on #503
ok @TG922

[2022-04-11 05:36] astha2412 commented on #502
Complete it asap!

[2022-04-11 05:37] astha2412 commented on #500
@DinahWorld Make issue again when u ready with your code!

[2022-04-11 05:37] #500 closed

[2022-04-11 05:37] #492 closed

[2022-04-11 05:38] astha2412 commented on #491
@aditiitomar Complete this issue Asap!!!

[2022-04-11 05:39] astha2412 commented on #490
@AsmaIbrahimButt Complete your issue Asap!!!

[2022-04-11 05:40] astha2412 commented on #488
@Vikash-8090-Yadav ??????Complete this issue asap!

[2022-04-11 05:40] astha2412 commented on #487
@Piyush-Aman Complete it Asap!

[2022-04-11 05:40] #483 closed

[2022-04-11 05:53] myhacktech commented on #594
Ok

[2022-04-11 20:20] GaganpreetKaurKalsi commented on #598
Hey! I am interested on working on this issue.
Let me know if you still need this page to be build up or if any other pages to work on.
Thanks!

[2022-04-11 20:48] GaganpreetKaurKalsi opened #628 "Project display Images oversized"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
The display images of projects are of full size with no CSS applied to it. Due to this some display images appear to be complete white and other just don't fit right. Please find below screenshot of the same for your reference.

![image](https://user-images.githubusercontent.com/54144759/162826844-68

[2022-04-11 20:55] GaganpreetKaurKalsi opened #629 "Projects open in same tab as that of homepage"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Right now when we click on a project it opens up in the same tab which is quite hard for the user, If I am checking projects then there is a lot of going back and forth the same tab.

## **Possible solution**

- We can make the projects open up in a new tab everytime instead of opening up in the s

[2022-04-11 20:57] GaganpreetKaurKalsi commented on #629
Please assign me the issue

[2022-04-11 20:57] GaganpreetKaurKalsi commented on #628
Please assign me the issue.

[2022-04-11 21:07] GaganpreetKaurKalsi opened #630 "Zomato Clone UI improvements"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- The buttons are too large
![image](https://user-images.githubusercontent.com/54144759/162831314-ce2bbd0d-34a1-48ce-ba92-4e79d0f55e33.png)

- The input tag requires some padding and styling
![image](https://user-images.githubusercontent.com/54144759/162831503-5fe19696-619d-45ad-8a83-b45c7aa0ca96.pn

[2022-04-11 21:07] GaganpreetKaurKalsi commented on #630
Please assign me the issue.
Thanks!

[2022-04-12 08:22] arpit456jain commented on #598
Yes @GaganpreetKaurKalsi go ahead

[2022-04-12 12:47] #541 closed

[2022-04-12 13:01] ruchichaurasia24 opened #633 "want to change links"
Hello, I'm GSSOC'22 contributor.

Issue type:
Want to correct the links.can I work on this issue.

[2022-04-12 13:55] GaganpreetKaurKalsi commented on #598
Please share the url once which you want me to clone. The one mentioned in the description is broken and I see many changes have taken place in the UI of the site.

[2022-04-12 16:20] dsasaank-369 opened #636 "Crypto Template"

[2022-04-13 01:29] dheephiga commented on #556
I would like to work on this issue

[2022-04-13 10:13] wre9-tesh opened #639 "change navbar opacity in yoga template 2"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

i want to change the opacity so that text doesnt overlap.
## **Screenshots**

![Screenshot 2022-04-13 154126](https://user-images.githubusercontent.com/96977189/163156192-a375d3ff-dbb5-4828-93ad-00f2c11546c1.jpg)

[2022-04-13 10:15] wre9-tesh commented on #639
/assign
i am a gssoc participant and want to work on this

[2022-04-14 03:59] rithik-sharma opened #641 "Architect Website"
## Issue Type:

- [ ] Bug Report
- [ yes] Feature Request
- [yes ] Documentaion

## **Describe the bug**

- It is an Amazing Architect Website with some amazing features....

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-14 04:48] DEEPIKA-SUK commented on #465
@dvlsatya currently we are not assigning any issue regarding new templates so I am closing this issue, you can open this issue after few days.

[2022-04-14 04:48] #465 closed

[2022-04-14 04:50] DEEPIKA-SUK commented on #480
@kaustav202 make the PR by today otherwise we will close this issue.

[2022-04-14 04:56] DEEPIKA-SUK commented on #518
@Sourajita21 Make the PR as soon as possible.

[2022-04-14 04:56] DEEPIKA-SUK commented on #519
@primetime71 Make the PR as soon as possible.

[2022-04-14 04:57] Sakshi-1701 opened #642 "Making E-commerce shopping website fully responsive"
## Issue Type:

- [x] Bug Report

## **Describe the bug**

1. In the mobile view, extra white spaces are there in the right corner.
2. The navbar isn't fully responsive as it leaves space on the top.
3. The footer needs to be made responsive and fixing the overflowing text.

## **Screenshots**

![issue1](https://user-images.githubusercontent.com/84696772/163316385-cee894d4-ef5a-4f8f-a742-1319ad2db

[2022-04-14 05:10] DEEPIKA-SUK commented on #629
@GaganpreetKaurKalsi try to make the PR by tomorrow.

[2022-04-14 05:13] DEEPIKA-SUK commented on #639
@wre9-tesh make the PR by today.

[2022-04-14 05:15] DEEPIKA-SUK commented on #641
@rithik-sharma Kindly fill the description properly.

[2022-04-14 05:15] wre9-tesh commented on #639
ok

[2022-04-14 06:51] devgirlcodes opened #644 "FAQ Page"
## Description

Add a frontend template for FAQ section of a website

[2022-04-14 10:07] kaustav202 commented on #480
PR linked please review @DEEPIKA-SUK

[2022-04-14 13:54] RAHULBAWA777 opened #647 "google home page ui"
i want to add google homepage ui

[2022-04-14 18:41] dewanshiPaul commented on #598
@arpit456jain  i have made half of the website clone and now the UI of the website is changed what should i do now?

[2022-04-15 06:39] stutimohta20 opened #649 "Bakery Website"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

## **Describe the bug**

- Front End Website For a Homebaker

## **Possible solution**

- Website using HTML,CSS and JS

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-15 06:41] stutimohta20 commented on #649
Please assign this to me

[2022-04-15 12:16] pushpanjali-10 commented on #649
I want to work on this issue, and can work on it on an urgent basis, can you please assign it to me??

[2022-04-15 12:17] pushpanjali-10 commented on #642
I want to work on this issue, and can work on it on an urgent basis, can you please assign it to me??

[2022-04-15 14:23] wre9-tesh opened #650 "modify yoga template 2"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- i want to add a hover effect to services section of yoga template 2 to make it more interactive.

## **Screenshots**

https://user-images.githubusercontent.com/96977189/163582342-e744a3b1-5b0a-477c-917d-ff3282148f01.mp4

[2022-04-15 14:46] wre9-tesh commented on #650
i am a gssoc particiant and want to work on this

[2022-04-16 10:18] stutimohta20 commented on #649
@arpit456jain Please assign this to me.

[2022-04-16 14:12] PraveenaPulagam commented on #469
can you assign me this project?

[2022-04-16 15:03] #629 closed

[2022-04-16 15:28] ishashukla183 commented on #630
I would like to work on this issue

[2022-04-16 15:36] ishashukla183 commented on #598
i would like to work on this issue

[2022-04-16 15:36] ishashukla183 commented on #602
i would like to work on this issue

[2022-04-16 15:37] ishashukla183 commented on #597
i would like to work on this issue

[2022-04-16 15:38] ishashukla183 commented on #606
i would like to work on this issue

[2022-04-16 15:42] Abh1shekSingh opened #652 "Theme Matched Footer"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Will make a footer which is responsive and theme matched.

[2022-04-16 15:45] Abh1shekSingh opened #653 "Modification in Welcome to lucknow Project"
## Issue Type:

- [x] Bug Report
- [x] Feature Request

## **Describe the bug**

Some required Modifications

[2022-04-16 15:50] AjeetSingh2016 opened #654 "Subscribe Newsletter"
Hey, I want to add a Template for Newsletter subscriptions.

[2022-04-16 15:53] #607 closed

[2022-04-16 15:53] #606 closed

[2022-04-16 16:02] arpit456jain commented on #621
@ak232001 we can't accept this it will contain under plag its the website made by code with harry and its already present

[2022-04-16 16:02] #621 closed

[2022-04-16 16:04] #604 closed

[2022-04-16 16:05] #615 closed

[2022-04-16 16:09] #628 closed

[2022-04-16 16:13] #639 closed

[2022-04-16 17:32] codingkush commented on #597
Me too ...

[2022-04-16 19:40] myhacktech commented on #602
I am working on this issue,as soon my current PR gets merged,i 'll create PR for this

[2022-04-17 05:45] arpit456jain commented on #598
@dewanshiPaul just continue with the previous one

[2022-04-17 05:46] arpit456jain commented on #598
@GaganpreetKaurKalsi @ishashukla183 i have another page for u guys

[2022-04-17 05:50] arpit456jain opened #655 "Clone this webpage"
url : https://data.neonscience.org/data-products/explore

![image](https://user-images.githubusercontent.com/55352601/163702387-aecd1c69-1ce8-4d7d-afd9-a7543e228bfc.png)

[2022-04-17 05:51] arpit456jain commented on #655
leave the navbar just clone the rest of the web page

[2022-04-17 09:43] #654 closed

[2022-04-17 09:44] arpit456jain commented on #653
elaborate @Abh1shekSingh

[2022-04-17 09:44] arpit456jain commented on #652
@Abh1shekSingh i have some another ideas for it will discuss later

[2022-04-17 09:44] #652 closed

[2022-04-17 09:45] arpit456jain commented on #649
@pushpanjali-10 check #655  its urgent

[2022-04-17 09:46] arpit456jain commented on #649
@stutimohta20 go ahead but  the template should be responsive

[2022-04-17 09:46] #647 closed

[2022-04-17 09:47] #641 closed

[2022-04-17 09:47] #636 closed

[2022-04-17 09:47] #633 closed

[2022-04-17 09:48] #617 closed

[2022-04-17 09:48] arpit456jain commented on #610
@mohammadshaad

[2022-04-17 09:49] arpit456jain commented on #438
@dvlsatya r u working ?

[2022-04-17 09:49] arpit456jain commented on #478
@TG922

[2022-04-17 09:50] arpit456jain commented on #481
@chickenCHRISpy @sophiastr

[2022-04-17 09:50] #487 closed

[2022-04-17 09:51] #488 closed

[2022-04-17 09:51] #491 closed

[2022-04-17 10:06] AsmaIbrahimButt commented on #490
Hi @astha2412 .Would appreciate to have a review on this pull request https://github.com/arpit456jain/Cool-Front-End-Templates/pull/578
Thanks.

[2022-04-17 10:18] AsmaIbrahimButt opened #657 "Clone of Linkdin Login page"
## Issue Type:
I want to add a clone of LInkdin Login Page.
- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion
![link](https://user-images.githubusercontent.com/89297894/163710367-adfa39c1-b115-401f-8dcd-34745c65ec41.png)

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-17 10:21] #657 closed

[2022-04-17 10:26] AsmaIbrahimButt opened #658 "Improve the footer of Chines Restaurant"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
In the chines restaurant template there is white space in footer section .I would like to improve the footer and remove that white space.
![footering](https://user-images.githubusercontent.com/89297894/163710519-925a618a-f759-4b75-b26f-34d3e9cac379.png)

## **Screenshots**

[2022-04-17 10:28] AsmaIbrahimButt commented on #658
@arpit456jain KIndly assign  me this issue.I would like to fix it.Thanks.

[2022-04-17 11:10] mohammadshaad commented on #610
Yes I am working on this issue

[2022-04-17 12:47] stutimohta20 commented on #649
Ok Thanks :)

[2022-04-17 12:57] arpit456jain commented on #658
although its looks good but u can try to improve it

[2022-04-17 15:43] AsmaIbrahimButt commented on #658
yeah,Thanks to assign me

[2022-04-17 16:20] pushpanjali-10 commented on #655
Can you assign to me ?

[2022-04-17 16:27] arpit456jain commented on #655
Go ahead @pushpanjali-10

[2022-04-17 16:36] Abh1shekSingh commented on #653
Like some UI , colors, Navbar, cards ....like that

On Sun, Apr 17, 2022, 3:14 PM Arpit Jain ***@***.***> wrote:

[2022-04-17 20:51] TG922 commented on #502
Ok @astha2412

[2022-04-19 05:46] VidhiBhatt01 commented on #556
@sachinkrr02

[2022-04-19 05:46] #519 closed

[2022-04-19 05:47] #557 closed

[2022-04-19 05:48] VidhiBhatt01 commented on #505
Both the PRs were closed @vandana3869 . Take help from someone on the discord server and fix it

[2022-04-19 05:48] #478 closed

[2022-04-19 05:50] VidhiBhatt01 commented on #469
Assigned

[2022-04-19 05:51] VidhiBhatt01 commented on #503
@TG922 any updates?

[2022-04-19 08:47] AjeetSingh2016 opened #659 "Enhancing Gym template UI"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- The navbar is not visible and the registration form is not well improved.

## **Possible solution**

- I want to improve all problems related to styling and enhanced the UI.

## **Screenshots**
![Gym SS](https://user-images.githubusercontent.com/80536741/163963056-b933ce0a-48f6-415c-9ea4-ab0399984

[2022-04-19 09:24] arpit456jain commented on #597
go ahead @codingkush

[2022-04-19 09:34] aaryahjolia commented on #558
Can I work on this under GSSoC ?

[2022-04-19 13:27] #594 closed

[2022-04-19 16:32] #562 closed

[2022-04-19 18:18] arpit456jain commented on #655
@pushpanjali-10

[2022-04-19 18:19] arpit456jain commented on #598
@dewanshiPaul

[2022-04-19 18:20] #466 closed

[2022-04-19 18:21] #481 closed

[2022-04-19 18:23] #490 closed

[2022-04-19 18:23] arpit456jain commented on #518
@Sourajita21

[2022-04-19 18:25] arpit456jain commented on #520
@Sourajita21

[2022-04-19 18:25] dewanshiPaul commented on #598
Ok i will try to complete it soon. Exams are going

[2022-04-19 18:26] arpit456jain commented on #556
@dheephiga r u interested ?

[2022-04-19 18:27] arpit456jain commented on #558
@ez-sherlock updates ?

[2022-04-19 18:28] arpit456jain commented on #576
@TadrupDas np just make PR we only need front end not the backend

[2022-04-19 18:29] arpit456jain commented on #603
@Vanshika7902 make PR within 3 days

[2022-04-19 18:29] arpit456jain commented on #608
@Anish-Parkhi

[2022-04-19 18:30] arpit456jain commented on #616
@ak232001

[2022-04-19 18:31] #630 closed

[2022-04-19 18:31] arpit456jain commented on #644
@devgirlcodes

[2022-04-19 18:32] #659 closed

[2022-04-19 19:33] TG922 commented on #503
Sorry for the delay I was busy in SIH 22 and will complete it ASAP. I know it's too late to close this issue.

[2022-04-20 01:13] dheephiga commented on #556
Yes

[2022-04-20 01:26] PraveenaPulagam commented on #469
okk

[2022-04-20 04:40] sainiteshb opened #663 "Blogging website"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

## **Describe the bug**

- Blogging website to let blogger display their blogs to the users.

## **Possible solution**

- A responsive website using html,css and js.
- Assign me ,so i can continue developing the website.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-20 04:43] sainiteshb commented on #663
Please assign me this ,so i can continue developing the website, thank you.

[2022-04-20 07:50] #480 closed

[2022-04-20 07:53] arpit456jain opened #666 "remove some entries from json file"
i had deleted some templates from the repo that's why its not showing on website

so delete those entries from json

[2022-04-20 08:19] pushpanjali-10 commented on #655
almost done.

[2022-04-20 14:07] codingkush commented on #597
Ok..

[2022-04-20 20:12] TG922 opened #668 "Adding New Contact Page in Ecommerce shopping website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Contact us page on the eCommerce shopping website is not well.

## **Possible solution**

- I would like to Add New Contact Page on the eCommerce shopping website

## **Screenshots**

![Image31](https://user-images.githubusercontent.com/70098839/164314441-e6cf4af9-1ee8-4ee6-bb0a-0621c8050e64.PNG)

[2022-04-21 04:14] Aritra777 commented on #666
I want to work in  this under gssoc22

[2022-04-21 04:56] codingkush commented on #597
How many templates wil  be show in tablet mode...??  Right now only one templates is showing...

[2022-04-21 09:54] #602 closed

[2022-04-21 09:56] #653 closed

[2022-04-21 09:57] arpit456jain commented on #668
@TG922 first complete the issues assigned to u

[2022-04-21 09:57] #668 closed

[2022-04-21 09:59] arpit456jain commented on #663
.

[2022-04-21 09:59] #663 closed

[2022-04-21 12:33] TG922 commented on #503
Sorry, I'm having exams from Monday onwards I will not be able to contribute right now. Make this issue open for all !!

Still, I enjoyed it a lot while exploring and contributing to open-source projects.

[2022-04-21 12:34] #503 closed

[2022-04-21 19:04] pushpanjali-10 commented on #655
it is giving some error.

[2022-04-21 19:04] pushpanjali-10 commented on #655
It is giving some error and taking time

[2022-04-21 21:01] TG922 commented on #668
Ok @arpit456jain

[2022-04-22 01:46] codingkush commented on #597
Pls tell me...

[2022-04-22 10:13] arpit456jain commented on #597
2 will be good

[2022-04-22 13:53] #649 closed

[2022-04-22 13:54] #502 closed

[2022-04-22 13:55] arpit456jain commented on #666
@Aritra777

[2022-04-22 13:55] arpit456jain commented on #658
@AsmaIbrahimButt updates

[2022-04-22 15:08] AsmaIbrahimButt commented on #658
@arpit456jain  yeah,it almost done i will open a pull request soon.

[2022-04-22 15:09] AsmaIbrahimButt commented on #490
@arpit456jain  ,yeah,Thanks

[2022-04-22 16:32] SupriyaGembali opened #671 "Haldiram's Website Clone"
Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Haldiram's Website Clone

The idea behind this project
This is a well Known Food Company
Please refer to the images below:
<img width="960" alt="ss1" src="https://user-images.githubusercontent.com/94470209/164533997-482c178a-6c0c-4c76-87cf-fa8532af9695.png">
<img width="960" alt="ss2" src

[2022-04-22 16:48] VidhiBhatt01 commented on #556
@dheephiga you are assigned! Make the PR within 5/7 days

[2022-04-22 16:49] VidhiBhatt01 commented on #558
@aaryahjolia assigned to you

[2022-04-22 16:49] VidhiBhatt01 commented on #576
@TadrupDas

[2022-04-22 16:50] VidhiBhatt01 commented on #616
@ak232001 final call, are you working on it?

[2022-04-22 17:06] TG922 commented on #505
I can do it assign it to me

[2022-04-22 17:44] eswarbhageerath opened #673 "Adobe Photoshop Website Clone"
Hii I'm a GSSoc22 contributor and I'm willing to make a pull request in this repository on my project which is Clone Of Adobe Photoshop Website

The idea behind this project
This is a very mini project which looks similar to the famous Photo editing website Adobe Photoshop.

Please refer to the images below:
![ss1](https://user-images.githubusercontent.com/76146796/164766671-e6d7a864-77d6-448c-af8

[2022-04-23 05:48] SupriyaGembali commented on #655
@arpit456jain Please assign this issue to me, I can make it by today itself

[2022-04-23 06:38] AsmaIbrahimButt opened #677 "Correct the alignment"
## Issue Type:

- [1] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

The alignment of the simple dark login form is not perfect.I want to give proper alignment in the input field and label.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![alignment](https://user-im

[2022-04-23 06:39] AsmaIbrahimButt commented on #677
@arpit456jain Kindly assign me this issue.

[2022-04-23 08:50] shubhra-g opened #678 "fashion website"
An interactive shopping website using HTML , CSS and javascript

[2022-04-23 08:51] shubhra-g commented on #678
Kindly assign me to this issue

[2022-04-23 13:15] Kamleshseervi commented on #658
Please assign me this issue

[2022-04-23 13:18] Kamleshseervi commented on #438
Assign me

[2022-04-23 13:26] arpit456jain commented on #438
@Kamleshseervi

[2022-04-23 13:28] eswarbhageerath commented on #673
@arpit456jain Please assign this issue to me

[2022-04-23 13:31] Kamleshseervi opened #679 "Wanted to add navigation bar in glassmorphic profile card"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-23 13:49] arpit456jain commented on #673
@eswarbhageerath make PR within 3 days

[2022-04-23 17:05] Abh1shekSingh opened #681 "NEW UI FOR THE TECHNOLOGY PAGE PROJECT"
## Issue Type:

- [x] Bug Report
- [x] Feature Request

## **Describe the bug**

The Problems Are:
1. Images are stretched out in card components.
2. Font Styling is not done, that look kinda boring
3. Colors are not attractive
4. Some more Fewer Details ; I will try to fix those

[2022-04-23 17:05] Abh1shekSingh commented on #681
@arpit456jain @VidhiBhatt01 Please Assign the Task

[2022-04-23 19:53] nouraan-ahmed opened #682 "Add Gym Website template"
## Issue Type:
-  Feature Request

## **Describe the project**
An interactive Gym website using HTML , CSS and javascript

[2022-04-23 19:55] nouraan-ahmed commented on #682
@VidhiBhatt01 Please assign me to this task

[2022-04-23 19:57] astha2412 commented on #505
How much time u need ?? @TG922 Complete it asap....otherwise I will close your issue.

[2022-04-23 19:59] astha2412 commented on #518
@Sourajita21 if u r not working on this issue then plz let us know........will give chance to others!

[2022-04-23 19:59] astha2412 commented on #520
@Sourajita21 ?

[2022-04-23 20:02] astha2412 commented on #644
@devgirlcodes Complete your issue asap!

[2022-04-23 20:02] #642 closed

[2022-04-23 20:03] #611 closed

[2022-04-23 20:04] astha2412 commented on #610
@mohammadshaad Make PR fast!

[2022-04-23 20:04] astha2412 commented on #608
@Anish-Parkhi Complete your issue asap!!!

[2022-04-23 20:05] astha2412 commented on #603
@Vanshika7902 ???

[2022-04-23 20:07] #597 closed

[2022-04-23 20:07] TG922 commented on #505
I will send PR for this issue within 4-5hour

[2022-04-23 20:08] nouraan-ahmed opened #684 "Add Travel Agency Website Template"
## Issue Type:

- [x] Feature Request

## **Describe the project**

I have created An interactive Travel Agency website using HTML , CSS and javascript

[2022-04-23 20:10] nouraan-ahmed commented on #684
please assign me to this task
@arpit456jain @ankitapuri @VidhiBhatt01 @astha2412

[2022-04-24 00:14] TG922 commented on #505
There is some problem with this website!!

Elements of navbar getting overlapped by **Recipes**,**Iconic Chefs Of India** section.

Just for creating a responsive header for this website, it requires redesigning the whole website. I'm closing this issue !!

[2022-04-24 00:14] #505 closed

[2022-04-24 04:15] Sourajita21 commented on #518
Yeah unfortunately I can't work in this issue.

On Sun, 24 Apr, 2022, 1:29 am Kumari Astha Rani, ***@***.***>
wrote:

[2022-04-24 04:16] Sourajita21 commented on #520
Yeah unfortunately I can't work in this issue.

On Sun, 24 Apr, 2022, 1:30 am Kumari Astha Rani, ***@***.***>
wrote:

[2022-04-24 07:59] Abh1shekSingh opened #688 "Guardian Gym Project Changes"
## Issue Type:

- [x] Bug Report
- [x] Feature Request

## **Describe the bug**

I will Do the Following Chnages
1. Color Scheme
2. Font
3. New UI
4. Use of Attractive images to showcase our facility
5. More attractive UI design
6. I have some design in my mind which i would love to code

[2022-04-24 07:59] Abh1shekSingh commented on #688
PLease Assign the Task

[2022-04-24 12:42] Kamleshseervi commented on #679
navigation bar sucessfully

[2022-04-24 12:46] Kamleshseervi opened #689 "want to create a music website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-24 18:11] Abh1shekSingh commented on #688
@VidhiBhatt01 @arpit456jain Please Assign the Task

[2022-04-24 18:11] yash-25log opened #690 "Hysky website"
### Description

responsive website build
using html css js

This website can be used by any club in robotics
This mainly promotes any robotic teams service like a portfolio website

project gallery-
![image](https://user-images.githubusercontent.com/58944204/164742468-33f95adc-e4e1-4f97-9591-93201f35e6f1.png)
![image](https://user-images.githubusercontent.com/58944204/164742543-c813c15a-9cc0-4246

[2022-04-24 18:12] yash-25log commented on #690
/assign

[2022-04-24 19:22] arpit456jain commented on #688
which guardian gym project share the link

[2022-04-25 02:52] Abh1shekSingh commented on #688
https://cool-front-end-templates.netlify.app/gym%20website/

[2022-04-25 02:52] Abh1shekSingh commented on #688
The above one @arpit456jain

[2022-04-25 05:18] #666 closed

[2022-04-25 12:38] eswarbhageerath opened #692 "Adobe website clone"
This is the clone of the adobe website

**Project title**
Adobe  Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

[2022-04-25 12:39] eswarbhageerath commented on #692
@arpit456jain Please assign this issue to me

[2022-04-25 13:20] devgirlcodes commented on #644
@astha2412 My midsems are going on. I will send a PR by 30th April

[2022-04-25 16:46] VidhiBhatt01 commented on #682
You can not raise a PR before the issue is assigned. Be careful from next time else the PR will be marked as invalid

[2022-04-25 16:46] VidhiBhatt01 commented on #684
We already have similar templates

[2022-04-25 16:46] #684 closed

[2022-04-25 16:47] VidhiBhatt01 commented on #688
One pending PR rn of this website. Wait till it get's merged. @Abh1shekSingh

[2022-04-25 16:48] VidhiBhatt01 commented on #689
We already have similar projects

[2022-04-25 16:48] #689 closed

[2022-04-25 16:50] VidhiBhatt01 commented on #692
You already have created a similar issue

[2022-04-25 16:52] eswarbhageerath commented on #692
@VidhiBhatt01 This is Adobe Website clone and that was adobe photo shop clone...they are different

[2022-04-25 16:55] VidhiBhatt01 commented on #692
My bad, just reopen this!

[2022-04-25 16:56] eswarbhageerath opened #694 "Adobe website clone"
This is the clone of the adobe website

**Project title**
Adobe  Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

[2022-04-25 16:57] eswarbhageerath commented on #692
@VidhiBhatt01 Reopened the issue Adobe website clone #694

[2022-04-25 17:10] Abh1shekSingh commented on #688
Okay !

[2022-04-25 17:22] myhacktech opened #696 "the travel website is not responsive"
## Issue Type:
link of travel website:https://cool-front-end-templates.netlify.app/travel%20website%20template-1/
- [ ] Feature Request

## **Describe the bug**

background image does not completely fits to the window on changing resolution.

## **Possible solution**
can be made responsive
![Screenshot (327)](https://user-images.githubusercontent.com/86517958/165140815-06f22681-2a36-4da8-8c60-5d21

[2022-04-25 17:32] yash-25log opened #697 "Alumni tracking Website"
Built a static website in collaboration with team techno-maits for mits gwalior hackathon

tech stack-
reactjs + CSS

https://mitss.vercel.app/
site preview

responsive as well

dashboard  for the system isn't hosted as i had to remove backend and dashboard files due to bugs for now

[2022-04-26 12:16] #694 closed

[2022-04-26 14:29] Keyurchaniyara opened #698 "dark theme website for Cafetria"
Issue Type:

- [x] frontend page
- [x] making this page Responsive

Possible solution:
Hello
I am a GSSoC22 contributor. I will be delighted to make a fully responsive dark theme website for the cafeteria. Please do assign this to me.

Thank You :)

[2022-04-26 18:39] #697 closed

[2022-04-26 18:42] #690 closed

[2022-04-26 19:20] Sukriti-m opened #699 "NVIDIA Clone"
### Description

I want to create a NVIDIA HomePage Clone using the following tech stack:

- HTML

- CSS

- Javascript

I am a GSSoC contributor. I'd be grateful if you could assign this issue to me.

[2022-04-26 21:46] Abhilasha-Jairath commented on #608
Hey !! I want to work on this under GSSOC2022. I can improve the UI few days. Can you assign it to me !?

[2022-04-27 05:17] Anish-Parkhi opened #700 "Add new template of News website"
## Issue Type:

- [ ] Bug Report
- [X] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-27 06:13] astha2412 commented on #608
Make PR ASAP!

[2022-04-27 14:44] Abh1shekSingh opened #701 "URL Shortener Landing Page Template"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Like I have Created a Landing Page concepts of some Projects. Let say in future, some one wants to open a company / startup or something. He Can really take an inspiration from our templates and can code their website for the startups.

## **Screenshots**
![url](https://user-images.githubusercontent.com/71981463/165545107-bcb06827-5cd

[2022-04-27 14:44] Abh1shekSingh commented on #701
@arpit456jain Can this be Assigned to me ?

[2022-04-27 15:39] #681 closed

[2022-04-28 13:13] BabyElias commented on #556
In case this issue is still open & needed, I am interested in taking it up :)

[2022-04-28 17:34] Abhilasha-Jairath commented on #608
I have cloned the website , but I couldn't find the Hotel website , can you direct me to it .

[2022-04-28 18:42] SupriyaGembali opened #707 "Google Forms Website Clone"
This is the clone of the Google Forms website

**Project title**
Google Forms  Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

[2022-04-29 12:57] DEEPIKA-SUK commented on #469
@PraveenaPulagam Make PR.

[2022-04-29 13:01] DEEPIKA-SUK commented on #556
@dheephiga Make PR otherwise we will assign this issue to someone else.

[2022-04-29 15:46] Abh1shekSingh commented on #701
https://www.frontendmentor.io/challenges

On Fri, Apr 29, 2022 at 8:17 PM Arpit Jain ***@***.***> wrote:

[2022-04-29 16:03] aaryahjolia opened #709 "Adding favicon in other pages"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

The favicon is there in main page (cool front end templates page) but not in other pages, So I want to add the favicon in all the pages of website so it will look good.

## **Possible solution**

Adding favicon to all the html pages so the website will look more good.

## **Screenshots**

![GSSoC](h

[2022-04-29 16:06] aaryahjolia opened #710 "Adding link to home page in image in navbar"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Every website has the image in navbar linked to their home page so it can serve as a quick navigation tool.

## **Possible solution**

I will like to add home page link (front end templates page) to the image in navbar.

## **Screenshots**

![GSSoC](https://user-images.githubusercontent.com/82600388/165982137-294aad52-4fd9-407c-b66c-5

[2022-04-29 17:35] arpit456jain commented on #655
@pushpanjali-10 complete it by tomorrow otherwise it will be assigned to @SupriyaGembali

[2022-04-29 17:36] arpit456jain commented on #598
@dewanshiPaul make PR asap

[2022-04-29 18:40] harshraj29 opened #711 "Coffee website template"
I want to create a coffee website landing page template using the following tech stack:

    HTML

    CSS

    Javascript

I am a GSSoC contributor. I'd be grateful if you could assign this issue to me.

[2022-04-29 21:55] MonarchGitHub opened #712 "Adding Valorant Website Clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

I want to clone the **Valorant website**, the website has lots of cool animations and it will be a good learning resource for upcoming web developers who will explore the code. You can take a look at their website [HERE](https://playvalorant.com/en-us/).

## **Screenshots**

![image](https://user-im

[2022-04-29 21:56] MonarchGitHub commented on #712
Kindly assign this issue to me under Gssoc22.

[2022-04-30 05:13] #688 closed

[2022-04-30 06:14] Abh1shekSingh opened #713 "Want to Give new interface to {Chinese Restaurant Project}"
## Issue Type:

- [x] Bug Report
- [x] Feature Request

## **Describe the bug**

Not attractive Design
Not Attractive Fonts

## **Possible solution**

Krlenge kuch toh

[2022-04-30 06:14] Abh1shekSingh commented on #713
@VidhiBhatt01 @arpit456jain @DEEPALI-SUK @astha2412 Can i get assigned to this issue

[2022-04-30 06:17] Abh1shekSingh commented on #701
@VidhiBhatt01 Yeh Waali website nhi hai aapke repo men mene check kiya hai abhi

[2022-04-30 11:36] srinjoy-26 opened #714 "A thanking SVG page"
## Issue Type:

Add a new project

### Description
A SVG webpage for thanking this repo , which helped me step into the world of open source due to its beginner friendly projects.

Tech stack : -
- HTML5
- CSS3
- SVG waves from getwaves.io

## **Screenshots**

something similar to this
<img width="960" alt="Screenshot 2022-04-10 234852" src="https://user-images.githubusercontent.com/91176055/16610

[2022-04-30 11:59] DragonUncaged opened #715 "Medical Insurance Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Website calculates the medical Insurance bill

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/72241207/166104530-438dcf91-c932-4717-bc30-3627b3ec2760.png)

[2022-05-01 08:51] #673 closed

[2022-05-01 10:07] DragonUncaged commented on #715
#Assign me.

[2022-05-01 10:20] DragonUncaged opened #720 "Avatar Creator"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Avatar creator will help to customize the face color hair color dress and hair style to create the face

## **Possible solution**

- A slider to select different customization

## **Screenshots**

![image](https://user-images.githubusercontent.com/72241207/166101212-50395bf8-9e47-494c-a0c9-ec826a0

[2022-05-01 10:45] Areebah03 opened #721 "Travel-website-template-1"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe Issue*

- I want to improve Travel-website-template-1. Please assign it to me.

## **Screenshots**

![ss](https://user-images.githubusercontent.com/85051124/166142543-48df4b4b-90ab-45ef-a990-535ac7d9d0fd.png)

[2022-05-01 14:40] Abh1shekSingh opened #722 "Want to Add HUDDLE Landing Page"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

A Huddle Landing Page

## **Possible solution**

Will develop website using HTML CSS and Javascript

## **Screenshots**

![huddle](https://user-images.githubusercontent.com/71981463/166150870-07e0cb33-a19b-48f8-a651-81d7566421b6.JPG)

[2022-05-01 14:41] Abh1shekSingh commented on #722
@astha2412 @VidhiBhatt01 @DEEPALI-SUK Can you please assign me this

[2022-05-01 14:49] Abh1shekSingh opened #723 "CRUD based Interactive Comment Section"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

CRUD based Application (Small Project)

## **Possible solution**

made using HTML CSS JAVASCRIPT

## **Screenshots**

![sorting](https://user-images.githubusercontent.com/71981463/166151204-cc3b9b8c-88bf-4a85-a74c-7844c20a6d4e.JPG)

[2022-05-01 14:49] Abh1shekSingh commented on #723
@astha2412 @VidhiBhatt01 @DEEPALI-SUK Please assign the task to me

[2022-05-01 16:24] DragonUncaged commented on #720
assign me

[2022-05-01 18:35] eswarbhageerath opened #725 "Go Daddy Website Clone"
This is the clone of the Go Daddy website

**Project title**
Go Daddy Website Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

[2022-05-01 18:44] SupriyaGembali opened #727 "Start Page Search Engine Clone"
**Description**

This is the clone of the Search Engine Start Page

**Project title**
Start Page Search Engine Clone

**Stack**:

- [x] Html
- [x] CSS
- [x] JavaScript

**Screenshots**
![image](https://user-images.githubusercontent.com/94470209/166159967-827c1fcf-ef08-49f3-909a-ad4b0b369744.png)

[2022-05-01 18:44] SupriyaGembali commented on #727
/assign

[2022-05-01 18:58] #603 closed

[2022-05-01 19:01] #610 closed

[2022-05-01 19:02] #616 closed

[2022-05-01 19:05] DEEPIKA-SUK commented on #677
@AsmaIbrahimButt make PR by tomorrow otherwise we will close this issue.

[2022-05-01 19:05] DEEPIKA-SUK commented on #678
@shubhra-g Make pr by tomorrow otherwise we will close this issue.

[2022-05-01 19:07] DEEPIKA-SUK commented on #696
@myhacktech make pr by tomorrow or we will close this issue.

[2022-05-01 19:10] DEEPIKA-SUK commented on #709
@aaryahjolia try to complete it in 2 days.

[2022-05-01 19:11] myhacktech commented on #696
ok

[2022-05-02 00:08] #715 closed

[2022-05-02 00:09] DragonUncaged opened #729 "Medical Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Website calculates the medical Insurance bill

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/72241207/166104530-438dcf91-c932-4717-bc30-3627b3ec2760.png)

[2022-05-02 00:46] DragonUncaged opened #730 "Slider to Change the Time"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![preview](https://user-images.githubusercontent.com/72241207/166171962-0dbefce0-44b1-4f4c-ad68-936291f5a16f.gif)

[2022-05-02 01:08] DragonUncaged opened #731 "Calendar"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Scrollable calendar

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- ![image](https://user-images.githubusercontent.com/72241207/166173004-5e1dc6f0-633b-4c7f-a2b4-d46967a7adfa.png)

[2022-05-02 09:09] AsmaIbrahimButt commented on #677
@DEEPIKA-SUK I checked someone is already update it :).There is no issue.

[2022-05-02 09:09] #677 closed

[2022-05-02 12:59] #722 closed

[2022-05-02 13:00] #698 closed

[2022-05-02 13:02] arpit456jain commented on #730
add this is in amazing css effects

[2022-05-02 13:02] #730 closed

[2022-05-02 13:02] arpit456jain commented on #731
add this in amazing css effects

[2022-05-02 13:02] #731 closed

[2022-05-02 13:03] Abh1shekSingh commented on #723
@DEEPALI-SUK @astha2412  can I get assign to this also please

[2022-05-02 13:04] #710 closed

[2022-05-02 13:05] arpit456jain commented on #721
@Areebah03 we need pages in this template
its in complete template

[2022-05-02 13:06] arpit456jain commented on #721
wait for closing the issue #696

[2022-05-02 13:07] #518 closed

[2022-05-02 13:07] #598 closed

[2022-05-02 13:07] #443 closed

[2022-05-02 13:08] #520 closed

[2022-05-02 13:08] #556 closed

[2022-05-02 13:09] arpit456jain commented on #655
@SupriyaGembali go ahead

[2022-05-02 14:01] SupriyaGembali commented on #655
@arpit456jain I have made it free of errors and limited the page to few display items with simple functionality. Please review

[2022-05-02 14:44] aaryahjolia commented on #709
As I'll have to work on sibling repo (Amazing-Css-efffects and Amazing-JS-projects), Please assign me the issue opened in respective repo, the links for which are below :
[https://github.com/arpit456jain/Amazing-Js-Projects/issues/595](https://github.com/arpit456jain/Amazing-Js-Projects/issues/595)
[https://github.com/arpit456jain/Amazing-Css-Effects/issues/597](https://github.com/arpit456jain/Ama

[2022-05-02 16:53] Abh1shekSingh opened #737 "ClipBoard Landing Page {Software Product Based Landing Page}"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

I have design and developing an Clipboard Landing Page using HTML, CSS .

## **Possible solution**

Will make responsive a Landing Page using CSS and HTML

## **Screenshots**

![sample](https://user-images.githubusercontent.com/71981463/166290571-61746e3d-d559-4a6a-a09d-132107dfdbf7.JPG)

[2022-05-03 05:18] soumali28 opened #738 "Discord UI template"
## Issue Type:

- [x] Feature Request

## **Describe **
Want to add the UI of the discord webapp.

[2022-05-03 08:22] aaryahjolia opened #740 "App Blocker Chrome Extension UI"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

I want to add a Chrome extension UI with manifest.json file. It is a 3 page small chrome extension UI that looks perfect.

## **Possible solution**

To Make a chrome extension and to also add steps on how to see the extension in your local chrome browser with help of manifest.json file.

## **Screen

[2022-05-03 08:28] aaryahjolia opened #741 "A 3-4 Page fully responsive health insurance website UI"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

I want to make a 3-4 Page fully responsive insurance website UI that will look good in terms of UI.

## **Screenshots**

As I've only started making it, It will take some time to code the website.

[2022-05-03 08:35] aaryahjolia opened #742 "A single paged food delivery website UI fully responsive"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

I would like to add a fully responsive single page food delivery website with a simple UI.

## **Screenshots**

![image](https://user-images.githubusercontent.com/82600388/166425060-1fb9703f-73fa-4d15-8726-27504ad7793d.png)

[2022-05-03 08:50] Abh1shekSingh commented on #737
@VidhiBhatt01 @astha2412 @DEEPALI-SUK Please Can i get assign to this

[2022-05-03 11:20] VidhiBhatt01 commented on #742
We already have something similar

[2022-05-03 11:20] #742 closed

[2022-05-03 14:41] #709 closed

[2022-05-03 17:10] DragonUncaged opened #746 "Pure CSS Battery Layout"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Pure CSS Battery Layout

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- ![image](https://user-images.githubusercontent.com/72241207/166504102-b0c4a2c6-f771-45e4-8e7e-810b3c572f32.png)

[2022-05-03 17:18] DragonUncaged opened #747 "Cart Menu"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Ecommerce Cart

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- ![image](https://user-images.githubusercontent.com/72241207/166505323-0ccbead0-4bbb-4a0d-a1aa-9722fc41fa5c.png)

[2022-05-04 06:40] khushigupta123 opened #748 "Add character counter website"
## Issue Type:

- [x] Feature Request

## **Project description**

 I want to add a website that will count the number of characters in your text. It will contain the following features:
- tell character count
- copy text option
- paste recent clipboard text option

I am a GSSOC' 22 contributor,
please assign this issue to me

[2022-05-04 08:13] #720 closed

[2022-05-04 12:46] DEEPIKA-SUK commented on #678
@shubhra-g Make it responsive for all width sizes.
![Screenshot (123)](https://user-images.githubusercontent.com/64724039/166683868-249564e8-13ca-4ab8-b1ab-f0237009eb2f.png)
![Screenshot (124)](https://user-images.githubusercontent.com/64724039/166683910-1f59ea97-d456-44d0-be06-9065d85914a0.png)

[2022-05-04 13:10] RAHULBAWA777 opened #749 "exotic cars website template"
home page template of exotic cars

[2022-05-04 13:26] #558 closed

[2022-05-04 13:26] DEEPIKA-SUK commented on #608
@astha2412

[2022-05-04 13:27] DEEPIKA-SUK commented on #644
@devgirlcodes make PR otherwise this issue will get closed.

[2022-05-04 13:29] DEEPIKA-SUK commented on #679
@Kamleshseervi Where is the PR??

[2022-05-04 13:46] RAHULBAWA777 opened #750 "tech blog website"
blog template website is fully responsive

[2022-05-04 13:52] RAHULBAWA777 opened #751 "travel website"
travel website homepage template (bootstrap) :)

[2022-05-04 13:57] RAHULBAWA777 opened #752 "Cnn news website"
Cnn news website template  home page

[2022-05-04 15:31] Abh1shekSingh opened #754 "Insurance Landing Page"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

I have Build an Insurance Landing Page with HTML CSS JS

## **Screenshots**

![Capture](https://user-images.githubusercontent.com/71981463/166716824-ac2854f2-86a9-4619-8f9c-0b038b10adac.JPG)

[2022-05-04 15:34] Abh1shekSingh opened #755 "Testimonial Design Example"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Testimonials Design Example { Might helpful for you **CODING EASY** WEBSITE }

## **Screenshots**

![1](https://user-images.githubusercontent.com/71981463/166717266-4dfbf6aa-4cb6-4037-a7cb-e4f9270c4112.JPG)

[2022-05-04 17:51] #701 closed

[2022-05-04 17:51] VidhiBhatt01 commented on #713
any updates?

[2022-05-04 17:54] VidhiBhatt01 commented on #746
Don't you think this will be more suitable in CSS effects repo?

[2022-05-04 17:59] #750 closed

[2022-05-04 18:57] #727 closed

[2022-05-04 18:57] #737 closed

[2022-05-04 18:59] #714 closed

[2022-05-04 19:40] DragonUncaged commented on #746
okay

[2022-05-04 21:56] DragonUncaged opened #756 "Reward Points Mobile UI"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Mobile Version Website For Reward Points

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![preview2](https://user-images.githubusercontent.com/72241207/166832347-ed34f1ad-7af8-4b26-ac7b-ccd26b3

[2022-05-04 21:58] DragonUncaged commented on #747
DM you On Discord
my Discord is @DragonUncaged

[2022-05-04 22:02] #746 closed

[2022-05-04 22:17] DragonUncaged opened #758 "Recipe Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/72241207/166834522-2431ecc3-247b-44a2-8cf6-5a24df882891.png)

[2022-05-05 02:28] Abh1shekSingh commented on #713
Kr raha hu, thoda internship ka prep bhi chl raha hai, isliye late ho gya

[2022-05-05 04:11] #723 closed

[2022-05-05 06:11] SarthakSKumar opened #762 "Portfolio Website Template"
Hey there.
I would like to add a Personal Portfolio Website Template to the Repo, with features like Dark/Light Mode, Swipers, Etc. I will be doing this using HTML, CSS and JS.

[2022-05-05 06:26] RAHULBAWA777 commented on #749
I don't have any design as of yet ... I'm making it completely on my own idea .
I should be able to complete it within a week.
it will have a navbar, image of the car, below it will be the description of the car and a common typical footer with contact , careers etc

[2022-05-05 06:35] DragonUncaged opened #763 "Nestle Packet Nutrition Clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Nutrition Info Website

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/72241207/166873259-1e106f3a-eb27-4af2-be6c-194628dbf12f.png)

[2022-05-05 06:44] DragonUncaged opened #764 "Step by step Process Frontend"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Step by Step Process

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![preview2](https://user-images.githubusercontent.com/72241207/166874222-a436141a-7a3b-4f32-b783-469d5dce45af.gif)

[2022-05-05 08:45] RAHULBAWA777 opened #765 "Scooter website"
Scooter website
SS -
![Screenshot (286)](https://user-images.githubusercontent.com/91609324/166890078-e693732a-42de-469f-a3ea-7ccfd01f6fb0.png)

[2022-05-05 10:03] DragonUncaged opened #766 "NFT Viewer"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- it is website for buying NFT mostly 3d nft the screenshot represents it correctly

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb4PTZxC8MrZOLXCkZaAl7C80cUJbtOd6h7woc7FpYLAtMti6c)

[2022-05-05 10:30] DragonUncaged opened #768 "Nav Bar Animated"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Animated NavBar

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![preview](https://user-images.githubusercontent.com/72241207/166906102-17e5e986-4805-4992-8b42-22c331b4cabf.gif)

[2022-05-05 10:43] #725 closed

[2022-05-05 18:35] DEEPIKA-SUK commented on #682
@nouraan-ahmed make pr by today.

[2022-05-05 18:40] DEEPIKA-SUK commented on #758
@DragonUncaged add more description of the issue.

[2022-05-05 18:42] DEEPIKA-SUK commented on #762
@SarthakSKumar Portfolio template project already exists.  You can do changes in that.

[2022-05-05 18:42] #762 closed

[2022-05-05 18:45] DEEPIKA-SUK commented on #766
@DragonUncaged add clear description.

[2022-05-05 18:46] DEEPIKA-SUK commented on #768
@DragonUncaged open this issue in css project.

[2022-05-05 18:46] #768 closed

[2022-05-06 03:05] SarthakSKumar commented on #762
Thank you for your reply. The one I was planning to add was entirely different from the one already in the repo. It is a single-page website, with editable sections, smooth transitions, dark/light modes, and a more appealing UI. Please let me know if I can work on this. Thanks again😅 @DEEPIKA-SUK @arpit456jain

[2022-05-06 04:08] yash-25log opened #770 "Sspace X website clone"
Cloning space x website

Currently making it responsive

Also let me know the features i should add to get level 3

Tech stack
Html
Css
Js

[2022-05-06 04:38] #770 closed

[2022-05-06 05:50] #608 closed

[2022-05-06 06:08] #469 closed

[2022-05-06 06:43] #765 closed

[2022-05-06 06:43] #752 closed

[2022-05-06 06:44] #749 closed

[2022-05-06 11:19] #679 closed

[2022-05-06 11:23] DEEPIKA-SUK commented on #712
@MonarchGitHub do it within 2 days.

[2022-05-06 11:38] DragonUncaged commented on #729
I will do it by today

[2022-05-06 13:25] aaryahjolia commented on #741
[https://github.com/arpit456jain/Cool-Front-End-Templates/pull/769](https://github.com/arpit456jain/Cool-Front-End-Templates/pull/769)
I'm waiting for this to be merged. Or can I fork again and make a new PR ?

[2022-05-06 16:44] DEEPIKA-SUK commented on #712
@arpit456jain

[2022-05-07 08:31] #740 closed

[2022-05-07 08:43] DragonUncaged opened #773 "Market Share Graph Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Market Share graph And Data in the Table

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

[2022-05-07 13:48] YatreeLadani opened #774 "Amazing restaurant website"
## Issue Type:

- [ ] frontend page
- [ ] making this page Responsive

## Possible solution:

Hello,
I am a GSSoC22 contributor. I will be delighted to make a fully responsive website for the restaurant. Please do assign this to me.

Thank You :)

[2022-05-07 14:47] #741 closed

[2022-05-07 21:10] arpit456jain commented on #774
already present

[2022-05-07 21:10] #774 closed

[2022-05-08 04:30] YatreeLadani opened #776 "University website"
## Issue Type:

- [x] frontend page
- [x] making this page Responsive

## Possible solution:
Hello,
I am a GSSoC22 contributor. I will be delighted to make a fully responsive website for the university. Please do assign this to me.

Thank You :)

[2022-05-08 05:14] #576 closed

[2022-05-08 11:55] #700 closed

[2022-05-08 11:56] #671 closed

[2022-05-08 12:01] #678 closed

[2022-05-08 12:28] #682 closed

[2022-05-08 12:30] DEEPIKA-SUK commented on #712
@MonarchGitHub First make the PR.

[2022-05-08 20:00] #729 closed

[2022-05-08 20:05] #738 closed

[2022-05-08 20:09] #756 closed

[2022-05-08 20:10] #747 closed

[2022-05-08 20:14] arpit456jain opened #779 "make NeonScience clone responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

![image](https://user-images.githubusercontent.com/55352601/167314141-b58a5638-b60d-40ee-8b0e-30e1c91e293a.png)

[2022-05-08 20:16] #655 closed

[2022-05-08 20:18] #696 closed

[2022-05-08 20:19] arpit456jain commented on #721
@Areebah03  start working on it u have 4 days

[2022-05-08 20:20] arpit456jain commented on #712
lvl will be given on the basis of work

[2022-05-08 20:20] arpit456jain commented on #712
@MonarchGitHub make PR asap

[2022-05-08 20:25] MonarchGitHub commented on #712
I'm on it, will do it by EOD max 👍

[2022-05-09 00:49] DragonUncaged opened #781 "Otp Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A OTP page UI
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/72241207/167323251-8c0391e9-f29b-4c5b-9938-60cae390ea0e.png)

[2022-05-09 13:04] #754 closed

[2022-05-09 13:05] #755 closed

[2022-05-09 13:06] #764 closed

[2022-05-09 13:07] #763 closed

[2022-05-09 13:08] #766 closed

[2022-05-09 13:10] #781 closed

[2022-05-09 13:15] #707 closed

[2022-05-09 13:16] arpit456jain opened #785 "Errors in Google Forms Website Clone"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

![image](https://user-images.githubusercontent.com/55352601/167418078-4d56fe8b-c15f-49cf-b922-49d9db77fb04.png)

[2022-05-09 14:44] SamarthKadam opened #786 "Can I add amazon slider"
This is an Amazon slider that is fully responsive. Focused on sliding part on frontend technologies. You can look below in the video

https://user-images.githubusercontent.com/87573175/167435054-63917514-a914-44bf-8951-b41211f89a08.mp4

[2022-05-10 03:27] TANYA-CHAN opened #787 "Cool letter animation website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

An interactive letter animation layout using HTML, CSS & JS.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
https://tanya-chan.github.io/letter-animation/

[2022-05-10 03:29] TANYA-CHAN commented on #787
@astha2412 please check this out

[2022-05-10 04:04] Abh1shekSingh opened #788 "Art Gallery Website"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Wan to add A website made using HTML, CSS and Javascript

## **Screenshots**

[2022-05-10 04:05] Abh1shekSingh commented on #788
@VidhiBhatt01 @astha2412 @DEEPALI-SUK Please assign the task

[2022-05-10 04:25] DEEPIKA-SUK commented on #712
@MonarchGitHub any update?

[2022-05-10 04:28] DEEPIKA-SUK commented on #786
@SamarthKadam do it within 3 days.

[2022-05-10 04:31] DEEPIKA-SUK commented on #787
@TANYA-CHAN do it within 3 days

[2022-05-10 04:33] DEEPIKA-SUK commented on #788
@Abh1shekSingh art gallery website template already exists.

[2022-05-10 04:47] SamarthKadam commented on #786
Ohk

[2022-05-10 05:51] TANYA-CHAN commented on #787
okat tysm

[2022-05-10 05:53] MonarchGitHub commented on #712
I had some unexpected project to attend to, I'll make the PR today positively

[2022-05-10 06:11] TANYA-CHAN commented on #787
do I have to put a  style_link.json file? I do not have spaces in my project. @DEEPIKA-SUK

[2022-05-10 06:45] Abh1shekSingh commented on #788
Bro that is something else @DEEPIKA-SUK

[2022-05-10 06:46] Abh1shekSingh commented on #788
![sa](https://user-images.githubusercontent.com/71981463/167565236-34c4da3f-ebf3-40b4-818f-ffc012fa91a8.JPG)
This is mine @DEEPIKA-SUK

[2022-05-10 11:35] aaryahjolia opened #790 "Loruki Landing page"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Loruki landing page

## **Screenshots**

![sample](https://user-images.githubusercontent.com/71981463/163092937-60faa7b7-e590-4b84-aa8a-b2b09e520cff.JPG)

[2022-05-10 11:40] aaryahjolia commented on #790
@DEEPIKA-SUK please assign

[2022-05-10 11:47] aaryahjolia opened #791 "5 Page responsive insurance website"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

A fully responsive 5 page insurance website.

## **Screenshots**

As some coding is left, Im unable to give ss right now., But I will make a PR tomorrow.

[2022-05-10 13:30] #787 closed

[2022-05-10 13:38] DEEPIKA-SUK commented on #788
@Abh1shekSingh do it within 2-3 days.

[2022-05-10 14:35] Abh1shekSingh opened #793 "Changes to the Chinese Restaurant Project"
## Issue Type:

- [x] Bug Report
- [x] Feature Request

[2022-05-10 14:35] Abh1shekSingh commented on #793
@arpit456jain  Please Assign

[2022-05-10 17:27] #711 closed

[2022-05-10 18:13] i-am-aisha opened #796 "Snake game"
## Issue Type:
- [x] Adding a project

I want to add a project of snake game using pure HTML , CSS and Javascript.
I am a gssoc'22 contributor please assign me this issue.

[2022-05-10 18:44] #796 closed

[2022-05-11 17:21] omkargurav10 opened #798 "Home page->logo.png doesn't render"

[2022-05-11 18:53] #790 closed

[2022-05-11 18:54] #791 closed

[2022-05-12 12:52] omkargurav10 commented on #798
@arpit456jain assign me

[2022-05-12 12:59] astha2412 commented on #798
@arpit456jain ??

[2022-05-12 13:03] #699 closed

[2022-05-12 13:04] astha2412 commented on #712
@MonarchGitHub ?? Complete it today itself!!!!!

[2022-05-12 13:05] #785 closed

[2022-05-12 13:07] #788 closed

[2022-05-12 14:16] #798 closed

[2022-05-12 17:17] #712 closed

[2022-05-12 17:20] astha2412 commented on #712
Ok

[2022-05-13 14:13] VidhiBhatt01 opened #799 "A: Design a website for a school"
Must include about us, academics, and contact us page.

[2022-05-13 14:13] VidhiBhatt01 opened #800 "B: Design a website for a local Fast Food Shop"
Must include an image gallery and customer review section.

[2022-05-13 14:13] VidhiBhatt01 opened #801 "C: Design a website for a company selling dairy products"
Must include a customer review and contact us page

[2022-05-13 14:13] VidhiBhatt01 opened #802 "D: Design a website for a Cake Shop"
Must include an Image gallery and customer review page

[2022-05-13 14:13] VidhiBhatt01 opened #803 "E: Design a website showing information about various festivals celebrated in India"
Make this website by adding cards for the festivals

[2022-05-13 14:13] VidhiBhatt01 opened #804 "F: Design a website for a car manufacturing company named Betta"
Must include some basic information about cars and the features

[2022-05-13 14:14] VidhiBhatt01 opened #805 "G: Design a website that gives information about the breeds of dogs and cats"
Make this website by adding cards.

Website flow:
1. Display a welcome message and give two buttons asking the user to pick between a cat and a dog.
2. Redirect the user to the required page and display information.
3. You can also add a search bar on the top of both these pages.

[2022-05-13 14:14] VidhiBhatt01 opened #806 "H: Design a website for a sports academy"
Must include services provided and achievements page

[2022-05-13 14:30] Kunal0220 opened #807 "Payment Gateway template"
## Issue Type:
- [x] Feature Request

A responsive payment gateway with all the available sections along with a contact us and aboutUs section . A cool footer with links to important things in the org along with social handle links.

Will be highly editable for the user along with a ReadMe and Guide for changing the template as per need .

[2022-05-14 01:57] Abh1shekSingh opened #809 "GOOGLE AUTHENTICATION TO THE SIGNUP FORM PROJECT"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- I want to add Google Auth to the signup page Project

[2022-05-14 01:58] Abh1shekSingh commented on #809
@astha2412 @DEEPIKA-SUK @VidhiBhatt01  please assign the task to me

[2022-05-14 01:59] Abh1shekSingh opened #810 "GITHUB AUTHENTICATION"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- Want to add GitHub Authentication to the Signup page project

[2022-05-14 02:00] Abh1shekSingh commented on #810
Can I please get assign to the task @astha2412 @VidhiBhatt01 @DEEPIKA-SUK

[2022-05-14 02:01] Abh1shekSingh opened #811 "EMAIL AUTHENTICATION"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- Will add Email Authentication and also a method to preserve user name on signup page

[2022-05-14 02:01] Abh1shekSingh commented on #811
@astha2412 @VidhiBhatt01 @DEEPIKA-SUK please can I get assign to this task. No backend only pure javascript is required

[2022-05-14 06:55] AyushJ16 commented on #803
I would like to work on this!
I will generate PR as soon as possible.
Please assign me this issue!

[2022-05-14 08:31] Kunal0220 commented on #807
On it !

[2022-05-14 09:53] srinjoy-26 commented on #804
Assign me @VidhiBhatt01 , I would like to work on this

[2022-05-15 05:02] kunal-kataria opened #818 "New Frontend Template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Possible solution**

- I want to add a new Frontend Template.

## **Screenshots**
![preview](https://user-images.githubusercontent.com/72653868/168458024-b965d8dd-8570-423e-8da3-f30c37382330.png)
![preview 2](https://user-images.githubusercontent.com/72653868/168458018-c54cb075-f205-46e8-970e-8c6d78e2bdfd.png)
![previe

[2022-05-15 05:04] kunal-kataria commented on #818
Can I add a new Template?

[2022-05-15 05:09] coolblizzarts commented on #803
Hello Payal here, I would like to contribute to this issue. Can you please assign it to me. Regards.

[2022-05-15 05:09] coolblizzarts commented on #802
Hello Payal here, I would like to contribute to this issue. Can you please assign it to me. Regards.

[2022-05-15 05:10] coolblizzarts commented on #805
Hello Payal here, I would like to contribute to this issue. Can you please assign it to me. Regards.

[2022-05-15 05:10] soumali28 commented on #799
I would like to work on this issue under GSSoC.

[2022-05-15 06:53] AmolShelke2 opened #820 "Technical Documentation Page."
## Issue Type:

- [x] Feature Request
## **Describe the bug**

- A JS Technical documentation page.

## **Possible solution**

- It was a challenging project from FreeCodeCamp to create a technical landing page so I have created this landing page as a challenge. it is also responsive on a mobile device please go through this issue and assign me this issue to work on. I'm also adding the preview of

[2022-05-15 08:33] #776 closed

[2022-05-15 08:34] #793 closed

[2022-05-15 08:35] #811 closed

[2022-05-15 14:13] shahnehal0407 commented on #800
I would love to work on it. please assign it to me.

[2022-05-15 15:19] DEEPIKA-SUK commented on #818
@kunal-kataria Be careful from next time. Don't open the PR until you get assigned in a issue.

[2022-05-15 15:21] DEEPIKA-SUK commented on #802
@coolblizzarts do it within 3 days.

[2022-05-15 15:22] DEEPIKA-SUK commented on #800
@shahnehal0407 do it within 3 days.

[2022-05-15 16:44] shahnehal0407 commented on #800
sure

[2022-05-15 16:50] shahnehal0407 commented on #800
sure

[2022-05-16 07:38] #799 closed

[2022-05-16 07:39] #810 closed

[2022-05-16 07:41] SamarthKadam commented on #801
Can I work on this ?

[2022-05-16 07:43] SamarthKadam commented on #801
Can You please elaborate how should the project be?

[2022-05-16 11:32] Yashashviarora opened #826 "want to make a mobile template"
i want to make a template of mobile using html css and javascript.  please assign me

[2022-05-16 11:32] Yashashviarora commented on #826
/assign

[2022-05-16 11:59] shahnehal0407 opened #827 "want to add new template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![Screenshot (566)](https://user-images.githubusercontent.com/65250761/168587886-6648569a-fda0-4cc8-a951-4ebe04f706bb.png)

[2022-05-16 16:28] DEEPIKA-SUK commented on #801
@SamarthKadam finish it within 3 days.

[2022-05-16 16:34] DEEPIKA-SUK commented on #826
@Yashashviarora elaborate your issue.

[2022-05-16 16:40] Yashashviarora commented on #826
like in this i make a nav bar and after below it there is a slider in which there are a lot of mobile to see and there is also a link on clicking that link customer can directly visit on amazon or any other web where he/she can order mobile of that model.

[2022-05-17 02:05] Abh1shekSingh opened #829 "Email Authentication to another Login form project"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- there is one more project related to Signup and login form. I want to setup email Auth for that one too

[2022-05-17 02:05] Abh1shekSingh commented on #829
@VidhiBhatt01 @DEEPALI-SUK Can I get assign to this task?

[2022-05-17 02:06] Abh1shekSingh opened #830 "Will add Google Authentication"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- Their is one more login and signup project in the repo, I want to add Google Authentication in that too

[2022-05-17 02:07] Abh1shekSingh commented on #830
@VidhiBhatt01 @DEEPIKA-SUK  Can I get assign to this task

[2022-05-17 02:08] Abh1shekSingh opened #831 "WILL ADD GITHUB AUTH"
## Issue Type:

- [x] Feature Request

Their is one more Login and signup form Project in the Repo and I want to add GitHub Authentication in that too.

[2022-05-17 02:08] Abh1shekSingh commented on #831
Hi @VidhiBhatt01 @DEEPIKA-SUK  Can I get assign to this task along with #830 #829

[2022-05-17 02:57] Abh1shekSingh opened #833 "Want to Improve Pizza Corner Project"
## Issue Type:

- [x] Bug Report
- [x] Feature Request

## **Describe the bug**

- Will Improve the UI of Pizza Corner UI.

[2022-05-17 02:58] Abh1shekSingh commented on #833
@VidhiBhatt01 @astha2412 @DEEPIKA-SUK Please Assign the task to me

[2022-05-17 03:34] shahnehal0407 commented on #827
@VidhiBhatt01 please assign it to me.

[2022-05-17 12:50] Kamleshseervi commented on #679
actually i am new to github and don't know
how to add pr and all can you please guide me

[2022-05-17 14:25] DEEPIKA-SUK commented on #804
@srinjoy-26 make the pr by tomorrow.

[2022-05-17 14:27] srinjoy-26 commented on #804
My exams are on , I would surely make a PR on Saturday

[2022-05-17 14:29] DEEPIKA-SUK commented on #827
One issue at a time. Wait for your pr to get merged.

[2022-05-17 15:47] #758 closed

[2022-05-17 17:17] aachal28 commented on #827
Kindly assign me this issue

[2022-05-17 17:17] aachal28 commented on #805
Kindly assign me this issue

[2022-05-17 17:18] aachal28 commented on #803
Kindly assign me this issue

[2022-05-17 17:19] aachal28 commented on #800
Kindly assign me this issue

[2022-05-17 17:19] aachal28 commented on #806
Kindly assign me this issue

[2022-05-17 17:19] KiranAminPanjwani opened #835 "Responsive Sign-In Form with appealing styling."
## Issue Type:

- [ ] Bug Report
- [X] Feature Request
- [ ] Documentaion

## **Describe the bug**

I have noticed that there is no Sign-In form template available on your website with good modern styling.

## **Possible solution**

I want to add a CSS template for a modern Sign-In Form. I am a GSSOC'22 participant, kindly assign this issue to me. Thank you!

## **Screenshots**

No screenshots are

[2022-05-17 17:29] DEEPIKA-SUK commented on #806
@aachal28 finish it within 3 days.

[2022-05-17 17:30] DEEPIKA-SUK commented on #826
@Yashashviarora finish it within 3 days.

[2022-05-17 17:32] DEEPIKA-SUK commented on #833
One issue will be assigned at one time.

[2022-05-17 17:33] DEEPIKA-SUK commented on #835
Sign In form template already exists.

[2022-05-17 17:33] #835 closed

[2022-05-17 17:40] KiranAminPanjwani commented on #835
Okay, no issues.

[2022-05-17 17:44] aachal28 commented on #806
Yeah sure I'll try my best

[2022-05-18 04:28] #809 closed

[2022-05-18 04:50] sahilsaini110 opened #836 "Want to improve loading time of images. And design of cards as this is not acc to page theme"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.
  Images are taking a lot more time to load than expected plus the card design is also not
  according to the theme.
## **Possible solution**

- Describe the solution you thought of.
  Want to improve the card design ACC to the theme. and also wa

[2022-05-18 09:24] #829 closed

[2022-05-18 09:25] #831 closed

[2022-05-18 09:27] #830 closed

[2022-05-18 09:34] Abh1shekSingh commented on #833
@DEEPIKA-SUK  @VidhiBhatt01  please assign this One first before my other issues

[2022-05-18 13:26] Siddhi-Mundada opened #838 "Would like to add About Us page"
Feature Request
I would like to add About Us page in this website with animation.  Image of Project Admin , information about the website and Some links.
Please assign this issue to me under GSSOC 22.
Thanks in Advance.

[2022-05-18 14:16] VidhiBhatt01 commented on #838
Sorry, but the PA has given us the orders of not to assign any issues related to the changes in main website. You can check out other existing issues : )

[2022-05-18 14:16] #838 closed

[2022-05-18 15:07] DEEPIKA-SUK commented on #802
@coolblizzarts any updates?

[2022-05-18 15:08] DEEPIKA-SUK commented on #805
@coolblizzarts any updates?

[2022-05-18 18:37] #786 closed

[2022-05-18 18:41] #803 closed

[2022-05-18 18:43] #807 closed

[2022-05-18 20:12] DhairyaWankhade opened #839 "Want to add CV template"
- [ ] Feature Request

CV template is not included in this front end templates

I will make nice CV template using HTML and CSS and add it.

[2022-05-18 22:07] coolblizzarts commented on #802
Hello, I have completed the task. Can you please check I have generated a  PR for the same.

[2022-05-19 04:03] hariketsheth opened #841 "Improve Website"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**
- Images are unavailable for a lot of projects.
- Would like to solve this issue so that frontend of the website doesn't get disturbed

@DEEPIKA-SUK, Please assign

[2022-05-19 05:06] Mohasin-Haque opened #842 "Want to add a minion translator app template"
## Issue Type:

- [x] Feature Request

## **Possible solution**

I visited the repo and does not found any translator app template. I would love to contribute some translator app template. These templates are fun to use.

## **Screenshots**

- Here are some of the preview of the template.

1. Banana Translator
![Banana Translator](https://user-images.githubusercontent.com/72180173/169211704-a7d8d1

[2022-05-19 05:24] Mohasin-Haque opened #843 "Want to enhance button for back to top in Travel website template-1"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- It will be more good to make a button for back to top in Travel website template-1

## **Possible solution**

- I will add a back to top button so that it will enhance UX.

## **Screenshots**

* Here is the problem SS( You can see at the bottom that there is only text which on clicks takes you to

[2022-05-19 05:24] Mohasin-Haque commented on #843
Please assign me this issue so that I can start working on this.

[2022-05-19 06:22] priyanshi1282 opened #844 "Personal Portfolio Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Personal multi-page portfolio website which is built responsive.

## **Possible solution**

-Personal multi-page portfolio website which is built responsive.

## **Screenshots**
![home](https://user-images.githubusercontent.com/88632352/169223965-b367c21e-8226-4c6b-a3a0-6dd92ddb9ad3.png)
![about](

[2022-05-19 06:23] DhairyaWankhade commented on #839
\assign

[2022-05-19 08:41] DhairyaWankhade opened #845 "Catering Website"
- [ ] Feature Request

Want to add a good template for catering website.

[2022-05-19 13:40] praniti111 opened #846 "Search Github Profiles from a website"
Hey There!
I wanted to make a template for websites that can search the Github Profiles without opening Github.
The template will contain

Profile Picture
Name
Number of followers and following
Description of the user.
I am a GSSoC22 participant, and would like to work on this project!
- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain you

[2022-05-19 15:41] SamarthKadam commented on #801
So Im done with home page
![Screenshot (195)](https://user-images.githubusercontent.com/87573175/169339469-6f43a1df-eeac-4edd-876b-926e742c492a.png)
So I am supposed to add customer review and contacts

[2022-05-19 16:06] SAMRIDHISINHA opened #848 "Design the login and register page"
## Issue Type:

- [ ] Feature Request

Hello, I am Samridhi(GGSOC'22 contributor ) and I would like to design a template for the login and register page. I request you to assign this issue to me.

[2022-05-19 16:21] DEEPIKA-SUK commented on #839
@DhairyaWankhade finish it within 3 days.

[2022-05-19 16:22] DEEPIKA-SUK commented on #845
One issue at a time will be assigned. You can open this issue again once you complete previous issue.

[2022-05-19 16:22] #845 closed

[2022-05-19 16:23] DEEPIKA-SUK commented on #841
@hariketsheth complete it by 22th may

[2022-05-19 16:28] DEEPIKA-SUK commented on #842
@Mohasin-Haque finish it by 21th may.

[2022-05-19 16:28] DEEPIKA-SUK commented on #841
@hariketsheth complete it by 21st may

[2022-05-19 16:29] DEEPIKA-SUK commented on #842
@Mohasin-Haque finish it by 21st may.

[2022-05-19 16:30] DEEPIKA-SUK commented on #843
One issue at a time will be assigned. You can open this issue again once you complete previous issue.

[2022-05-19 16:33] DEEPIKA-SUK commented on #848
Login signup page already exists.

[2022-05-19 16:33] #848 closed

[2022-05-19 16:36] DEEPIKA-SUK commented on #846
@praniti111 create a new PR. Earlier one won't be considered.

[2022-05-19 16:47] VidhiBhatt01 commented on #801
Yes, that's the minimum

[2022-05-19 16:47] VidhiBhatt01 commented on #801
The home page looks cool btw

[2022-05-19 16:53] Kamleshseervi opened #850 "Floor plan Website"
I want to create a website which contains different floor plans according to  length and breadth of floor

[2022-05-19 16:54] SamarthKadam opened #851 "Adding Banking Website"
This is the website Where you can see multiple functionalities. This website is built using Javascript and frontend technologies.
This project was built under guidance of the instructor
The functionality you see here is
1>Sticky navigation on specified view
2>When viewing one of the links other links become blurred
3>Lazy loading images
4>Tabbed component
5>Slider

Below is just starting page. The

[2022-05-19 17:15] SAMRIDHISINHA opened #852 "Game Tunes"
## Issue Type:

- [ ] Feature Request

Hello, I am Samridhi(GGSOC'22 contributor) , and I want to build a website where songs would be played according to the relevant gaming icons.

[2022-05-19 20:30] Mohasin-Haque commented on #842
@DEEPIKA-SUK I have added the first template i.e. Banana Translate. How can I add the next two templates?

[2022-05-20 02:37] praniti111 commented on #846
Thank you @DEEPIKA-SUK

[2022-05-20 05:42] SAMRIDHISINHA commented on #852
Please assign this project to me

[2022-05-20 06:00] SamarthKadam commented on #851
Can i add this?

[2022-05-20 12:18] SAMRIDHISINHA opened #858 "Rainy Effects"
## Issue Type:
- [x] Feature Request

Hello, I am Samridhi(GGSOC'22 contributor). I would like design a website with rainy effects in the background using javascript.
Please assign this issue to me.

[2022-05-20 17:37] VidhiBhatt01 commented on #800
@aachal28 we assign on FCFS basis

[2022-05-20 17:40] VidhiBhatt01 commented on #833
Any updates?

[2022-05-20 17:41] VidhiBhatt01 commented on #850
Can you add some SS or video?

[2022-05-20 17:41] VidhiBhatt01 commented on #850
Also, if you are using JS for this I would suggest you to close the issue here and raise it Amazing JS projects repo

[2022-05-20 17:42] VidhiBhatt01 commented on #852
We already have similar projects

[2022-05-20 17:42] #852 closed

[2022-05-20 17:42] #858 closed

[2022-05-20 17:44] SAMRIDHISINHA commented on #800
Please assign this issue to me.

[2022-05-20 18:26] TusharKesarwani opened #859 "Adding new template of Profile Card"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.
Profile Card of any type is not present.

## **Possible solution**
I'm adding a new template of the Profile Card.

- Describe the solution you thought of.
Adding a Profile Card

## **Screenshots**
![preview](https://user-images.githubusercontent.

[2022-05-20 19:12] itzwow opened #861 "Adding a Headphone Landing Page"
## Issue Type:

- [ x] Feature Request

## **Describe the bug**

Want to add a new responsive Headphone Landing page template

## **Possible solution**

## **Screenshots**

![f1](https://user-images.githubusercontent.com/84179065/169596391-f9f6a6b6-a4db-4e5e-9c7d-d13b3aea10a7.JPG)

I'm a GsSOC'22 participant and wanted to contribute in it

[2022-05-21 00:22] Abh1shekSingh commented on #833
Yes, I am doing.

On Fri, May 20, 2022, 11:10 PM VIDHI BHATT ***@***.***> wrote:

[2022-05-21 04:30] DEEPIKA-SUK commented on #842
It would be good if you create one html page which has links for all three translator html pages instead of creating three different projects for the translator.

[2022-05-21 12:39] aachal28 commented on #806
Hey I'm working on this issue please give me more time.

[2022-05-21 14:11] SamarthKadam opened #863 "Adding Model Window"
This is a Small Template of the Model window when the user clicks some link a model window is brought into the screen.And its background is blured. Below you can have a look. Can I add this?

![Screenshot (197)](https://user-images.githubusercontent.com/87573175/169655354-0751abfb-7e7e-4240-9a55-288ef721c2fe.png)

[2022-05-21 15:23] SAMRIDHISINHA opened #864 "Design a website for selling flowers"
Hello, I am Samridhi(GGSOC'22 contributor) and I want to bulid the website for selling flowers

[2022-05-21 18:08] tarunbisht-24 opened #865 "Candy Museum"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

Hey, Project admin I'm a GSSOC participant and I want to add a Responsive Candy Museum page

## **Possible solution**

- Describe the solution you thought of.

I will create the page with HTML CSS Bootstrap and a little bit of JS it is an excell

[2022-05-21 18:19] astha2412 commented on #865
@tarunbisht-24 complete it within 2 days

[2022-05-21 18:20] astha2412 commented on #864
@SAMRIDHISINHA Complete it within 2 days......and make PR Asap!! Attach ss also.

[2022-05-21 18:23] astha2412 commented on #863
@SamarthKadam Complete it within 2 days and make PR ASAP!

[2022-05-21 18:24] astha2412 commented on #861
@itzwow Complete it within 2 days and Make PR ASAP!

[2022-05-21 18:24] astha2412 commented on #851
Complete it within 2 days and Make PR ASAP!

[2022-05-21 18:25] astha2412 commented on #850
@Kamleshseervi ????

[2022-05-21 18:27] astha2412 commented on #827
@shahnehal0407 Updates????

[2022-05-21 18:32] SAMRIDHISINHA commented on #864
Okay,sure

[2022-05-21 20:07] Kamleshseervi commented on #850
I will use html css more so i want to raise pr here

[2022-05-21 20:10] itzwow opened #867 "Bug in Readme.md"
## Issue Type:

- [ x] Documentaion

## **Describe the bug**

- Typo in git clone command under Clone and Forked repository in README.md file

## **Possible solution**

- correct URL for clone command

## **Screenshots**

![issue1](https://user-images.githubusercontent.com/84179065/169667445-6e4fb904-0db8-493a-a913-7e3befcc2efd.JPG)

I want to work on it. Kindly assign it to me.
I am a GsSOC'22 pa

[2022-05-21 23:34] DhairyaWankhade commented on #845
I have completed & submitted the earlier issue. Can u please assign me this issue now..

[2022-05-22 05:37] kunal-kataria commented on #818
@DEEPIKA-SUK My PR is closed but i haven't submitted it yet because my exams were going on. Is it possible to open my PR to submit my template?

[2022-05-22 08:59] prabhkaur301 opened #871 "Responsive SAAS product landing page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

Responsive landing page with sign up form with validation.

![image](https://user-images.githubusercontent.com/57444962/169687594-0c8369d2-6cab-49ab-ba02-5fcb48eb509a.png)

Kindly assign me this issue

[2022-05-22 09:14] SamarthKadam opened #872 "Animaton Template"
This is an Animation Template built using css and html you can see its preview below

https://user-images.githubusercontent.com/87573175/169688146-3bd39868-fc7e-4598-9948-9abc12d8fc2a.mp4

[2022-05-22 09:14] SamarthKadam commented on #872
Can I add this?

[2022-05-22 11:46] DEEPIKA-SUK commented on #804
@srinjoy-26 make the PR by today.

[2022-05-22 11:47] DEEPIKA-SUK commented on #805
@coolblizzarts make the PR by today.

[2022-05-22 11:48] DEEPIKA-SUK commented on #806
@aachal28 make the PR by tomorrow.

[2022-05-22 11:50] DEEPIKA-SUK commented on #818
@kunal-kataria create a new PR with all the requested changes completely done. Make the PR by tomorrow otherwise we will close this issue.

[2022-05-22 11:51] DEEPIKA-SUK commented on #826
@Yashashviarora Make the PR by tomorrow otherwise we will close this issue.

[2022-05-22 11:52] DEEPIKA-SUK commented on #833
@Abh1shekSingh make the PR y tomorrow otherwise we will close this issue.

[2022-05-22 11:53] DEEPIKA-SUK commented on #836
@sahilsaini110 Make the PR by tomorrow otherwise we will close this issue.

[2022-05-22 11:55] Yashashviarora commented on #826
ok i will di it tommorrow in any way

[2022-05-22 11:55] DEEPIKA-SUK commented on #850
@Kamleshseervi finish it within 2 days.

[2022-05-22 11:55] Yashashviarora commented on #826
But when you assign you gave me 12 days

[2022-05-22 11:57] DEEPIKA-SUK commented on #867
@itzwow finish it by today itself.

[2022-05-22 11:58] DEEPIKA-SUK commented on #871
@prabhkaur301 finish it within 2 days itself. No more extra time will be given.

[2022-05-22 12:00] DEEPIKA-SUK commented on #872
@SamarthKadam open this in Amazing CSS or Amazing JS (if javascript is used) repo.

[2022-05-22 12:00] #872 closed

[2022-05-22 12:03] DEEPIKA-SUK commented on #826
Nobody gave you 12 days.

[2022-05-22 12:06] Yashashviarora commented on #826
okk i will make pr tomorrow for sure

[2022-05-22 14:03] Abh1shekSingh commented on #833
Exam are on. But I will Manage somehow

On Sun, May 22, 2022, 5:23 PM DEEPIKA-SUK ***@***.***> wrote:

[2022-05-22 14:09] Kamleshseervi commented on #850
Please give me a week because i am stuck in college exam

[2022-05-22 14:58] coolblizzarts commented on #805
Hi, could you please give me 2 more days. My exams were going on so couldn't make the PR. Apologies.

[2022-05-22 16:42] DEEPIKA-SUK commented on #805
@coolblizzarts okay do asap bcoz after 25th no PR will be reviewed.

[2022-05-22 16:45] DEEPIKA-SUK commented on #833
@Abh1shekSingh try to finish it by 24th bcoz after 25th no PR will be reviewed.

[2022-05-22 16:47] DEEPIKA-SUK commented on #850
@Kamleshseervi after 25th no PR will be reviewed. GSSoC is ending on 31st May so after that no PRs would be considered under GSSoC.

[2022-05-22 17:07] Kamleshseervi commented on #850
I will try to submit on or before 25

[2022-05-22 17:32] #820 closed

[2022-05-22 17:33] #800 closed

[2022-05-22 17:37] #841 closed

[2022-05-22 17:40] #801 closed

[2022-05-22 17:44] #844 closed

[2022-05-22 17:49] #839 closed

[2022-05-22 17:52] #851 closed

[2022-05-22 17:57] arpit456jain commented on #802
@coolblizzarts  which PR ?
link the PR to issue

[2022-05-22 17:58] arpit456jain commented on #805
@aachal28 r u interested ?

[2022-05-22 18:37] shahnehal0407 commented on #827
working on it, will submit it by tomorrow.

[2022-05-23 03:17] coolblizzarts commented on #802
https://github.com/arpit456jain/Cool-Front-End-Templates/pull/840#pullrequestreview-980895403

[2022-05-23 09:08] aachal28 commented on #805
@arpit456jain yeah i love to work on this

[2022-05-23 12:28] #833 closed

[2022-05-23 16:04] astha2412 commented on #805
@aachal28 Make PR Tomorrow!

[2022-05-23 16:05] astha2412 commented on #806
@aachal28 ???? Complete it asap otherwise, I will close this issue!

[2022-05-23 16:09] Yashashviarora commented on #826
Plz don’t close it I make a responsive so give me only 5 min I make pr

On Mon, 23 May 2022 at 9:38 PM, Kumari Astha Rani ***@***.***>
wrote:

[2022-05-23 16:09] astha2412 commented on #827
@shahnehal0407 ?????  Complete it asap otherwise, I will close this issue!

[2022-05-23 16:12] #846 closed

[2022-05-23 16:12] SAMRIDHISINHA commented on #864
I was making the pr, what happened?

On Mon, May 23, 2022, 21:41 Kumari Astha Rani ***@***.***>
wrote:

[2022-05-23 16:18] astha2412 commented on #864
@SAMRIDHISINHA Make PR Asap, as we have very less time to check all your issues and PRs.

[2022-05-23 16:56] Yashashviarora commented on #826
I am unable to make pr because of error (updates were rejected) can you please explain me how to make pr now

[2022-05-23 17:45] #864 closed

[2022-05-23 17:46] #806 closed

[2022-05-24 14:12] #850 closed

[2022-05-24 14:22] Abh1shekSingh opened #885 "Remove Duplicate Projects & Sort Project Alphabetically"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

Sorting Project Alphabetically and also help you find plag project (if any)

[2022-05-24 16:53] SamarthKadam opened #886 "Adding Hover Animation Bar"
Can I add this project which is completely ready and I'll make sure to make pr by tomorrow morning . Please assign this to me . I'll make the pr very fast below you can see the project preview

https://user-images.githubusercontent.com/87573175/170090409-c35cb9d8-a90c-4bee-be3e-36865dd6c413.mp4

[2022-05-24 17:36] SamarthKadam commented on #886
@VidhiBhatt01  I'll make pr by tomorrow morning. Why guys are you not taking any issues as we have got 6 days remaining for coding period to end . So please consider this issue. I'll make this pretty fast

[2022-05-24 20:09] coolblizzarts commented on #802
https://github.com/arpit456jain/Cool-Front-End-Templates/pull/887

I have created a new PR with the changes requested. Kindly provide feedback.

[2022-05-25 12:15] VidhiBhatt01 commented on #886
We need to sort the repos and identify plag content too, and it's time consuming. Assigning you still, but make sure you complete it before tomorrow 12pm

[2022-05-25 14:23] #865 closed

[2022-05-25 14:24] #861 closed

[2022-05-25 14:26] #863 closed

[2022-05-25 14:27] #867 closed

[2022-05-25 14:28] SamarthKadam commented on #886
@VidhiBhatt01 thank you and yes I'll complete it by today only

[2022-05-25 20:11] #859 closed

[2022-05-25 20:12] #818 closed

[2022-05-25 20:15] #885 closed

[2022-05-26 14:30] #805 closed

[2022-05-26 18:41] #871 closed

[2022-05-26 18:55] #886 closed

[2022-05-27 03:37] #826 closed

[2022-05-27 05:23] #802 closed

[2022-05-27 05:25] #842 closed

[2022-05-28 04:32] #804 closed

[2022-05-28 08:38] Dharmesh177 opened #897 "UNIVERSITY WEBSITE"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

- I have made a responsive university website that has various features built using only HTML CSS and Javascript.

## **Link**

Deployment Link : https://dharmesh177.github.io/UNIVERCITY-WEBSITE/

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

![image](https://us

[2022-05-28 16:59] #897 closed

[2022-05-29 19:02] arpit456jain opened #898 "templates are not loading on home page"

[2022-05-29 19:06] arpit456jain opened #899 "Delete plag projects"
https://docs.google.com/document/d/1_PQaRANcAHDuWSaY2eJ5-W4lqw0BjNSZPKCrCqWD5s8/edit?usp=sharing

open the PR and find the folder which they added and delete those projects folder

[2022-05-29 19:36] TusharKesarwani commented on #899
Kindly assign this issue to me

[2022-05-29 20:31] muhammadgalhoum opened #900 "Adding responsive blog website using HTML CSS"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![Blog](https://user-images.githubusercontent.com/56798376/170890311-4127c2c1-62e5-4f62-8155-a0f8cdda0cc1.png)

![Post(Part1)](https://user-images.githubuserco

[2022-05-29 20:32] muhammadgalhoum commented on #900
Please assign this issue to me @arpit456jain

[2022-05-29 20:54] #900 closed

[2022-05-30 09:41] vedsom opened #901 "Education website template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

Want to add a education website template, I guess this is missing in your collection.

[2022-05-30 14:18] #901 closed

[2022-05-30 14:20] aaryahjolia commented on #898
Please assign this to me

[2022-05-30 17:26] #899 closed

[2022-05-30 17:27] arpit456jain commented on #898
@aaryahjolia do it fast

[2022-05-31 09:58] #898 closed

[2022-10-03 15:50] Kotak-Prerit opened #907 "Delete expired templates."
There are lots of expired templets that are still available on the site.

![error404](https://user-images.githubusercontent.com/97387752/193621426-1e086404-f374-4f76-bdc2-0c70baf46563.png)

[2022-10-04 13:24] arpit456jain commented on #907
go ahead @Kotak-Prerit

[2022-10-04 13:30] arpit456jain opened #910 "testing"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-10-04 13:30] #910 closed, assigned to nobody

[2022-10-04 15:54] Kotak-Prerit commented on #907
On it. 👍🏼

[2022-10-04 16:56] Kotak-Prerit commented on #907
Bro there are also 7 templates who are added twice. So can I delete the 2nd
copy?

On Tue, Oct 4, 2022 at 6:54 PM Arpit Jain ***@***.***> wrote:

[2022-10-04 17:24] arpit456jain commented on #907
yes

[2022-10-09 06:34] heyvats21 opened #912 "Links broken of some webapps"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request

## **Describe the bug**

- if we click on the view part so it redirects to the wrong web page

## **Screenshots**

![image](https://user-images.githubusercontent.com/81029204/194741749-dbb800e2-d431-4dd6-955d-fc8717cf3467.png)

assign me under hacktoberfest .

[2022-10-09 06:35] heyvats21 commented on #912
can i start contributing?

[2022-10-09 08:51] arpit456jain commented on #912
yes

[2022-10-09 16:51] #907 closed

[2022-10-11 07:18] RAHULBAWA777 commented on #380
What do you mean... I have already!!!!
And I have also received the feedback that my pr is up!!!!

On Sat, Apr 2, 2022, 4:42 PM DEEPIKA-SUK ***@***.***> wrote:

[2022-10-11 07:37] Abh1shekSingh commented on #562
In progress, vidhi knows. I am experimenting something

On Mon, Apr 11, 2022, 10:38 AM Kumari Astha Rani ***@***.***>
wrote:

[2022-10-11 08:12] Kotak-Prerit commented on #907
Hey there! I've sent a merge request do check it out & accept if everything
is okay.

On Tue, Oct 4, 2022, 10:54 PM Arpit Jain ***@***.***> wrote:

[2022-10-16 14:17] arpit456jain opened #916 "remove mentors section and ankita from project admin"

[2022-10-24 06:39] Tanujkanti4441 opened #918 "Responsiveness of templates"
The templates are not responsive.
can i work on that