[2021-06-27 11:15] abhijeet141 opened #1 "I would like to add a Tribute Page"
I would like to add a Tribute Page

![image](https://user-images.githubusercontent.com/67696867/123542404-12168080-d767-11eb-8ab1-f415d182449b.png)

[2021-06-27 11:25] arpit456jain commented on #1
Sure @abhijeet141 go ahead

[2021-06-27 11:26] arpit456jain opened #2 "Improve read me"

[2021-06-27 11:26] arpit456jain opened #3 "Add GitHub bot for greetings"

[2021-06-27 11:27] arpit456jain opened #4 "Add a bot for auto assigning the issue"

[2021-06-27 11:53] #1 closed

[2021-06-27 15:00] abhijeet141 opened #6 "I would like to add a Covid-19 website template"
I will add a covid-19 website template

![image](https://user-images.githubusercontent.com/67696867/123549396-7563db00-d786-11eb-9f87-33a434457bf8.png)

[2021-06-27 15:30] #6 closed

[2021-06-27 15:36] arpit456jain opened #9 "add license"

[2021-06-27 15:38] arpit456jain opened #10 "Add contributing guidlines in read me"

[2021-06-28 10:25] arpit456jain opened #11 "Add code of conduct"

[2021-06-29 05:32] arpit456jain opened #12 "Add issue and PR template"

[2021-06-29 14:49] #9 closed

[2021-06-30 11:54] ankitapuri commented on #12
I'll add it

[2021-06-30 11:56] arpit456jain commented on #12
ok

[2021-06-30 12:09] #12 closed

[2021-06-30 13:22] MrTwinkleSharma commented on #10
Hey admin, i have added this you can merge my PR after verifying it.

[2021-06-30 13:34] arpit456jain commented on #10
Thank you @MrTwinkleSharma

[2021-06-30 17:22] Sahil3130 commented on #11
Hey, I want to add code of conduct.

[2021-06-30 17:47] arpit456jain commented on #11
ok @Sahil3130

[2021-06-30 17:50] #11 closed

[2021-07-01 05:29] #10 closed

[2021-07-01 08:11] Abhisheka394 commented on #2
Hi @arpit456jain  , Can you assign this issue to me.

[2021-07-01 08:17] arpit456jain commented on #2
yeah sure go ahead @Abhisheka394

[2021-07-01 09:04] harshithatnbr commented on #3
I would like to work on this issue. Please assign it to me under DCP2021 . Thankyou.

[2021-07-01 09:38] arpit456jain commented on #3
@harshithatnbr This project is not not registered in DCP2021 I just share this so that beginners can try to contribute so that they feel comfortable because when i participated in GSSOC'21 I was very confused how to start

[2021-07-01 09:39] arpit456jain commented on #3
@harshithatnbr if you still want to contribute then please let me know open source is not limited to any program :)
happy coding !!

[2021-07-01 09:41] harshithatnbr commented on #3
Even I am very new to open source. I would like to work on this issue.

[2021-07-01 09:42] arpit456jain commented on #3
great @harshithatnbr go ahead :)

[2021-07-01 09:43] arpit456jain commented on #3
if you need any help then let me know

[2021-07-01 09:52] harshithatnbr commented on #3
Thankyou.

[2021-07-01 18:47] arpit456jain opened #20 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-01 18:50] #3 closed

[2021-07-01 18:50] arpit456jain opened #21 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-01 18:51] #20 closed

[2021-07-01 18:51] #21 closed

[2021-07-01 18:52] arpit456jain opened #22 "Modify bot to greet on every issue giving info "This repo is no registered under any program""
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-01 19:00] arpit456jain opened #23 "add bot greeting on PR merged successfully with msg "Thank you @name for your valuable contribution ""
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 14:02] arpit456jain opened #24 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 14:04] #24 closed

[2021-07-02 14:04] arpit4567jain opened #25 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 14:09] arpit456jain opened #26 "dd"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 14:12] #26 closed

[2021-07-02 14:12] arpit456jain opened #27 "gsdg"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 14:13] #27 closed

[2021-07-04 11:38] #25 closed

[2021-07-08 11:49] #23 closed

[2021-07-08 11:49] #22 closed

[2021-07-08 11:49] #4 closed

[2021-07-08 11:49] #2 closed

[2021-07-10 12:27] arpit456jain opened #29 "Arpit jain"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-11 17:18] #29 closed

[2021-07-11 18:27] connectnitesh opened #32 "Nitesh Rawat"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-11 18:43] abhijeet1312 opened #34 "ABHIJEET SRIVASTAVA"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-11 19:28] #34 closed

[2021-07-12 17:18] arpit456jain opened #36 "test"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-12 17:31] #36 closed

[2021-07-12 20:47] Mahesh707186 opened #38 "Adding a project"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 04:11] #38 closed

[2021-07-13 09:48] akritisrivastava2 opened #40 "Akriti Srivastava"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 09:48] ayushim13 opened #41 "Ayushi Mishra"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 09:58] shivdeve2010 opened #42 "Shivendra Tripathi"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
https://shivdeve2010.github.io/testing/source.html

[2021-07-13 10:28] #41 closed

[2021-07-13 11:09] naveen1nk opened #46 "Naveen kushwaha"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 14:16] #46 closed

[2021-07-13 15:09] Satwick17 opened #48 "Satwick Deep Verma"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 15:11] shivdeve2010 opened #49 "Shivendra Tripathi"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 15:46] ushmita4 opened #52 "I wish to add a TO-DO List"
I wish to create a TODO list.

[2021-07-13 15:50] Avinash170 opened #53 "portfolio [Avinash]"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 16:09] Avinash170 opened #54 "portfolio-Avinash-"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 16:13] #49 closed

[2021-07-13 16:18] Avinash170 opened #55 "portfolio-Avinash-"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 16:21] Sanju-github002 opened #56 "Working on Food Corner website"
I want to add footer in website to give social accounts address and about us information.

Can I work on this ????

[2021-07-13 16:42] arpit456jain commented on #52
hey @ushmita4 are you dcp contribtuor ?

[2021-07-13 16:42] arpit456jain commented on #56
hey @Sanju-github002  are you dcp contribtuor ?

[2021-07-13 16:43] ushmita4 commented on #52
Yes

[2021-07-13 16:45] #48 closed

[2021-07-13 16:45] Sanju-github002 commented on #56
Yess

[2021-07-13 16:46] altyon-get opened #58 "Subham Kumar Ojha"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 16:48] #55 closed

[2021-07-13 16:56] #42 closed

[2021-07-13 18:01] #58 closed

[2021-07-13 18:02] #32 closed

[2021-07-13 18:03] arpit456jain commented on #52
ok @ushmita4
dont you think its related to js

kindly create this issue on
https://github.com/arpit456jain/Amazing-Js-Projects

and close this one I will assign u asap

[2021-07-13 18:11] arpit456jain commented on #56
ok @Sanju-github002 go ahead :)

[2021-07-13 19:40] #54 closed

[2021-07-13 19:40] #53 closed

[2021-07-13 19:47] arpit456jain opened #60 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 19:48] #60 closed

[2021-07-14 03:29] Sanju-github002 commented on #56
Okay Thank you :)

[2021-07-14 03:31] #52 closed

[2021-07-14 03:31] arpit456jain opened #61 "Add remaining templates in style_link.json"
Add remaining templates in style_link.json and its url so that they can be accesed by home page

[2021-07-14 05:29] Sanju-github002 commented on #56
<img width="946" alt="Screenshot 2021-07-14 105915" src="https://user-images.githubusercontent.com/78341083/125567834-ca02e74d-3b87-4537-abff-a1e680eb740a.png">

is this okkk

[2021-07-14 05:32] arpit456jain commented on #56
Is it responsive @Sanju-github002 ?

[2021-07-14 05:37] Sanju-github002 commented on #56
Yes it is responsive sir

[2021-07-14 05:37] kiruba-r11 opened #62 "Obatin - Medicine Landing Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- I would like to add a medicine landing page named Obatin. This webpage was inspired by a dribble mockup design.

[2021-07-14 05:37] kiruba-r11 commented on #62
@arpit456jain I would like to work on this as a part of DCP'21

[2021-07-14 05:41] arpit456jain commented on #56
Make PR @Sanju-github002

[2021-07-14 05:48] Sanju-github002 commented on #56
<img width="252" alt="Screenshot 2021-07-14 111407" src="https://user-images.githubusercontent.com/78341083/125569621-a5dd15fc-821d-463f-add1-b5d98483a5d5.png">

see sir

[2021-07-14 05:48] Sanju-github002 commented on #56
How I upload img can you help me

[2021-07-14 05:50] arpit456jain commented on #56
You mean how to set IMG in background of page?

[2021-07-14 05:51] arpit456jain commented on #56
@ankitapuri please help him

[2021-07-14 05:54] Sanju-github002 commented on #56
Means how I upload my footer background to img folder in github

[2021-07-14 05:57] arpit456jain commented on #56
See @Sanju-github002 fork this repo and clone it on your system then make nesscary Changes and add images in folder and make a PR from a new branch

[2021-07-14 06:09] Sanju-github002 commented on #56
Okay

[2021-07-14 06:33] ankitapuri opened #64 "Configure bot to share the PR submission link"
## Issue Type:
Configure bot to share the PR submission link so that contributors can fill the form as soon as the PR gets merged .
Form link : https://forms.gle/ZGBdig8e3z3vSqNy9
[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

[2021-07-14 11:32] #56 closed

[2021-07-14 11:52] CharvyJain commented on #61
@arpit456jain Can I take up the issue?

[2021-07-14 11:53] arpit456jain commented on #61
Sure @CharvyJain

[2021-07-14 13:25] #61 closed

[2021-07-15 05:34] #64 closed

[2021-07-15 06:20] Sanju-github002 opened #69 "Making Gym website more good"
I want to work on gym website to make that more interactive by adding footer to give short belief about our website and link of different platform

[2021-07-15 06:48] #62 closed

[2021-07-15 06:49] arpit456jain commented on #69
go ahead @Sanju-github002

[2021-07-15 06:51] kiruba-r11 opened #70 "Glassmorphic Profile Card"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

It is a glassmorphic profile card, which can be used to describe us, our skills, and our achievements.

## **Screenshots**
<img width="1420" alt="Screenshot 2021-07-15 at 12 19 49 PM" src="https://user-images.githubusercontent.com/76843281/125742166-8ad823a9-c7ba-4fb1-92d2-ab36d1a03cb7.png">

[2021-07-15 06:52] kiruba-r11 commented on #70
@ankitapuri @arpit456jain I would like to work on this as a part of DCP'21

[2021-07-15 06:53] arpit456jain commented on #70
@kiruba-r11 go ahead

[2021-07-15 07:23] #70 closed

[2021-07-15 08:10] Sanju-github002 commented on #69
Thank You 😊

[2021-07-15 11:53] kiruba-r11 opened #74 "Maroom - Interior Design Landing Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- This is a Landing Page for an Interior Design Product name Maroom. This was inspired by a random dribble mockup design.

## **Screenshots**

<img width="500" alt="Screenshot 2021-07-15 at 5 21 20 PM" src="https://user-images.githubusercontent.com/76843281/125783692-a88a1cec-91c0-4b6d-8fef-751c322

[2021-07-15 11:53] kiruba-r11 commented on #74
@arpit456jain @ankitapuri I would like to work on this as a part of DCP'21

[2021-07-15 12:36] arpit456jain commented on #74
ok @kiruba-r11 just make sure that you make it by your self dont download from anywhere
we noticed these kinds of issue

[2021-07-15 15:25] sr-sweta opened #75 "Correct the game zone page and add some new features"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentation

## **Describe the bug**

The game zone page content is not placed well. And even more features can be added to the pages.

## **Possible solution**

I will place all content of game zone page well and will add more features to it. And will also add new features to other pages like footer, scroll top arrow.

## **Screenshot

[2021-07-15 15:43] #69 closed

[2021-07-15 15:43] arpit456jain commented on #75
@sr-sweta go ahead

[2021-07-16 11:07] #74 closed

[2021-07-16 14:03] rishabhrathore055 opened #77 "add points Table in Readme"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[x] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
-
![image](https://user-images.githubusercontent.com/77366500/125960254-641c6879-8add-412f-86f5-876ed

[2021-07-16 19:57] Dhruv-194 opened #79 "Add github pages website of this repository to readme"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[x] Documentaion

## **Describe the bug**

- I would be better if we could add the GitHub pages website of this repository to the readme so that people can easily view the projects of this repository.
- It will act as a demo for this repository.

## **Possible solution**

- Kindly please share with me the GitHub pages website link so that I can ad

[2021-07-17 04:39] arpit456jain commented on #79
Go ahead @Dhruv-194

[2021-07-17 05:19] kiruba-r11 opened #80 "Product Review Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [] Documentaion

## **Possible solution**

- It is a responsive product review page that contains star ratings of the products, testimonials, etc.

## **Screenshots**
<img width="1346" alt="Screenshot 2021-07-17 at 10 49 19 AM" src="https://user-images.githubusercontent.com/76843281/126026681-e5c46cfa-058f-4233-b0de-9a75429b2173.png">

[2021-07-17 05:20] kiruba-r11 commented on #80
@ankitapuri @arpit456jain I would like to work on this as a part of DCP'21

[2021-07-17 05:52] ankitapuri commented on #80
Ok go ahead

[2021-07-17 08:15] #77 closed

[2021-07-17 11:15] #80 closed

[2021-07-17 16:14] siddhi-244 opened #82 "Add a Glassmorphism-Form"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- I would like to add this template.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-17 16:21] arpit456jain commented on #82
@siddhi-244  i think it will come under Amazing-Css-Effects
@ankitapuri your views?

[2021-07-17 16:56] ankitapuri commented on #82
@siddhi-244 can please send any screenshot so that I can get an idea about what you are planning to make

[2021-07-17 16:57] siddhi-244 commented on #82
https://user-images.githubusercontent.com/69195262/126044331-4f78948d-1606-404d-8f0d-318cf0bb883b.mp4

[2021-07-17 17:05] Dhruv-194 commented on #79
@arpit456jain kindly share with me the github pages website link for this repo so that I can add it

[2021-07-17 17:09] arpit456jain commented on #79
https://arpit456jain.github.io/Cool-Front-End_Templates/

@Dhruv-194

[2021-07-17 17:12] ankitapuri commented on #82
@arpit456jain I believe we can add it here

[2021-07-17 17:15] arpit456jain commented on #82
Ok @ankitapuri

@siddhi-244 go ahead

[2021-07-18 05:10] #79 closed

[2021-07-18 06:24] kiruba-r11 opened #84 "Fix bug in style_links.json"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- There is a small bug in style_links.json file, due to which the page is not rendering.
- ScreenShot:
<img width="536" alt="Screenshot 2021-07-18 at 11 53 53 AM" src="https://user-images.githubusercontent.com/76843281/126057847-2f1be4de-7922-4b25-a9de-135ef3ff55fa.png">

## **Possible solution**

-

[2021-07-18 06:25] kiruba-r11 commented on #84
@ankitapuri @arpit456jain I would like to work on this as a part of DCP'21

[2021-07-18 07:16] ankitapuri commented on #84
@kiruba-r11 go ahead

[2021-07-18 13:59] tany1014 opened #85 "ResponsiveLogin sigh up page"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-18 14:00] #85 closed

[2021-07-18 14:02] tany1014 opened #86 "Responsive Login Sigh up page Template"
@ankitapuri @arpit456jain  Can you please assign this issue to me under DCP21

[2021-07-19 03:50] arpit456jain commented on #84
@kiruba-r11 kindly solve this issue asap

[2021-07-19 05:43] kiruba-r11 opened #88 "Social Media Dashboard Template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- The feature is to add a Social Media Dashboard Template with the following features:
- It is responsive
- Has two modes: Light and Dark
- Displays the stats of Social Media Handles

[2021-07-19 05:44] kiruba-r11 commented on #88
@ankitapuri @arpit456jain I would like to work on this as a part of DCP'21

[2021-07-19 06:04] #84 closed

[2021-07-19 17:25] #82 closed

[2021-07-19 17:55] Naman-mahi opened #90 "Furniture listing"
I would like to work on this project as it was listed in ideas. I would like to work under HCSSoC , DCP'21 and I request you to assign me this project.

[2021-07-19 19:10] ankitapuri commented on #90
@Naman-mahi please explain a bit or attach a screenshot

[2021-07-19 21:59] Dhruv-194 opened #91 "Issue template not working"
## Issue Type:

[x] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

The tick boxes of the issue template is not working as they are supposed. You can see above.

## **Possible solution**

add a '-' hyphen before each box to make it work as intended.

[2021-07-20 10:41] #88 closed

[2021-07-21 06:34] #91 closed

[2021-07-21 10:34] devesh-2002 opened #95 "Create a Weather Template"
I am a contributor under DCP'21 and I want to create a weather template. Please assign the issue to me for the same.

[2021-07-21 11:33] arpit456jain commented on #95
@devesh-2002 make sure you write your own code do not copy paste any code

[2021-07-21 13:24] arpit456jain commented on #90
@Naman-mahi are you talking about making a template ?

[2021-07-21 13:26] arpit456jain opened #96 "Arrange cards in Alphabatical order (style_link.json)"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-21 13:27] arpit456jain commented on #75
@sr-sweta any updates

[2021-07-21 13:28] arpit456jain opened #97 "Improve UI of home page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-21 13:40] Naman-mahi commented on #90
![IMG-20210720-WA0003](https://user-images.githubusercontent.com/61780573/126498234-8d676f29-25a4-4add-994a-9d8c93419379.jpg)
![IMG-20210720-WA0004](https://user-images.githubusercontent.com/61780573/126498318-57a2af2c-f4eb-48e0-90ec-11f2fe44f5a8.jpg)

[2021-07-21 13:41] Naman-mahi commented on #90
Yes, furniture product list

[2021-07-21 13:58] arpit456jain commented on #90
Ok @Naman-mahi make sure you write your own code do not copy paste the code From anywhere

[2021-07-21 14:30] Naman-mahi commented on #90
Yes sir, I write my own code and I'm full stack devloper

[2021-07-21 14:30] Naman-mahi commented on #90
Please assign me

[2021-07-21 14:31] arpit456jain commented on #90
ok @Naman-mahi go ahead

[2021-07-21 17:23] sr-sweta commented on #75
Yes Game zone page is much better now . But I wanted to add some more
features to other pages and then I thought of doing the pr. Due to my exam
things are getting delayed. If you say I can pr now and latter on change
other pages.

On Wed, 21 Jul 2021, 6:57 pm Arpit Jain ***@***.*** wrote:

[2021-07-21 17:29] arpit456jain commented on #75
@sr-sweta make your PR now and for other changes create a new issue when u r free

[2021-07-21 17:32] sr-sweta commented on #75
Ok sure. Thank you.

On Wed, 21 Jul 2021, 11:00 pm Arpit Jain ***@***.*** wrote:

[2021-07-22 18:06] #95 closed

[2021-07-22 18:39] arpit456jain opened #99 "Improve Yoga Template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-22 18:41] arpit456jain opened #100 "Improve Stationary website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-23 14:54] arpit456jain commented on #75
@sr-sweta make your PR asap.

[2021-07-23 16:34] sidparashar2001 opened #101 "Add a Food Website Tempelate"
Will add a responsive food web page
@ankitapuri  please assign it to me

[2021-07-23 16:45] ankitapuri commented on #101
@sidparashar2001 go ahead

[2021-07-24 16:02] #75 closed

[2021-07-25 04:47] #101 closed

[2021-07-25 14:11] jigar-sable commented on #97
I would like to work on this. Kindly assign me.
It's better to have preview of each template. I'm done with it, responsive too. Let me know if any changes. Images will be fetch from new JSON key called `preview`.

![cfet](https://user-images.githubusercontent.com/64949957/126902064-2b894682-3837-49d7-9080-de93e2e25b26.gif)

[2021-07-25 14:22] arpit456jain commented on #97
ok @jigar-sable that's great 🎉🎉

[2021-07-25 14:56] #97 closed

[2021-07-25 18:28] arpit456jain opened #105 "link preview images in home page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-25 18:29] arpit456jain commented on #105
@jigar-sable may I assign you this ?

[2021-07-25 18:51] jigar-sable commented on #105
Yeah Sure..

[2021-07-25 18:51] arpit456jain commented on #105
If you want you can make these changes in my other two repos also

[2021-07-25 18:52] arpit456jain commented on #105
although I can't give lvl3 in both of them but i will surely give lvl2

[2021-07-25 18:53] jigar-sable commented on #105
@arpit456jain alright will be doing the same soon for CSS & JS repos.

[2021-07-25 18:54] arpit456jain commented on #105
that's cool man 🎉  I appreciate

[2021-07-25 18:59] jigar-sable commented on #105
Thanks @arpit456jain

[2021-07-26 06:33] #96 closed

[2021-07-26 06:33] #105 closed

[2021-07-26 06:34] arpit456jain opened #107 "some images are not rendering"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-26 06:35] arpit456jain commented on #107
@jigar-sable great work its looking so cool but some images are not rendering please check

https://deploy-preview-106--cool-front-end-templates.netlify.app/?utm_source=github&utm_campaign=bot_dp

[2021-07-26 06:38] jigar-sable commented on #107
Yeah few of them aren't working. Need to rename & few changes.

[2021-07-26 07:26] #107 closed

[2021-07-26 07:29] arpit456jain opened #109 "Add a gif of home page in read me"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-26 08:31] Skapsime commented on #99
can you please assign this issue to me?

[2021-07-26 10:06] arpit456jain commented on #86
@tany1014 any updates ?

[2021-07-26 10:15] arpit456jain opened #110 "Improve Ui of Artica template in Desktop view and if possible mobile view also"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

![image](https://user-images.githubusercontent.com/55352601/126973050-cdcd74af-38b8-4648-91bf-9c22bd64974a.png)

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-26 10:22] arpit456jain opened #111 "improve UI of simple Portfolio template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

![image](https://user-images.githubusercontent.com/55352601/126973873-92b93666-a0b1-469f-b33d-2e410067638a.png)

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-26 18:47] arpit456jain commented on #90
@Naman-mahi see this issue is also open not completed yet try do complete it within 2 days

[2021-07-26 19:19] jigar-sable opened #112 "Back to top button on homepage"
## Issue Type:

- [x] Feature Request

## **Describe the feature**

Add scroll top button on homepage.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-27 05:38] arpit456jain commented on #112
@jigar-sable you want to work on this ?

[2021-07-27 05:39] jigar-sable commented on #112
@arpit456jain yes assign me

[2021-07-27 05:41] jigar-sable commented on #109
I would like to work on this issue.

[2021-07-27 05:50] arpit456jain commented on #90
@Naman-mahi create a new issue when your PR is ready

[2021-07-27 05:50] #90 closed

[2021-07-27 05:50] arpit456jain commented on #86
@tany1014 create a new issue when your PR is ready

[2021-07-27 05:51] #86 closed

[2021-07-27 06:08] #99 closed

[2021-07-27 06:10] arpit456jain commented on #100
@Skapsime would you like to work on this ?

[2021-07-27 06:51] Skapsime commented on #100
yes absolutely

[2021-07-27 07:06] arpit456jain commented on #100
@Skapsime go ahead

[2021-07-27 09:48] #109 closed

[2021-07-27 09:52] #112 closed

[2021-07-28 04:56] #100 closed

[2021-07-28 07:04] arpit456jain commented on #110
@Skapsime can you do this?

[2021-07-28 08:36] tany1014 opened #118 "Responsive Login Sigh up page Template"
Responsive Login sighup system @arpit456jain @ankitapuri  under DCP21

[2021-07-28 08:56] arpit456jain commented on #118
@tany1014 go ahead and complete it asap

[2021-07-28 17:40] Skapsime commented on #111
can I work on this ??

[2021-07-28 17:43] arpit456jain commented on #111
Sure @Skapsime

[2021-07-28 18:19] Skapsime commented on #111
t

Thanks for assign me on this project

[2021-07-30 09:18] Aryan-9211 opened #120 "Aryan Mangla"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-30 10:02] #111 closed

[2021-07-30 10:45] Aryan-9211 opened #122 "Aryan Mangla"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-30 13:03] #120 closed

[2021-07-30 14:52] SAHU-01 opened #124 "Yoga Template Landing page UI & Code snippet improvement!"
## Issue Type:

- [*] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
 The Yoga templete Landing page UI needs to be fixed and the code has to be edited so that the website looks better!
- A clear and concise description of what the bug is.
<img width="926" alt="yoga" src="https://user-images.githubusercontent.com/71656941/127671007-97d5873e-1cce-4b2f-88e1-e71274a0f28b

[2021-07-30 14:56] arpit456jain commented on #124
@SAHU-01 go ahead

[2021-07-30 16:12] #122 closed

[2021-07-31 07:12] SAHU-01 commented on #124
These are the  ideas I would suggest for the template,Whichever you choose I'll customize the webpage accordingly,plz let me know which design suits your taste!
![image](https://user-images.githubusercontent.com/71656941/127732042-03f54163-2ab0-455b-879a-2b48f60b2809.png)
![image](https://user-images.githubusercontent.com/71656941/127732056-59583ea3-f22e-49dc-a00d-b14b3b656bb7.png)

[2021-07-31 07:30] arpit456jain commented on #124
Hey @SAHU-01 do one thing first improve the ui of this current yoga template little bit as you have explained in the issue and make a PR for it..
I will give it a lvl2

Then create a new issue and under that issue you can add this design as a new project
I will give it a lvl3

Hope you understand

[2021-07-31 09:09] SAHU-01 commented on #124
Ok got it!

[2021-07-31 17:06] #124 closed

[2021-07-31 17:07] arpit456jain commented on #118
@tany1014 any updates ?

[2021-08-01 08:58] aditya687 commented on #118
Can I try this issue @arpit456jain ?

[2021-08-02 06:52] tany1014 commented on #118
yes i have finished whit my work

[2021-08-02 06:57] arpit456jain commented on #118
@tany1014 kindly make PR asap

[2021-08-02 06:58] arpit456jain commented on #118
and @aditya687 you can also make a PR for this issue since your design will be different so it will not create any problem

[2021-08-02 07:34] aditya687 commented on #118
Okk, thanks

On Mon, 2 Aug, 2021, 12:28 PM Arpit Jain, ***@***.***> wrote:

[2021-08-02 17:12] #118 closed

[2021-08-03 11:55] Umesh-01 opened #129 "Add some badges to the README"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [x] Documentation

## **Describe the bug**
Add some badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and after linking the badges it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

[2021-08-04 15:56] SAHU-01 opened #130 "New Yoga template(revised design and Code)"
## Issue Type:

- [ ] Bug Report
- [ * ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

Designing and writing source code for the yoga template

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-04 17:50] arpit456jain commented on #130
@SAHU-01 go ahead

[2021-08-06 04:17] arpit456jain commented on #129
@Umesh-01 go ahead and complete it asap

[2021-08-06 07:11] #129 closed

[2021-08-06 09:27] SAHU-01 commented on #130
Kindly take a look at the website template now,if it suits your taste then,I'd proceed with the pr!
![image](https://user-images.githubusercontent.com/71656941/128489231-1b3b01ad-01bc-42e1-a4d2-2270b89c27ae.png)
![image](https://user-images.githubusercontent.com/71656941/128489267-657f58be-30f0-4c7b-86c3-661486bff6ee.png)
![image](https://user-images.githubusercontent.com/71656941/128489302-b6c062

[2021-08-06 09:37] arpit456jain commented on #130
Yeah @SAHU-01 its amazing 🔥👌

[2021-08-06 09:39] SAHU-01 commented on #130
ok then, i'll move ahead with the pr now!

[2021-08-06 14:16] #130 closed

[2021-08-06 14:18] arpit456jain opened #133 "make Yoga template 2 responsive"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![screencapture-cool-front-end-templates-netlify-app-yoga-template-2-2021-08-06-19_47_48](https://user-images.githubusercontent.com/55352601/128524233-7c3469b

[2021-08-06 14:19] arpit456jain commented on #133
@SAHU-01 you want to work on this ? level can be increased on the basis of work

[2021-08-07 10:08] sidparashar2001 opened #134 "Personal Website Landing Page"
I want to add a Personal Website Landing Page.

[2021-08-07 10:55] arpit456jain commented on #134
Ok @sidparashar2001

[2021-08-07 17:09] #134 closed

[2021-08-07 17:43] sidparashar2001 commented on #110
right now the condition is not that good I will try my best and I will also remove the :active class because it's the main root of problem.
 Assign it to me

[2021-08-09 06:04] #110 closed

[2021-08-11 04:26] Anubhavdxt commented on #133
Hey @arpit456jain
I would like to work on this issue, can you help me out with the details and how can I go ahead.

[2021-08-11 04:55] arpit456jain commented on #133
@Anubhavdxt join the discord server and lets discuss about it in it , link is in the read me at last

[2021-08-11 06:59] arpit456jain opened #137 "testing"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-11 07:00] #137 closed

[2021-08-12 13:31] #133 closed

[2021-08-12 13:34] arpit456jain opened #139 "Remove devincept points table and update the heading from "is" to "was""
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-13 05:32] #139 closed

[2021-08-14 06:44] arpit456jain opened #141 "add two more items in navbar and add these links"
amazing Js Projects : https://amazing-js-projects.netlify.app/
amazing Css effects : https://amazing-css-effects.netlify.app/

[2021-08-14 06:46] arpit456jain opened #142 "Make a footer and add 3 sectioons"
section 1 : Description
Section 2 : other projects
section 3 : social media icons

[2021-08-15 14:26] khushi-purwar commented on #141
can you please assign  me this issue?

[2021-08-15 14:27] arpit456jain commented on #141
go ahead @khushi-purwar

[2021-08-16 07:29] #141 closed

[2021-08-19 14:01] SAHU-01 opened #144 "Food Odering Template Feature Improvment"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.
The Food odering template page isn't visually attractive,the content isn't clear , a new UI can be made that's more legible and user friendly.Especially the client and footer section...

## **Possible solution**
- Describe the solution you though

[2021-08-19 15:55] arpit456jain commented on #144
@SAHU-01 go ahead add this as a new template

[2021-08-20 05:33] SAHU-01 commented on #144
Sure!

[2021-08-24 18:38] #144 closed

[2021-08-24 18:43] SAHU-01 commented on #142
Could you let me know how you want the three sections to be aligned and elaborate what content to add? I'd like to work on this issue!!

[2021-08-24 18:51] arpit456jain commented on #142
like this
![image](https://user-images.githubusercontent.com/55352601/130673173-ce4f53f4-620f-4d25-b482-dd64e7f880cb.png)

[2021-08-24 18:57] SAHU-01 commented on #142
Sure got it just tell me what the 'other projects' section content is and all the social media icons you want me to add.

[2021-08-25 04:30] arpit456jain commented on #142
in other projects i want to add github repo of all three repos

link is in the read me

[2021-08-25 10:21] SAHU-01 commented on #142
Got it ,what do you want to add as description?? should I add the description from the readme?

[2021-08-25 10:27] arpit456jain commented on #142
yes

[2021-08-25 13:11] SAHU-01 commented on #142
![image](https://user-images.githubusercontent.com/71656941/130796535-ac34e35a-d0ce-49eb-bcc7-dd2645c3ddf4.png)
 @arpit456jain Let me know if you want any other changes to this or else I'll move ahead with the pr.

[2021-08-25 15:05] arpit456jain commented on #142
@SAHU-01 try to make background color dark so that it can match the whole page rest all is fine

[2021-08-25 15:17] SAHU-01 commented on #142
Do you have a color pallete in mind do let me know about that,then accordingly I can change the colors...

[2021-08-25 15:56] arpit456jain commented on #142
@SAHU-01 use Any colour of your choice which matches this website
https://cool-front-end-templates.netlify.app/

[2021-08-25 16:19] arpit456jain commented on #142
yeah sure lets try it

[2021-08-25 16:23] SAHU-01 commented on #142
![image](https://user-images.githubusercontent.com/71656941/130828254-930c3ed7-394b-4046-97bf-101fa1d93fc0.png)
here you go!!

[2021-08-27 12:31] arpit456jain opened #147 "Optimise the size and speed of website"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-10-06 11:52] sidparashar2001 opened #153 "Digital Banking Landing Page"
Will add a responsive Digital Banking Landing Page that's also responsive

[2021-10-07 14:34] ASLManasa opened #156 "recipe(cookery) website"
Hi, I am a participant of Hacktoberfest. I would like to add Template for landing page of  a recipe(cookery) website. Kindly assign me this issue. Thank you.

[2021-10-08 16:15] khushi-purwar opened #157 "Apple Website UI Clone"
Clone of Apple website using HMTL & CSS.

[2021-10-09 15:13] #157 closed

[2021-10-09 15:13] #153 closed

[2021-10-09 15:14] arpit456jain commented on #156
@ASLManasa ?

[2021-10-09 15:36] ASLManasa commented on #156
yes, I will do it by Monday.

[2021-10-10 04:42] YandaSaketh opened #159 "Add hover effects to social media icons"
I'm Yanda Saketh, a beginner to open source. I'm a hactoberfest participant and I would like to add hover effects to social media icons.

[2021-10-10 04:43] YandaSaketh commented on #159
@arpit456jain please assign this issue to me.

[2021-10-10 14:02] #159 closed

[2021-10-10 17:01] sidparashar2001 opened #164 "Add Netflix Home Page"
Will add a responsive Netflix Home Page

[2021-10-12 13:04] SAHU-01 opened #166 "Newsletter template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

Add a Static Newletter Template

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.
Using html,css and Javascript adding a newsletter template

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-10-17 11:13] jigar-sable opened #169 "View Code Feature"
## Issue Type:

- [x] Feature Request

## **Describe the feature**

We should have code button which will redirect to the codebase of specific project/effect.

## **Possible solution**

Add code button to the UI and pass the suitable link to redirect specific project.

## **Screenshots**

![image](https://user-images.githubusercontent.com/64949957/137624714-90c5cd87-91e8-4d1e-b6a4-906b34afc826.png

[2021-10-19 05:52] Sanskriti2401 opened #171 "Fix homepage images"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

Some template images are not visible.

## **Possible solution**

Fix the homepage images.

## **Screenshots**
![Screenshot (736)](https://user-images.githubusercontent.com/75210337/137851393-6cc462cd-8248-4d26-8488-87a1d0bef3a5.png)

[2021-10-19 15:30] #169 closed, assigned to nobody

[2021-10-21 16:05] gnikita432 opened #174 "Improve the footer in mobile view"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.
I would like to Improve the footer in mobile view under hacktoberfest
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-imag

[2021-10-22 11:42] #171 closed, assigned to Sanskriti2401

[2021-10-22 13:51] #174 closed, assigned to gnikita432

[2021-10-23 11:39] shivambmishra10 opened #177 "ADD a Tourism portal template in the collection template"
## Issue Type:

- [ ] Bug Report
- [-] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Tourism portal could be template here which would contribute compare other templates too.

## **Possible solution**

- I would made a college portal which is web page with the help of html and css.

## **Screenshots**

-
![Screenshot (58)](https://user-images.githubusercontent.com/83920404/1385544

[2021-10-23 15:00] shivambmishra10 opened #179 "Add Algowood(education site) a responsive template"
## Issue Type:

- [ ] Bug Report
- [.] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A new template which is responsive and its name algowood educational website.

## **Possible solution**

- I had a website template which made up of html,css and its responsive.

## **Screenshots**
![Screenshot (59)](https://user-images.githubusercontent.com/83920404/138561548-0a31eef8-1077-4e6d-b

[2021-10-23 16:37] #177 closed, assigned to shivambmishra10

[2021-10-23 16:45] #166 closed, assigned to SAHU-01

[2021-10-23 16:45] #156 closed, assigned to ASLManasa

[2021-10-24 19:34] zetabug opened #180 "Add an E-commerce Products page template"
Hey @arpit456jain

I want to add an E-commerce Products page Template that I made using HTML,CSS. It is completely Responsive and looks good on all devices .
I am contributing this as a participant for HACKTOBERFEST.

![Screenshot from 2021-10-25 01-02-26](https://user-images.githubusercontent.com/72355377/138609810-6ca74e9f-b921-42af-acdb-3d426cd5d43c.png)
![Screenshot from 2021-10-25 01-01-50](h

[2021-10-28 09:02] Sanskriti2401 opened #187 "E-commerce Rural Art page Template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

Want to add E-commerce Rural art product page template under Hacktober fest.

## **Screenshots**

![Screenshot (778)](https://user-images.githubusercontent.com/75210337/139223825-7a3e28ca-b998-4d48-912e-b6e7f3ae8ada.png)
![Screenshot (779)](https://user-images.githubusercontent.com/75210337/1392238

[2021-10-31 12:03] #187 closed

[2021-10-31 14:25] zetabug opened #189 "Please fix the spelling of hacktoberfest tag on your repository ."
@arpit456jain
You have written "hactoberfest " instead of "hacktoberfest" in a tag of your repository
Please fix it,or change it , as the label on your repo has to be proper so that it is recognized as "participating " by hacktoberfest .
![Screenshot_20211031-194958_Chrome](https://user-images.githubusercontent.com/72355377/139588239-f545671d-32c1-46a7-9b8a-907d6353e304.jpg)

[2021-10-31 14:31] arpit456jain commented on #189
Thanks @zetabug

[2021-10-31 14:31] #189 closed

[2022-02-27 14:44] 1ananya3 commented on #179
I want to work on this .Can you please assign me ?

[2022-02-27 14:45] 1ananya3 commented on #180
Is the issue is solved otherwise I can work.Please assign to me

[2022-02-27 14:47] 1ananya3 commented on #147
I want to work on this .Please assign it to me?

[2022-02-27 14:52] rajaditya28 opened #194 "Footer for the Page"
I would like to take up the task of improving the footer of the site. Kindly assign this to me @arpit456jain and I will try to improve the look and feel of the footer section.

I am also attaching a footer that I have made on one of my own sites as to increase the credibility.
![Screenshot 2022-02-27 201107](https://user-images.githubusercontent.com/68824237/155887303-6f10b9ee-ba37-4b82-893c-0e1c0

[2022-02-27 16:40] rashi1405 commented on #180
hello , I am a participant of GSSOC'22 , can you assign me this project to work .

[2022-02-27 16:42] rashi1405 commented on #194
hello , I am a participant of GSSOC'22 , can you assign me this project to work .

[2022-02-28 08:16] rajaditya28 commented on #194
@arpit456jain please respond to the issue request.

[2022-02-28 09:57] shubham2-002 commented on #180
Hello , I am a participant of GSSOC 22 can you assign this project to me I will make completely responsive e commerce product page

[2022-02-28 12:14] kaustav202 opened #195 "Add Gaming Portal Landing Page Template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A landing for an online gaming service.

Can I take up this issue as a contributor in gssoc22.
@arpit456jain

## **Possible solution**

<b>A clean and beautiful UI that utilizes glassmorphism.</b>
</br>
**The template has sections for for the following :**
- user profile
- active games
- game sear

[2022-02-28 15:16] Vikash-8090-Yadav opened #196 "[ Bug Report] Readme.md"
## Issue Type:

- [YES ] Bug Report

## **Describe the bug**
Hii there , Greeting's of the day
Readme is one of the most important part of the repository which consist of the guidence and flow of conduct . .and if it conatins eroor's then it gave a bad impact ...on organisation

As ur readme conatain's the grammaratical error .. Please asisgn this issue to me so that i can make this correct and gr

[2022-02-28 16:35] Girlwithasmile opened #197 "Another Netflix clone template for gssoc"
Hello there, I am a contributer at gssoc'22. I would love to work on the project. I would like to suggest that I can code another netflix ui template of movies n all with the hover effect and everything. I would be glad if u assign this to me. Attaching link of my website for referance.
https://girlwithasmile.github.io/Netflix-clone--code-and-recording/

[2022-02-28 16:44] Girlwithasmile opened #198 "Blogger's template for gssoc"
Hello, I would like to make and add a blogger's template here. I hope I get this issue assigned!@arpit456jain I am a contributer at gssoc'22 and previously made such templates and clones.

[2022-02-28 16:47] Anish-Parkhi opened #199 "Add a GYM Website template"
I am a participant at GSSOC.
I can add a template of GYM Website

[2022-02-28 17:24] gurjeetsinghvirdee opened #200 "Add Neumorphism login form"
I'm a GSSo'C 22 Contributor, I want to add the Neumorphism Login form
Please assign me this issue tomorrow, So I will work on this

[2022-02-28 17:48] shivambmishra10 commented on #179
Yes you can work in this i had no problem. But before assigning anything to you, I want to ask that which stack are you more comfortable with and what thing could you add in this project using your well known stack? if you can add then share that idea after that you can work on it. else if currently you are not getting what to do so on that case i will assign some task from my side, so decide and

[2022-02-28 18:17] sulogna2001 commented on #180
Hey Can you assign me this issue for GSsoc22

[2022-02-28 18:18] sagnik2001 commented on #199
Can I work on this under GSSoC 22

[2022-02-28 18:19] kalashvasaniya commented on #194
Hey, I want to work on this issue!

[2022-02-28 18:29] 1ananya3 commented on #179
I am comfortable with HTML, CSS, Bootstrap, JS . I haven't decided yet anything. If you want me to give some other tasks ,I will work in it . After that I will make an idea about it and share to you.

[2022-02-28 18:31] Bhawna147 commented on #198
Hey, I want to work on this issue under GSSOC'22. Please assign this to me.

[2022-02-28 19:47] CoderSahil128 opened #201 "Add a Responsive Website Template for a Restaurant."
I am a contributor at GSSoC-22. I would like to add a responsive food restaurant template . Please assign this issue to me.
https://user-images.githubusercontent.com/97339865/156048690-7e5690b3-69ca-44e8-b7b5-703bff6f53d0.mp4

[2022-03-01 00:15] XZANATOL opened #202 "Improving Website Navigation Bar"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

The live page Navbar is set to hide content in mobile devices as shown here
![image](https://user-images.githubusercontent.com/64689436/156076854-36661829-a9d7-4dcc-8b54-dbcb2a81200b.png)
which gives out a bad user experience, as the user have to scroll all the way down to navigate to other website pages.

## **Possible solution**

Ma

[2022-03-01 02:41] ShambhaviDixit09 commented on #194
Hello,
I am a Participant of the GSSOC 2022. I can fix this issue. So, I request to you to assign me this work.

[2022-03-01 03:10] Girlwithasmile commented on #198
Hey.... actually I opened this issue cause I wanna work on it.

[2022-03-01 03:46] Khushi-Mattu commented on #194
Can you assign this issue to me under GSSOC'22?

[2022-03-01 04:05] Rutikab12 opened #203 "Space Agency Website Template"
## Issue Type:

- [x] Template Code

- I want to add a website template for space agencies like ISRO, NASA, SpaceX. Please assign me this issue under GSSoC'22.

[2022-03-01 04:37] srinjoy-26 opened #204 "Add some more cool templates like e-commerce shopping website ."
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 04:38] srinjoy-26 commented on #204
I am a contributor , from girlscript summer of code . Please assign this issue to me.

[2022-03-01 05:39] aritra1804 opened #205 "Hello, I would like to make and add a Hulu Clone's template here. I hope I get this issue assigned.I am a contributer at gssoc'22"

[2022-03-01 05:51] Vedant-Jayesh-Oza opened #206 "Hey There ! I want to contribute a landing website for a tours and travels kind of website. Assign me this issue under GSSoC'22"

[2022-03-01 05:56] Abh1shekSingh commented on #194
Hi Sir @rajaditya28  Please assign this issue to me, I can make a Beautiful navbar for this Website. and responsive too

[2022-03-01 05:58] Abh1shekSingh opened #207 "Navbar For the Website"
## Issue Type:

Create a beautifull responsive navbar for the website and responsiveness too.

[2022-03-01 05:59] Abh1shekSingh commented on #207
@arpit456jain  I can work on this issue so please assign this issue to me under GSSOC 2022 . please sir, i can make bauitful navabr and responsive too

[2022-03-01 06:00] Abh1shekSingh opened #208 "Homepage UI / UX"
## Issue Type:

Website is good, But it could be better. UI is not attractive .
Improve the UI / UX design

[2022-03-01 06:00] rajaditya28 commented on #194
I am myself a GSSOC'22 contributor. That is why I have created the issue to get it assigned to me by the project admin

[2022-03-01 06:01] Abh1shekSingh commented on #208
@arpit456jain  SIR PLEASE ASSIGN THIS ISSUE TO ME. I WOULD LOVE WORKING ON THIS ISSUE

[2022-03-01 06:05] Abh1shekSingh commented on #194
Bro its our right to ask maintainer. Its his choice to whome he want to assign. dont you have given any opensource before

[2022-03-01 06:05] FatimaBegam opened #209 "Hey there! I want to add some more animated buttons. I'm absolutely new to open-source contribution. Assign me and I'll definitely try for the best output."
## Issue Type:  Feature Request

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 06:05] rajprem4214 opened #210 "Heyy admin! I want to add a Google Homepage Clone to your site , I am contributor at GSSoC'22. Please assign this issue to me."
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Adding a Google Homepage Clone**

- A similar clone of Google HomePage will be added in your templates list.

## **About the clone**

-  You can search stuffs like the real Google Homepage.

## **Screenshots**

- <img src="https://i.ibb.co/pZy50Jw/gclone.png" alt="gclone" border="0">

[2022-03-01 06:08] rajaditya28 commented on #194
Thats what I am doing. Asking for assignment. And yes, I have been a part of GWOC'21, GSSOC'21 and Hacktober Fest earlier.

[2022-03-01 06:09] FatimaBegam commented on #209
I'M participating in GsSOC'22.

[2022-03-01 06:11] rajaditya28 commented on #194
You have tagged and asked me to assign the issue when I am not even a maintainer. Look at your message before lashing out and yes Thats what I am doing. Asking for assignment. Also FYI, I have been a part of GWOC'21, GSSOC'21 and Hacktober Fest earlier.

[2022-03-01 06:18] Abh1shekSingh commented on #194
theek hai bro, just work quietly

On Tue, Mar 1, 2022 at 11:41 AM Aditya Raj ***@***.***> wrote:

[2022-03-01 06:19] Abh1shekSingh commented on #194
Then just work quietly. please

[2022-03-01 06:20] rajaditya28 commented on #194
Yeah, take care of that

[2022-03-01 06:24] rajaditya28 commented on #194
Yeah, you take care of that before lashing out on a simple message.

[2022-03-01 06:33] FatimaBegam commented on #208
Hey there are you participating in GSSoc'22??

[2022-03-01 06:39] Abh1shekSingh commented on #208
Yes

On Tue, Mar 1, 2022 at 12:03 PM FatimaBegam ***@***.***>
wrote:

[2022-03-01 06:39] Abh1shekSingh commented on #194
bhai chup kr na yr. bole ja rha hai

[2022-03-01 06:41] rajaditya28 commented on #194
Tu band kr lena muh..tu ruk rha h?? Toh dusre se expect kyu kr rha muh band krega??

[2022-03-01 06:45] Susmita-Dey opened #211 "Add My Facebook Login Page Clone Using Tailwind"
## Issue Type: Hey admin! I want to add a Facebook Login Page Clone to your site , I am contributor at GSSoC'22. Please assign this issue to me.

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**
I want to add this here.
- Repository Link:- https://github.com/Susmita-Dey/Facebook-Login

[2022-03-01 07:03] Abh1shekSingh commented on #207
@arpit456jain  Sir i have developed this beautiful navbar with some changes in color correction according to UI theory
![navbar improvised](https://user-images.githubusercontent.com/71981463/156120903-7a5f4061-0dad-4a28-91d1-98b75b9c88ff.JPG)
![responsive](https://user-images.githubusercontent.com/71981463/156120908-1c351adf-a0b0-467a-b2f3-53b8bf95582b.JPG)

[2022-03-01 07:03] Abh1shekSingh commented on #207
SIR PLEASE ASSIGN THIS ISSUE, SO I WILL CREATE PULL REQUEST @arpit456jain

[2022-03-01 07:12] Abh1shekSingh commented on #194
Kutte bhaunkte hi hai, Bhonkta reh

On Tue, Mar 1, 2022 at 12:11 PM Aditya Raj ***@***.***> wrote:

[2022-03-01 07:18] rajaditya28 commented on #194
Funny you were teaching to be all polite and decent when this is what your upbringing is !! Not one of my messages are indecent. You are the one on the offensive here. Show your stupid talk somewhere else. This isn't the place. Shut up.

[2022-03-01 07:34] Abh1shekSingh commented on #194
Keep barking

On Tue, Mar 1, 2022 at 12:48 PM Aditya Raj ***@***.***> wrote:

[2022-03-01 07:53] anish2210 commented on #207
hello @arpit456jain SIR, I want to work on this issue can anyone please assign this work to me I am attaching one of my works with this comment, It is a registration/login page that is built on stackblitz.
MUST CHECK THE RESPONSIVENESS 😊
link - https://angular-ivy-iro2sa.stackblitz.io/

[2022-03-01 08:11] FatimaBegam commented on #208
Okay

[2022-03-01 08:11] #194 closed

[2022-03-01 08:12] Abh1shekSingh commented on #207
Hi bro, I created this issue, and already have worked on it. You kindy find other issue and work on that issue. this issue is not created by  the maintainer. but it is created by me. as according to GSSOC

[2022-03-01 08:17] rajaditya28 opened #213 "Footer for the page || GSSOC'22"
I would like to take up the task of improving the footer of the site and make a beautiful, interactive and responsive footer.

I am also attaching a footer that I have made on one of my own sites to serve for credibility.

![Screenshot 2022-02-27 201107](https://user-images.githubusercontent.com/68824237/156130677-f4ee35dc-f7fc-4ff4-b14f-d595d6eae79c.png)

Please give suggestions about the type of

[2022-03-01 08:57] flow6979 commented on #213
hey, can you please assign this to me?
thank you.

[2022-03-01 09:08] Anish-Parkhi opened #214 "Hotel Booking Website Template"
Hello I am participant at GSSOC and I really want to work on this project

- [ ] Feature Request

Hotel booking website template can be added to the website

[2022-03-01 10:25] Susmita-Dey opened #215 "Add My New Year Countdown Timer Project"
## Issue Type: Hey admin! I want to add my New Year Countdown Timer Project to your site , I am contributor at GSSoC'22. Please assign this issue to me.

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**
I want to add this here.
**It's animated and responsive too.**
- Repository Link:-

[2022-03-01 10:29] Susmita-Dey opened #216 "Add My Password Generator Project"
## Issue Type: Hey admin! I want to add a Password Generator to your site. I am contributor at GSSoC'22. Please assign this issue to me.

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**
I want to add this here.

- Repository Link:- https://github.com/Susmita-Dey/Password-Generator
-

[2022-03-01 11:08] Sanghu01 commented on #214
I want to contribute in this gssoc project.

[2022-03-01 11:09] Sanghu01 commented on #208
I want to work on this project.

[2022-03-01 11:10] Sanghu01 commented on #207
I want to work on this project.

[2022-03-01 11:11] Sanghu01 commented on #195
I want to work on this project.

[2022-03-01 11:21] rajprem4214 opened #217 "Adding Parallax Website Design using Html CSS & Scroll Trigger | GSSoC'22"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

[2022-03-01 11:22] #217 closed

[2022-03-01 11:24] Nanshi29 opened #218 "Adding Parallex Website Design using Html Css & Scroll Trigger"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentation

[2022-03-01 12:24] lavakush07 commented on #213
I want to work upon this issue

[2022-03-01 12:27] Gaurika-Gupta opened #219 "Animated Glassmorphism Card Design"
Frontend Design using HTML and CSS

[2022-03-01 12:27] Gaurika-Gupta commented on #219
Please add GSSOC'22 tag and assign me the issue
Thank you

[2022-03-01 12:32] Debdeep1 commented on #219
I want to work on this issue under GSSoC'22

[2022-03-01 12:34] soumali28 commented on #218
I want to work on this issue under Gssoc

[2022-03-01 12:45] Rishabh-Gaud commented on #213
I am Rishabh Gaud GSSOC'22 participant. I want to solve this issue

[2022-03-01 12:46] Debdeep1 opened #220 "I want to add a NEOMORPHIC PORTFOLIO Template under GSSoC'22. Admin could you please assign me this task under GSSoC'22?"
## Issue Type:

- [ ] Feature Request

## **Describe the bug**

NEOMORPHIC UI Template for portfolio websites.

- A clear and concise description of what the bug is.
-
This is not a bug

- Describe the solution you thought of.

## **Screenshots**
![WhatsApp Image 2022-03-01 at 18 14 47 (1)](https://user-images.githubusercontent.com/89895057/156171334-fe002794-77cf-47bf-aeaa-4c699a797a1c.jpeg)
![Wh

[2022-03-01 12:47] Debdeep1 commented on #220
I want to work on this issue under GSSoC'22

[2022-03-01 12:53] soumali28 opened #221 "Want to add memory game"
## Issue Type:

- [x] Feature Request

## **Describe the bug**
This is not a bug. I want to add a memory game.

## **Possible solution**

The memory game will be build using html, css and js.

## **Screenshots**

![Memory Game - Google Chrome 3_1_2022 6_22_49 PM](https://user-images.githubusercontent.com/66300439/156172356-82a779f6-101e-4536-b533-f121e4f7eb43.png)

[2022-03-01 13:12] #200 closed

[2022-03-01 13:17] srinjoy-26 commented on #180
I have already raised an issue regarding this and 2-3 more templates . Please assign me.

[2022-03-01 13:19] gurjeetsinghvirdee opened #222 "Want to add Neumorphism Login form under GSSo'C 22"
## Issue Type
* [x] Feature Request

## Describe the bug
This is not a bug. I want to add the Neumorphism Login form.

## Screenshots
![Screenshot (674)](https://user-images.githubusercontent.com/73753957/156176102-1c9adff9-de7a-4e00-a665-ea5da2a0faa7.png)

[2022-03-01 13:26] debjitpurohit commented on #222
i want to work and create Neumorphism Login form.

[2022-03-01 13:29] debjitpurohit commented on #221
I want to add a memory game .assign this to me

[2022-03-01 13:33] Rajpreetkaur02 opened #223 "Art Gallery website with animation using only html and CSS"
## Issue Type: hey! I want to add an HTML and CSS project i.e. an Art gallery website. The highlight of the project is that it uses CSS animations and that makes a really cool website. I am a contributor at GSSoC'22. Please assign this issue to me.

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- this is not a bug.

the website highlights the following :
- ima

[2022-03-01 13:54] XZANATOL commented on #202
@arpit456jain can I get assigned for this issue?

[2022-03-01 13:58] FatimaBegam commented on #209
Sir please add GSSoC'22 label to this issue too.

[2022-03-01 14:01] Kalyani02072003 opened #224 "Site with video as background"

[2022-03-01 14:06] Rajdip019 commented on #213
Hey can I work on this?

[2022-03-01 14:08] Rajdip019 commented on #219
I would love to work on this. Ca you assign me this?

[2022-03-01 14:08] #224 closed, assigned to nobody

[2022-03-01 14:10] Kalyani02072003 commented on #224
okay so should i close this one then?

[2022-03-01 14:25] arpit456jain commented on #222
its comes under https://github.com/arpit456jain/Amazing-Css-Effects but we  already have it

[2022-03-01 14:25] #222 closed

[2022-03-01 14:26] arpit456jain commented on #221
@soumali28 create this issue on https://github.com/arpit456jain/Amazing-Js-Projects

[2022-03-01 14:26] #221 closed

[2022-03-01 14:28] arpit456jain commented on #207
its not needed as of now

[2022-03-01 14:28] #207 closed

[2022-03-01 14:31] soumali28 commented on #221
Ok

[2022-03-01 14:32] 1ananya3 opened #225 "A business/project template"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- A business/project template where someone can use to make their website.

## **Possible solution**

- We give them amazing layout styles, theme options and many more.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 14:34] #219 closed

[2022-03-01 14:34] arpit456jain commented on #218
create a issue on https://github.com/arpit456jain/Amazing-Css-Effects

[2022-03-01 14:35] #218 closed

[2022-03-01 14:35] arpit456jain commented on #216
create on issue on  https://github.com/arpit456jain/Amazing-Js-Projects

[2022-03-01 14:35] #216 closed

[2022-03-01 14:36] arpit456jain commented on #215
https://github.com/arpit456jain/Amazing-Js-Projects

[2022-03-01 14:36] #215 closed

[2022-03-01 14:37] arpit456jain commented on #213
actually I want a responsive a footer like this if anyone of u can make this do let me know
<img width="953" alt="footer" src="https://user-images.githubusercontent.com/55352601/156188786-b3d1eed0-3d4f-4d07-af9f-c5c242b9c85b.png">

[2022-03-01 14:39] Abh1shekSingh opened #226 "Make a responsive Navbar for the website"
## Issue Type:

Adding some responsiveness to the Navbar for mobile view

## **Describe the bug**

Designing and developing responsive navbar

## **Possible solution**

Just to fix some CSS code

[2022-03-01 14:39] Abh1shekSingh commented on #226
@arpit456jain  Please assign this issue to me. I will Definetly fix in in few seconds . Please assign this issue to me

[2022-03-01 14:43] 1ananya3 opened #227 "Spotify Clone"

[2022-03-01 14:44] Rajdip019 commented on #213
Yes sure I can make this! @arpit456jain

[2022-03-01 14:45] YalfamIamShaon opened #228 "Navbar design fix"
## Issue Type:
Fixing the design of the Navbar

## **Describe the bug**

- I want fix the design of the Navbar and make it more attractive

[2022-03-01 14:45] 1ananya3 commented on #225
@arpit456jain Please assign me in this issue. I can make it.

[2022-03-01 14:47] YalfamIamShaon commented on #228
I have made few websites, and I can design the Navbar and make it look more interactive. As a GSSOC 22 participant I want to work on this, please assign it to me.

[2022-03-01 14:47] Susmita-Dey commented on #215
Ok, I'm creating an issue there.

[2022-03-01 14:47] Susmita-Dey commented on #216
Okay, creating.

[2022-03-01 14:48] Susmita-Dey commented on #211
Thanks for assigning it to me.

[2022-03-01 14:52] astha2412 commented on #228
you have to make full template.....not only navbar

[2022-03-01 14:58] Vedant-Jayesh-Oza commented on #206
Thank for assigning me the issue, currently I am preparing for my college exams which will get over by 9th March, will start working actively after that, Hope you won't mind that 😅

[2022-03-01 15:28] pratham-ops opened #230 "Add a LinkedIn clone to this repo"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 15:47] aritra1804 commented on #205
Thanks for assigning. what is the deadline

[2022-03-01 16:03] B1TSH3LL commented on #230
hello , i would like to work on this issue can you just assign it to me 💯

[2022-03-01 16:04] Abh1shekSingh commented on #226
Sir please assign this issue to me @arpit456jain  I know how to fix this issue. please assign this to me

[2022-03-01 16:23] Aditya3403 commented on #226
Sir I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 16:25] Abh1shekSingh commented on #226
Sir i have created this issue by exploring the website, this is not created by maintainer. I am already working on it, just waiting for maintainer to assign, so that i can Pull request. What you have to do is, Explore the webiste, and find the issue create the issue and wait for assignment
Thank you

[2022-03-01 16:38] khushigupta123 commented on #208
I am interested in working on this issue, please assign this to me.

[2022-03-01 17:07] Rutikab12 commented on #203
Thank you

[2022-03-01 17:13] vardhinii opened #231 "Template for Weather forecast"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- It contains no bug. Suggestion for adding a template.

## **Possible solution**

- Create new or replace the existing weather page template with a new template with modern UI made with HTML and CSS.
- I'm participating in GSSOC'22 and I will make this feature.

# **Screenshots**

- Suggested UI template to be added not exactly the s

[2022-03-01 17:47] pratham-ops commented on #230
You can start working on it @B1TSH3LL

[2022-03-01 17:50] kaustav202 commented on #195
Can you assign me this project @arpit456jain

[2022-03-01 17:59] Rahul5430 opened #232 "Diprella Login Page Clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- I would like to add Diprella Login Page Clone to your website. Please assign me this under GSSoC22.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot 2022-03-01 231655](https://user-im

[2022-03-01 18:00] arpit456jain commented on #231
crearte this issue on https://github.com/arpit456jain/Amazing-Js-Projects

[2022-03-01 18:01] #231 closed

[2022-03-01 18:04] arpit456jain commented on #228
as of now there is no need

@YalfamIamShaon u can your templates here and in https://github.com/arpit456jain/Amazing-Css-Effects

[2022-03-01 18:04] #228 closed

[2022-03-01 18:05] arpit456jain commented on #226
i guess navbar is responsive ?

can u share some ss where its not responsive

[2022-03-01 18:06] CoderSahil128 opened #233 "Glassmorphism weather Widget UI Design"
I am a contributor from GSSoC - 22. I can create different kinds of glassmorphism card UI designs like glowing gradients and etc. and can add some effects like hover and tilt effects.so Please assign this issue to me. Here are some of my works.
![Demo 1](https://user-images.githubusercontent.com/97339865/156224144-bfb280a8-81c5-47ef-a2bc-0fd41ed7a310.jpeg)

[2022-03-01 18:06] arpit456jain commented on #213
go ahead @Rishabh-Gaud

[2022-03-01 18:07] #209 closed

[2022-03-01 18:09] arpit456jain commented on #202
@XZANATOL someone is already working on it if its not resolved by eod u can create this issue again

[2022-03-01 18:09] #202 closed

[2022-03-01 18:20] arpit456jain commented on #179
@1ananya3 u can take help from youtube and make any template u like just create a new issue for that and take ur time

[2022-03-01 18:28] 1ananya3 commented on #179
Assign me in this issue. Then I'll make a education site  or I can raise a
new issue like this.

On Tue, 1 Mar, 2022, 11:50 pm Arpit Jain, ***@***.***> wrote:

[2022-03-01 18:30] ShrutiKapure commented on #196
I am a GSSOC'22 participant, I want to work on this issue

[2022-03-01 18:45] TG922 commented on #233
Hey! @arpit456jain I would like to work on this issue under GSSoC'22 . Please Assign me with this issue .

[2022-03-01 19:25] ragineeguptta opened #234 "Found covid19/index.html page is not responsive and attractive UI template too."
## Issue Type:

- [ ✔] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
Found covid19/index.html page is not responsive like How to prevent and download buttons and attractive UI tamplate too.

## **Possible solution**

Want to make this page responsive and attractive with use of images and styling related Covid19. And make a popup when click in how to prevent and add d

[2022-03-01 20:14] AjeetSingh2016 opened #236 "UI enhancement for Weather template"
## Issue Type:

Feature Request

## **Describe the bug**

### - There is no perfect UI implemented on the weather template.

## **Possible solution**

### - I want to enhance the UI of the weather template.

## **Screenshots**

#### - Please assign me on this under **GSSoC22**.

![gssoc ss](https://user-images.githubusercontent.com/80536741/156240981-d1b1016e-dfa2-432b-b4eb-15199de7fe64.png)

[2022-03-01 20:24] 1ananya3 opened #237 "Resume Template"
A resume building template , simple and clean site.

[2022-03-01 20:25] 1ananya3 commented on #237
Assign me in this issue.

[2022-03-01 21:20] Atharv-110 opened #238 "Profile-Tree (Alternative Linktree)"
## Profile-Tree: A Linktree Alternative
#### It will be an alternative for the Linktree as linktree have many ads so Profile-Tree would not have ads and it will be responsive can be used anywhere.
##### Please assign me this issue.
###### Consider it under GSSoC'22

[2022-03-01 21:43] adityabhatia17 commented on #237
I have made a resume template. Please assign me this issue.

[2022-03-01 21:53] #196 closed

[2022-03-01 21:55] arpit456jain opened #239 "move pic of hactoberfest to below devincept and replace it with the logo og GSSoC'22"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 21:56] arpit456jain commented on #239
create this issue in other 2 projects as well

[2022-03-01 23:39] sarthakk24 commented on #239
i would like to work on this issue can you assign it to me .

[2022-03-02 01:59] Khushbu-kumari-87090 opened #240 "using some best attributes and tags"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-02 02:00] Khushbu-kumari-87090 commented on #240
heyy@arpit please  assign me.

[2022-03-02 03:30] Abh1shekSingh commented on #226
This navbar is already created by me sir.. but you said make new issue and
make navbar responsive. Thats why i had created this issue again. for
making responsiveness in the navbar please assign this issue. i am done
with responsive navbar just need Pull request

On Tue, Mar 1, 2022 at 11:35 PM Arpit Jain ***@***.***> wrote:

[2022-03-02 03:53] Girlwithasmile opened #241 "Wrong Preview for Apple Website Ui clone"
The preview given on main page for apple website ui clone is wrong. I would like to work on this under gssoc'22.
![wrong apple clone preview](https://user-images.githubusercontent.com/98261167/156291806-27deef3e-88b3-47fb-80a2-9ad72f47bb49.png)

[2022-03-02 05:43] Abh1shekSingh commented on #226
@arpit456jain  sir i can make it better please beleive me. i can make it more better

[2022-03-02 06:05] sirilalithaadapa opened #242 "Brick-Breaker"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- It's a cool front end game in which we break the brick

## **Vedio**

https://user-images.githubusercontent.com/70501362/156304700-87675a13-bdf6-40c8-8c81-3d725ff80308.mp4

- If applicable, add screenshots to help exp

[2022-03-02 06:12] sirilalithaadapa commented on #242
/assign

[2022-03-02 06:51] Siddhi-Mundada opened #245 "Hello, I would like to add beautiful footer for this website. Please allow me to work on this issue for GSSOC22"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Footer is must for any website where social media links and logo and name of website and some useful can be added that's why I raised this issue.

## **Possible solution**

- I would like to create a beautiful and attractive footer using Html, CSS and will also add hyperlinks.

[2022-03-02 06:56] sulogna2001 commented on #234
Hey Can I work  on  this issue under GSSOC22

[2022-03-02 06:57] sulogna2001 commented on #233
Hey Can I work  on  this issue under GSSOC22

[2022-03-02 07:00] AnIkeT126 commented on #245
Can I work on this issue too @arpit456jain as a part of GSSoC'22?

[2022-03-02 07:18] ragineeguptta commented on #234
@sulogna2001 Hey I'm already working on this..
Please check another pages one by one there are lot's of issues..

[2022-03-02 07:26] Avik-creator opened #247 "Add WhatsApp Web template"
## Feature Request / Template Issue

# Want to add WhatsApp Web Template

I want to add WhatsApp Web template. My name is Avik Mukherjee GSSOC 2022 contributer.

[2022-03-02 07:32] SayedTabish72 opened #248 "Image slider with multiple controls and mobile swipe control (Javascript)"
## Issue Type:

- [ ] Bug Report
- [X] Feature Request
- [X] Documentaion

## Description

- Image slider with multiple controls and mobile swipe control (Javascript) is created by  using **HTML, CSS, Javascript** . Image slider with multiple controls and mobile swipe control **(Javascript)**.  Image slider with multiple controls and mobile swipe control (Javascript) example is best for Bootstrap

[2022-03-02 07:49] ANJALI-KUKRETI opened #249 "I would like to add a beautiful responsive eLaundry website template under GSSOC'22"
## Issue Type:

- [ ] Feature Request

## **Describe the bug**

Want to add a new template

## **Possible solution**
https://user-images.githubusercontent.com/89701349/156317378-8ff31574-87a1-41d3-b9d2-21dd86f2cd7e.mp4

[2022-03-02 09:53] XZANATOL opened #251 "Add a Carousel Landing page template"
## Issue Type:

- [x] Feature Request

## **idea**

Add a carousel landing page template that is suitable for volunteering comunities to present themselves in a compact modern way.

## **Screenshots**

This is a demo of an already established website. (Images are blurred)

![image](https://user-images.githubusercontent.com/64689436/156337695-9f63bf89-980a-4994-9669-2a139b0983f3.png)

![image](http

[2022-03-02 10:29] AmolShelke2 opened #254 "I Want to add an Responsive Landing page with Dark and Light mode: GSSOC Participant"
## Issue Type:

- [x] Feature Request

## **Describe the Features**
- I want to add a Landing Page with a Hamburger Menu and a dark-light toggle created using HTML CSS and JavaScript I'm attaching the Demo with both dark and light filters please give it a look and assign this issue to work on it...

## **Screenshots**

![responsive-web-design-nu vercel app_](https://user-images.githubusercontent.c

[2022-03-02 10:55] Smriti-y opened #255 "Add the new webpages regarding valuable quotes"
I would like to add some valuable quotes of great personalities all over the worlds and several life lessons(some of the incidents and experiences being shared by them, ex- A P J Abdul kalam sir) that may motivate the user.

[2022-03-02 11:26] kaustav202 commented on #195
Done @arpit456jain

[2022-03-02 11:30] Priyanshu174 opened #257 "Indian Monuments template"
I will be adding 10 beautiful monuments of India with thier images and little description.
Kindly  assign me this issue.

[2022-03-02 11:31] Priyanshu174 commented on #257
Ok

[2022-03-02 11:58] yashikhare opened #260 "To Add a Interior Home design template"
I want to add A project template where someone can use to make their website.
With help of Html and css I am going to make this template.
I'm contributor in GSSOC22, can you please assign this issue to me?

[2022-03-02 12:39] VidhiBhatt01 commented on #226
@Abh1shekSingh the issue is assigned to you. Happy contributing!

[2022-03-02 12:40] VidhiBhatt01 commented on #233
Issue assigned to you @CoderSahil128. Happy contributing!

[2022-03-02 12:42] kheya19 opened #261 "Improve the card UI of "Cool Front End Templates" page"
Improving it by giving a modern look for  better feel and user experience.

[2022-03-02 12:44] VidhiBhatt01 commented on #234
@ragineeguptta the issue is assigned to you. Happy Contributing!

[2022-03-02 12:45] VidhiBhatt01 commented on #236
Issue assigned to you @AjeetSingh2016 . Happy contributing!

[2022-03-02 12:48] VidhiBhatt01 commented on #237
@1ananya3 issue assigned to you.

[2022-03-02 12:49] VidhiBhatt01 commented on #238
Issue assigned to you @Atharv-110.

[2022-03-02 12:50] VidhiBhatt01 commented on #240
@Khushbu-kumari-87090 please fill this template properly.

[2022-03-02 12:51] VidhiBhatt01 commented on #241
Sure!

[2022-03-02 12:52] kheya19 opened #262 "Add a restaurant website template"
I can make a responsive restaurant website template

[2022-03-02 12:55] CoderSahil128 commented on #233
Thank you 👍

[2022-03-02 12:55] VidhiBhatt01 commented on #242
@sirilalithaadapa raise this issue in amazing js projects repo.

[2022-03-02 12:55] Sandhya312 opened #263 "Adding a landing page template"
**I am a GSSOC'22 contributor**
I want to add an awesome landing page template to your project.

[2022-03-02 12:56] #242 closed

[2022-03-02 12:56] VidhiBhatt01 commented on #245
@Siddhi-Mundada please fill the issue template properly.

[2022-03-02 12:57] VidhiBhatt01 commented on #245
This is the template.

[2022-03-02 12:59] VidhiBhatt01 commented on #247
Sure!

[2022-03-02 13:02] VidhiBhatt01 commented on #248
@SayedTabish72 raise this issue in the amazing js projects repo. I will assign it to you.

[2022-03-02 13:02] #248 closed

[2022-03-02 13:11] VidhiBhatt01 commented on #255
Sure!

[2022-03-02 13:11] VidhiBhatt01 commented on #257
Go on!

[2022-03-02 13:12] VidhiBhatt01 commented on #260
Hey @yashikhare please elaborate a little more, like what all will you include ?

[2022-03-02 13:14] VidhiBhatt01 commented on #263
Go on!

[2022-03-02 13:17] #211 closed

[2022-03-02 13:20] Avik-creator commented on #247
Ok I will start working today.

[2022-03-02 13:33] AnishaRoy1 opened #264 "Add photo gallery website"
I want to add a photo gallery website.

[2022-03-02 13:36] Atharv-110 commented on #238
Sure, I will be raising PR in 2 days from now.

[2022-03-02 13:57] #210 closed

[2022-03-02 14:04] #223 closed, assigned to Rajpreetkaur02

[2022-03-02 14:32] dexterousb opened #266 "Starbucks Frontend Ui Template"
High Fidelity UI Design of Starbucks Front Page using HTML , CSS.

A much better version with effective and efficient code.

[2022-03-02 14:39] dexterousb opened #267 "Portfolio Template"
A very elegant and impressive UI Design.

[2022-03-02 14:52] arpit456jain commented on #264
did u create this issue in any other of our repo ?

[2022-03-02 15:00] AnishaRoy1 commented on #264
Yes I have created this issue in the Amazing JS project but you asked me to
create this in this "cool front end template" and you closed that issue in
the other repo. Thank you.

[2022-03-02 15:28] yashikhare commented on #260
I want to add a web page of interior home design.
This will be a responsive webpage of interior home design.
I will use Html and css for making this template

[2022-03-02 15:36] ragineeguptta commented on #234
@VidhiBhatt01 thank you

[2022-03-02 15:40] Pratham-R opened #271 "Grocery Shopping Front-End WebPage"
An Interactive grocery shopping front-end webpage.

[2022-03-02 16:08] sirilalithaadapa commented on #242
ok

[2022-03-02 17:09] 19arnab190201 opened #272 "Addition of a Microsoft clone in the list"
I would like to be assigned for adding a Microsoft clone in the list

[2022-03-02 18:25] VartikaB opened #275 "I want to add cool css animation templates under gssoc22"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-02 18:27] #275 closed

[2022-03-02 18:29] VartikaB opened #276 "Adding CSS animation templates"
I want to add some CSS animation templates under Gssoc22

[2022-03-02 19:17] AnIkeT126 opened #277 "Webpage template to promote Tourism in a state."
To design a webpage template that promotes tourism in a state.
As a template source, I will be using Leh and Ladakh.

Can I work on this issue as a part of GSSoC'22 @arpit456jain ?

[2022-03-02 19:26] Sandhya312 commented on #263
Thank you for assigning me.

[2022-03-02 19:41] AnIkeT126 commented on #277
Can I work on this issue as a part of GSSoC'22 @arpit456jain ?

[2022-03-02 20:50] Rhydham2809 opened #279 "Improving the navbar"
Following changes can be done:
1. A search bar can be added as it will be easy for user to search the desired template.
2.  Improving the styling of navbar.
I am 2022 Gssoc contributor.
Kindly assign this issue to me.

[2022-03-03 03:48] shubhra-g opened #280 "fashion shopping front-end webpage"
An interactive front-end template for a shopping website.

[2022-03-03 03:49] shubhra-g commented on #280
@arpit456jain  can you assign me to this issue?

[2022-03-03 05:09] Khushbu-kumari-87090 commented on #240
can i add the some fresh nature image with  motivational quotes

[2022-03-03 05:15] VidhiBhatt01 commented on #240
yes

[2022-03-03 05:16] Khushbu-kumari-87090 opened #281 "add some cartoon image with funny and study tool front end page"
## Issue Type:

- [ ] Bug Report
- [X] Feature Request
- [ ] Documentaion

add some cartoon image with funny and study tool front end page

[2022-03-03 05:20] Khushbu-kumari-87090 commented on #240
thanks but if are assigned to me this project  so  i  feel so comfotable . so please assign me.

[2022-03-03 05:22] Khushbu-kumari-87090 commented on #281
please assigned me.

[2022-03-03 05:49] VidhiBhatt01 commented on #240
Fill the template first

[2022-03-03 05:50] VidhiBhatt01 commented on #240
I will assign it you after that

[2022-03-03 05:52] VidhiBhatt01 commented on #276
@VartikaB raise this issue in Amazing CSS Effects repo

[2022-03-03 05:52] #276 closed

[2022-03-03 05:59] Khushbu-kumari-87090 commented on #281
thanks

[2022-03-03 06:27] Smriti-y commented on #255
Sir , Is there any discord channel for this project too.

On Wed, 2 Mar 2022, 6:41 pm VIDHI BHATT, ***@***.***> wrote:

[2022-03-03 06:50] Princykri opened #284 "want to make Responsive the Food template and add some effect on button"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
Its is not Responsive

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot (111)](https://user-images.githubusercontent.com/91013588/156511684-e530c401-e77f-42b4-94de-a6d8a5ca6040.png)

[2022-03-03 06:51] VidhiBhatt01 commented on #255
yes

[2022-03-03 09:31] Naresh-chandanbatve commented on #284
hey I would like to work on this.
please assign it to me it no one is working on it.

[2022-03-03 09:32] khushigupta123 opened #287 "Add favicon to website"
## Issue Type:

Feature Request

## **Description**

- I want to design and add a favicon to the website as currently it is not there.

##**Importance of favicon**

- Make website attractive
- Provide individuality to the website
- Make it easier for users to find website tab among other tabs

**I am a GSSOC 2022 participant,
Kindly assign this issue to me.**

[2022-03-03 09:45] adi2002vicky opened #288 "want to make Responsive Money Lone Website template with smtp email services forms"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![Screenshot 2022-03-03 151304](https://user-images.githubusercontent.com/78430607/156539017-f1172450-7336-4646-8adc-1addf8216bda.png)

- If applicable, add screenshots to help explain your probl

[2022-03-03 10:10] adi2002vicky commented on #288
hii i am gssoc2022 contributor pls assign me sir pls check pr i have already done my works
![Screenshot 2022-03-03 153528](https://user-images.githubusercontent.com/78430607/156543442-df1a1011-1552-453f-8b07-a53d6b3cf970.png)
![Screenshot 2022-03-03 153553](https://user-images.githubusercontent.com/78430607/156543455-9123cef6-4d9e-4222-a4a8-a61fb8670780.png)

[2022-03-03 10:44] Princykri commented on #284
@Naresh-chandanbatve  _Sorry to say but I have created this issue.

[2022-03-03 10:47] Naresh-chandanbatve commented on #284
Ohk no worries..

[2022-03-03 10:48] #208 closed

[2022-03-03 10:49] #199 closed

[2022-03-03 10:53] #266 closed

[2022-03-03 10:55] #247 closed

[2022-03-03 10:57] AdityaTheDev opened #291 "I'll create a Cool Car website front end. The car will move when website is opened, dynamic amazing site"
I'm a Gssoc22 Contributor

[2022-03-03 10:58] #204 closed

[2022-03-03 11:03] #277 closed

[2022-03-03 11:05] VidhiBhatt01 commented on #291
@AdityaTheDev will you use JS for this?

[2022-03-03 11:27] ProMinato500 opened #292 "Zomato Webpage Fontend"
##**Project Description**
I want to make a sample zomato frontend webpage.
It will be a dark mode enabled webpage which will look awesome.

##**Languages Used**
- HTML
- CSS
- Bootstrap

[2022-03-03 11:45] Sreemoyee26 opened #294 "Add Audition Form for my Organisation"
## Languages used

- [x] HTML
- [x] CSS
- [x] JS

## **Project Description**

- One page sample audition form to get into my Organisation

[2022-03-03 12:52] Rutikab12 opened #295 "Website Template for Bootcamp"
## Issue Type:

- [x] Feature Request

## **Describe**

- A ready-to-use website template for BootCamp made with pure bootstrap. It will be useful to change the content and use for any type of Bootcamp.

- Please assign me this issue as a GSSoC'22 participant.
- Below are the demo images of a template designed for, for example, web development BootCamp

![ss1](https://user-images.githubusercontent

[2022-03-03 12:55] Ankitsingh2001 opened #296 "College frontEnd webpage"
**I want a chance to make an amazing animated web page for college**

So please  sir assign me

[2022-03-03 13:07] Sreemoyee26 commented on #294
@VidhiBhatt01 pls assign me this issue

[2022-03-03 13:38] astha2412 commented on #296
Add ss or video

[2022-03-03 13:39] astha2412 commented on #295
Add ss or video!

[2022-03-03 13:41] RajatBhaskare7 commented on #245
can you assign me this task

[2022-03-03 14:38] soumali28 opened #299 "I want to add a landing page website got video calling"
## Issue Type:

- [ ] Feature Request

## **Describe the bug**

- This is feature which I want to add as a landing page. It will be created using HTMl , CSs and bootstrap.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-03 15:42] sirilalithaadapa opened #301 "Contest Page"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Contest Page like photography, art, singing contest

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

![Screenshot (122)](https://user-images.githubusercontent.com/70501362/156598685

[2022-03-03 15:58] Shobhit61730 commented on #267
Can you assign this issue to me?

[2022-03-03 16:42] VidhiBhatt01 commented on #299
Add SS or video

[2022-03-03 17:02] sirilalithaadapa commented on #301
nope i completed working on it

[2022-03-03 18:05] #271 closed

[2022-03-03 18:10] bhavyapathak20 commented on #296
I would like to contribute in this issue

[2022-03-03 18:13] bhavyapathak20 commented on #262
Hello! I would like to make a responsive restaurant template.
I will be using the following languages to build the website:
1) **HTML**
2)**CSS**
3)**Bootstrap**
4)**Javascript**
5)**Jquery**

Kindly assign this task to me.

[2022-03-03 18:15] #236 closed

[2022-03-03 18:15] bhavyapathak20 commented on #296
Hello! I would like to make a responsive college website.
I will be using the following languages to build the website:

1) **HTML**
2)**CSS**
3)**Bootstrap**
4)**Javascript**
5)**Jquery**

Kindly assign this task to me.

[2022-03-03 18:20] #257 closed

[2022-03-03 18:36] Ankitsingh2001 commented on #296
ok sure

[2022-03-03 19:17] #239 closed

[2022-03-03 19:35] Sulagna-Dutta-Roy opened #307 "Online tutorial website template"
I want to make a frontend template for online/education tutorial website. Please assign me this Issue under GSSSOC'22. Thank you In advance.

[2022-03-03 20:29] yasledesma opened #308 "Fix section 12 on Chinese Restaurant template"
Hello, I would like to take on this issue as a GsSoC contributor

## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- The social media list on this section is offset to left instead of being centered, both on desktop and mobile.
- When the user hovers over an icon, they grow in size, but they also cause the the container to grow.

## **Screenshots*

[2022-03-04 03:20] sceary-expert commented on #308
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:20] sceary-expert commented on #301
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:21] sceary-expert commented on #279
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:21] sceary-expert commented on #264
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:25] sceary-expert commented on #267
DHANANJOY DEY | Contributor#7903. I want to work on this under GSSOC2022.

[2022-03-04 03:26] sceary-expert commented on #263
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 03:26] sceary-expert commented on #255
I want to work on this under GSSOC2022. Here is my discord profile DHANANJOY DEY | Contributor#7903

[2022-03-04 03:43] sirilalithaadapa commented on #301
It is already assigned to me and also completed working onit!

And submitted a pull request to

[2022-03-04 04:33] adi2002vicky opened #309 "I want To Add Vegetable website tamplate"
## Issue Type:

- [x] Feature Request
![Screenshot 2022-03-04 100156](https://user-images.githubusercontent.com/78430607/156699971-e24c9ba0-7d83-4f50-9719-54fe906eadd4.png)

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your probl

[2022-03-04 04:34] adi2002vicky commented on #309
please assign me and check pr sir

[2022-03-04 04:57] manni2000 opened #311 "Add New CSS effect template!"
Hello PM Sir, I'm a Manish Kumar contributor of GSsoc'22.
Sir, I wanted to add like Intro video 'Welcome CSS Effect template' in the Amazing-CSS-Effects section.
So please give me an issue.
Thank you.

[2022-03-04 05:01] thelordzeus opened #312 "Sneaker Storefront website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- I want to build a storefront for sneakers. The website will build using HTML, CSS and tailwind and will come with a modern design and soothing animations.  It will be fully responsive with the help of bootstrap.

[2022-03-04 05:06] thelordzeus commented on #312
hi @arpit456jain . i would like to work on this issue for the GSSOC'22. kindly assign this issue to me.

[2022-03-04 05:29] #264 closed

[2022-03-04 05:32] VidhiBhatt01 commented on #255
Issues are assigned on an FCFS basis. You can check out other issues @sceary-expert

[2022-03-04 05:35] VidhiBhatt01 commented on #311
@manni2000 raise this issue in amazing CSS effects repo

[2022-03-04 05:35] #311 closed

[2022-03-04 06:01] soumali28 commented on #299
This is the website I want to add.
https://user-images.githubusercontent.com/66300439/156708448-3cb2e459-3ec3-449b-9972-840d6c0be7d6.mp4

[2022-03-04 06:05] mayank-del commented on #299
Can you elaborate?
means , that page will have  animated phone  which will oscillate up and down, right?

[2022-03-04 06:10] mayank-del commented on #291
can i  contribute??

[2022-03-04 06:11] mayank-del commented on #279
i also want to work in thus issue

[2022-03-04 07:18] vardhinii opened #313 "Youtube Clone"
## Issue Type:
Adding a YouTube dashboard clone to the list of projects, made using HTML, CSS, Javascript.

- [x] Feature Request

## **Possible solution**

+ Responsive Webpage that supports all devices.
+ Youtube Clone

## **Screenshots**
![Screenshot_20220304-124732_Chrome](https://user-images.githubusercontent.com/77223276/156717362-8281156f-77db-44a5-8acb-11cbe860391c.jpg)

[2022-03-04 07:33] Ankitsingh2001 commented on #296
![Screenshot (198)](https://user-images.githubusercontent.com/89564535/156719491-149055f1-b873-4470-9e41-1cd80d605d37.png)

[2022-03-04 08:26] Rashmisingh-18 opened #315 "App Launch Template"
App Launch Template that inlcude-Why to buy/download that app, features of the app, what features include for free purchase and its premium purchase.

[2022-03-04 08:27] Rashmisingh-18 commented on #315
Please assign this issue to me @VidhiBhatt01

[2022-03-04 10:12] Abhishek2408 opened #316 "Technology Font End"
## **Possible solution**

- A website look very simple and whitish .i want to make changes in header and footer section like add navigation bar to navigate through whole website and add some animation and color contrast etc.

[2022-03-04 10:21] ronitrangwani commented on #316
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:28] #261 closed

[2022-03-04 10:29] Abhilasha-Jairath commented on #267
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:30] Abhilasha-Jairath commented on #260
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:30] Abhilasha-Jairath commented on #262
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:30] Abhilasha-Jairath commented on #251
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:31] Abhilasha-Jairath commented on #237
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:49] Abh1shekSingh opened #317 "Improve Distortion occuring after adding Bootstrap CDN"
## Issue Type:

- [x] Bug Report

## **Describe the bug**

Everthing is distorting when we try to add Bootstrap CDN

[2022-03-04 10:51] Abh1shekSingh commented on #317
@arpit456jain  Assign it to me please

[2022-03-04 11:56] soumali28 commented on #299
No its just a basic landing page just the design done in html and css.

[2022-03-04 11:57] SachinMittal1766 opened #319 "Add footer in "COOL FRONT END TEMPLATES""
## Issue Type:
- [ ] Feature Request

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.
- I will add a footer which will contain contact info, copyright etc.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-04 12:54] VidhiBhatt01 commented on #315
@Rashmisingh-18 can you assign some SS or video?

[2022-03-04 12:56] VidhiBhatt01 commented on #319
@SachinMittal1766 Can you attach a SS or video of the footer?

[2022-03-04 13:01] Abhishek2408 commented on #316
I have done it and also raise the pull request please assign role to me under gssoc'22

[2022-03-04 13:11] VidhiBhatt01 commented on #316
@Abhishek2408 please elaborate more on what will you include?

[2022-03-04 13:41] #267 closed

[2022-03-04 13:44] #272 closed

[2022-03-04 13:45] Abhishek2408 commented on #316
@VidhiBhatt01 Navigation bar as it looks simple i have added color contrast in it. i have made some changes in CEO section the images is now properly aligned as u can see in images.
In below images u can see the enhancement  which i have done.
![image](https://user-images.githubusercontent.com/87486132/156774194-e3f5459f-18e8-49cf-9077-0b01bc05d3d8.png)
![image](https://user-images.githubuserconte

[2022-03-04 13:47] varisha-025 opened #322 "Add a product landing page for a hands-free speaker"
## Issue Type:

- [x] Feature Request

I want to add a product landing page for a hands-free speaker. It has animations and great hover effects.
I just have to make it mobile responsive and do some adjustments. If you like it, assign me the issue.

## **Screenshots**

<img width="1436" alt="Screenshot 2022-03-04 at 7 13 02 PM" src="https://user-images.githubusercontent.com/81171573/156774272-d30e8

[2022-03-04 13:52] Abhishek2408 commented on #316
@VidhiBhatt01 can u please merge the request which i have pulled.

[2022-03-04 13:58] varisha-025 opened #323 "Add a Preloader"
## Issue Type:

- [x] Feature Request

I wanted to add a preloader made with CSS only.

## **Screenshots**
<img width="1435" alt="Screenshot 2022-03-04 at 7 26 26 PM" src="https://user-images.githubusercontent.com/81171573/156776236-b0b80081-8cc9-45f4-a975-29e7492cba88.png">

Both the triangles rotate in a clockwise manner.

[2022-03-04 13:59] #312 closed

[2022-03-04 14:07] arpit456jain commented on #316
its invalid make another PR but make sure u r not destroying its responsiveness

[2022-03-04 14:10] Abhishek2408 commented on #316
@arpit456jain  Ya Ya Sorry for that i haven't seen that

[2022-03-04 14:16] #307 closed

[2022-03-04 14:18] arpit456jain commented on #319
@SachinMittal1766 some is working on it currently no need of this issue

[2022-03-04 14:18] #319 closed

[2022-03-04 14:48] Aritra777 opened #325 "Add a Food Blog website"
## Issue Type:
- [x] Feature Request

## **Screenshots**
![Screenshot (38)](https://user-images.githubusercontent.com/93366359/156784276-30d70882-6da4-45cc-a09e-d4ddd72aa15a.png)

I want to work under GSSOC'22.
Please assingn me

[2022-03-04 14:55] Aritra777 opened #326 "Update Navber links hover effect."
I want to make navbar links hover effect like the following website previously done by me.
## **Screenshots**
![Screenshot (34)](https://user-images.githubusercontent.com/93366359/156785503-b022b9dc-b20e-4403-b9ad-537c70e1d204.png)

Please assign me @arpit456jain under GSSOC'22.

[2022-03-04 14:56] Rashmisingh-18 commented on #315
The video is attached:

https://user-images.githubusercontent.com/90052358/156785926-26eca678-919e-4539-8e57-ee858e35a88a.mp4

[2022-03-04 14:59] darkhorse-2000 opened #327 "Add Payment-Page with HTML, CSS and JS"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Description**

- A payment page using frontend.

## **Stacks Used**

- HTML
- CSS
- Javascript

I am a GSSOC'22 Contributor. Please assign this issue to me.

[2022-03-04 15:08] Girlwithasmile opened #328 "More Tribute Pages"
I would like to make another tribute template with different patterns for Lata Mangeshkar, Shane Warne. I am a contributer at gssoc and would like to work on this as I hv good frontend skills.

[2022-03-04 17:21] #317 closed

[2022-03-04 18:51] Abhishek2408 commented on #316
@arpit456jain @VidhiBhatt01 Can u please check and merge pull request.

[2022-03-04 19:12] AjeetSingh2016 opened #331 "Add: Pricing Cards Template"
## Issue Type:

Feature Request

## **Describe the bug**

- Right now there is no template for pricing cards

## **Possible solution**

- I want to add pricing cards template

### Please assign me on this issue under **GSSoC22**

[2022-03-04 19:17] AjeetSingh2016 opened #332 "Add: Subscribe Newsletters Template"
## Issue Type:

Feature Request

## **Describe the bug**

- Right now there is no template for **Subscribe Newsletters**

## **Possible solution**

- I want to add **Subscribe Newsletters** template

### Please assign me on this issue under **GSSoC22**

[2022-03-04 20:48] NikitaTalreja opened #334 "Creating a yoga website template"
Hi,
I would like to design the Yoga template.

2. Following things can be added to the template
a.introductory section consisting of navbar
b. the testimonial section
c. benefits of yoga section
d. section indicating different classes schedules, timings, duration
e. section indicating the numbers like number of lives impacted, number of teachers in yoga class and so on
f.  gallery section

If you

[2022-03-05 03:57] maura-dev opened #338 "Improve the chinese restaurant template"
## Issue Type: Feature Request

## **Describe the bug**

-The template is not mobile responsive.
-There is also a x-axis overflow on both mobile and desktop view
- The sections are not stacked properly w
- The nav-bar has very large font
- The entire template has bad user experience

## **Possible solution**

- I intend to properly arrange the sections
- Work on the responsiveness and user experie

[2022-03-05 05:05] suman-shah commented on #332
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 05:06] suman-shah commented on #287
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 05:30] yashikhare commented on #260
hi, just give me one more day I am gonna upload my project.

[2022-03-05 05:39] Aritra777 opened #340 "Add a Simple JS Carousel"
## Issue Type:
- [x] Feature Request

I want to add a HTML, CSS, JS Carousel in this website.
The Carousel will look like [THIS](https://aritra777.github.io/Slider/)

[2022-03-05 05:49] Pranjali-49 commented on #338
Hey , @maura-dev I'm working under GSSOC'22 .  I would like work on this issue , can you please assign this to me?

[2022-03-05 05:52] Pratiksha-Daphal commented on #338
Hey , @maura-dev I'm working under GSSOC'22 . I would like work on this issue , can you please assign this to me?

[2022-03-05 06:18] ahmadjubair33 opened #342 "Register page"
Hi, @arpit456jain I will add a good design register page that will have a name section, email section, and terms & conditions check box. Assign it to me . I will start working on it.Thanks

[2022-03-05 06:22] Aritra777 opened #343 "Add a costom scrollBar"
## Issue Type:
- [x] Feature Request
I am a GSSOC'22 Contributer and I want to add a costom scrollBar to this website.
Please assign me @arpit456jain
## **Screenshots**
![Screenshot (37)](https://user-images.githubusercontent.com/93366359/156871162-0a405939-f5c5-49ad-8ed4-0e57780aaeab.png)

[2022-03-05 08:23] ankudubey28 opened #344 "Background Image Slider"
**Background Image slider**
     PROJECT DESCRIPTION
1 - A default image should be displayed when we load the
     page.
2 - when we click the "Left button" one of the five image
     should display, all the way until each of the five
       numbers display in sequence.
3 - Repeat step 2 for "Right button".

[2022-03-05 09:42] #287 closed

[2022-03-05 11:47] Cypher1002 commented on #334
hey i am interested in resolving this issue
what will be  the deadline of this issue

[2022-03-05 12:39] bhumikatewary opened #347 "PortFolio Animated Template"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

- No bugs present

## **Possible solution**

- This is an animated portfolio template

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot (55)](https://user-images.githubusercontent.com/77784592/156911933-594190c4-3a9e-49d9-8ee9-264ec47ae79e.png)
![Screen

[2022-03-05 13:41] VidhiBhatt01 commented on #326
@Aritra777 you can add a new folder and make a navbar whichever way you like but kindly do not change the layout of main website.

[2022-03-05 13:44] VidhiBhatt01 commented on #328
Sure, go on!

[2022-03-05 13:50] #343 closed

[2022-03-05 13:51] VidhiBhatt01 commented on #347
@bhumikatewary fill the issue template properly

[2022-03-05 16:31] Atharv-110 opened #350 "Website Template for Mobile Apps Development Company"
## Issue Type:

- [x] Project Addition

## **Possible solution**

- This will be an template of a website for a company who develops mobile applications so an landing page or website is needed to provide services and contact with the clients.

### Consider it under GSSoC'22 Contribution and please assign this to me

[2022-03-05 17:20] srinjoy-26 opened #351 "Add a travel website , with animated text."
Project description
made using HTML- CSS
HERE IS HOW IT LOOKS
I'm a GSSOC 22 contributor.
<img width="960" alt="taj" src="https://user-images.githubusercontent.com/91176055/156893513-165167a5-e386-4ebf-9b96-96489d7cca56.png">

[2022-03-05 18:57] #238 closed

[2022-03-05 18:59] #323 closed

[2022-03-05 20:28] starashdeep opened #353 "Online Store Template"
I have designed a unique and impressive frontend template for an online store.

Have a look at it. Hope you'll like it :)

![Screenshot (318)](https://user-images.githubusercontent.com/92468703/156899629-84c17cee-83d3-4692-9438-3ed785bc5ea7.png)

[2022-03-06 00:20] XZANATOL opened #355 "GitHub Homepage Clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Idea**

Add a GitHub Homepage clone built with only HTML & CSS to demonstrate the capabilities of flex property and simplify the idea of how GitHub's frontend is built

Issue made under GSSoC'22 contributions

[2022-03-06 03:46] #308 closed

[2022-03-06 03:48] #295 closed

[2022-03-06 03:50] #299 closed

[2022-03-06 03:52] #294 closed

[2022-03-06 03:56] #325 closed

[2022-03-06 04:06] #251 closed

[2022-03-06 04:09] arpit456jain commented on #291
@AdityaTheDev

[2022-03-06 04:10] #147 closed

[2022-03-06 04:11] #197 closed

[2022-03-06 04:11] #180 closed

[2022-03-06 04:12] arpit456jain commented on #201
i think this template is added

if not create this issue again

[2022-03-06 04:12] #201 closed

[2022-03-06 04:15] Nitya-S27 opened #357 "Add some new templates"
I want to add vegan store and a book reading website fully responsive template designed by me.
You can find it here -
- https://nitya-s27.github.io/VeganStore/
- https://nitya-s27.github.io/ReadMe/

[2022-03-06 05:06] Kalyani02072003 opened #358 "Blog Page for any site"
## Issue Type:

- [x] Documentaion

## **Describe the bug**

- In this project, I have created a blog page for any site. Though the site is not responsive and needs improvements, it has cool hover effects on blog cards and nav bar.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot (327)](https://user-images.githubusercontent.com/71889838/156910018-bbd

[2022-03-06 05:19] Areebah03 opened #359 "I want to improve pizza corner template"
I want to improve the template for pizza corner. Please assign it to me.

[2022-03-06 05:26] Areebah03 opened #360 "Improve food ordering template"
Document

In this project several button are not working and the content is not done.

I would like to create this template so please assign it to me.

[2022-03-06 05:31] ahmadjubair33 commented on #342
Hi, @VidhiBhatt01 @arpit456jain I have raised a PR for this issue please review and merge it. Thank you

[2022-03-06 05:35] Areebah03 opened #362 "Improve Gym Website template"
## [Documentation]

## **I want to change css of this template please assign it to me**

## **Screenshots**
![Screenshot 2022-03-06 110409](https://user-images.githubusercontent.com/85051124/156910654-4f64cb6e-5797-4bde-90f7-1e011588270d.png)

[2022-03-06 06:31] bhumikatewary commented on #347
I have updated the issue, please check

[2022-03-06 11:07] #347 closed

[2022-03-06 11:13] #198 closed

[2022-03-06 13:33] Khushi25pandey commented on #359
I am a GSSOC 2022 participant. I would like to work on the issue. Please assign it to me @Areebah03

[2022-03-06 13:36] Khushi25pandey commented on #327
I would like to work on the issue. Please assign it to me.

[2022-03-06 14:23] Vanshika7902 commented on #360
I want to work under this issue . Here in this project :
->Some better images can be used in Our Service-section.
-> Some buttons are not working.
Please assign it to me .

[2022-03-06 14:34] 12345678-nishitagole commented on #362
I want to Improve this Website Template and I also have experience in CSS.

[2022-03-06 15:17] Vanshika7902 opened #368 "Improving Food Website Template"
**Issue Type:**

- [ ] Documentaion

In this project :
- Some of the key are not working(Contact Us is not smoothly scroll)
- Content is not done in Our Services section
- CSS of hover effect

## **Possible solution**

- Make Contact Us button smooth scrolled .
- Complete the content of Our Services .
- Add hover effect in Contact Us section.

[2022-03-06 16:27] VidhiBhatt01 commented on #359
@Areebah03 please elaborate that how will you improve it and what changes will you make

[2022-03-06 16:28] VidhiBhatt01 commented on #362
@12345678-nishitagole issues are assigned on FCFS basis, you can check out other issues/find bugs/ create issues on your own

[2022-03-06 16:43] VidhiBhatt01 commented on #368
@Vanshika7902 fill the issue template properly and elaborate what and how will you improve the website

[2022-03-06 18:29] Saba2402 commented on #203
Hii there, I wanted to work over this issue but this as well as most of the issues are already assigned.Please assign any of the issue to me.

[2022-03-06 19:55] Sreemoyee26 opened #369 "Add product landing page"
## Issue Type:

- [x] Feature Request

## **Project Description**

- Add landing page for a products site

[2022-03-06 19:56] Sreemoyee26 commented on #369
pls assign me this issue @VidhiBhatt01

[2022-03-06 21:54] Vanshika7902 commented on #368
->As in Our Services, there are three section and all are food ordering so I want to change them to Food Ordering , Combo Ordering and  Food Delivery and add relevant content and images to it .
->I want to add hover effect in the contact us section .
->On clicking on Contact Us in the nav bar it is not scrolling us to the Contact Us section ,so I wan to fix it .

[2022-03-07 03:57] ShrutiKapure commented on #334
I want to work on this issue under GSSOC'22.

[2022-03-07 04:23] Ritika122001 opened #371 "Addition of a Price Template with Description"
Hope you like it !!

![image](https://user-images.githubusercontent.com/56202980/156967508-7082f5a4-8330-4952-8c13-43aab4ebc98c.png)

[2022-03-07 04:37] #358 closed

[2022-03-07 04:42] #355 closed

[2022-03-07 04:50] #260 closed

[2022-03-07 08:10] kheya19 opened #372 "Add responsiveness to the restaurant template"

[2022-03-07 08:11] #262 closed

[2022-03-07 08:53] Shobhit61730 opened #373 "Linear gradient effect on footer section."
Add linear-gradient effect on footer section will make your website very facinated.

[2022-03-07 08:54] Shobhit61730 commented on #373
Please assign this issue to me under Gssoc22 Contribution.

[2022-03-07 09:00] arpit456jain commented on #373
@Shobhit61730 show some ss or video

[2022-03-07 09:03] arpit456jain commented on #359
@Areebah03

[2022-03-07 09:09] #342 closed

[2022-03-07 10:22] Sanghu01 commented on #292
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:23] Sanghu01 commented on #344
i want to contribute in this issue under gsscoc'22.

[2022-03-07 10:24] Sanghu01 commented on #362
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:25] Sanghu01 commented on #351
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:30] yashikhare opened #375 "Add a college fest webpage template"
I want to add a college fest webpage template. It will contain About us and events section.
 I will be using html and css for making this college fest  template.
I am a GSSOC22  contributor.
can you please assign this issue to me?

[2022-03-07 10:56] Areebah03 commented on #359
@arpit456jain I will add several css, animation effects, transform,  button, improve navbar in order to improve the design.

[2022-03-07 13:19] priyanshi1282 opened #379 "Template for Podcast Website - PsychoPod Website"
## Issue Type:

- [x] Project Addition
## **Possible solution**

- This can be used as template for Psychology Podcast providing companies. They can use it as a Landing Page/Website to showcase their services provided.

### Please consider it under GSSoC'22 and assign it to me.

[2022-03-07 13:41] srinjoy-26 commented on #351
I have already worked on this issue

[2022-03-07 14:05] RAHULBAWA777 opened #380 "Template for Google Homepage"
I want to create a google homepage template.

[2022-03-07 14:35] Shobhit61730 commented on #373
![image](https://user-images.githubusercontent.com/87086265/157052918-14275bd1-83b4-48c2-a467-f76980e52754.png).

1. I have changed footer part designing and add linear-gradient colors to make it more appealing and attractive.
2. I have also corrected logo image in footer top part.

[2022-03-07 14:59] VidhiBhatt01 commented on #362
@Sanghu01 issues are assigned on FCFS basis

[2022-03-07 16:16] Rashmisingh-18 commented on #315
Please check that video and please assign this to me @VidhiBhatt01

[2022-03-08 03:50] saidhanya18 opened #383 "pet adopting website/template"
I'll be making a website or template to adopt pets like dogs ..using bootstrap . User can select the pet they want and contact the owner through the details given in the website ..
![image](https://user-images.githubusercontent.com/94187364/157162676-e69d24f6-a6d9-4734-a173-d2825a873037.png)

something like this !!!
please assign this issue to me so that I can start working .

[2022-03-08 04:06] rahul123gautam opened #384 "Guess My Number with HTML CSS JAVASCRIPT"
## Guess My Number

Hello sir , I want to add a Project Guess My Number to Cool-Front-End-Templates with using HTML ,CSS and little JAVASCRIPT
please assign me .

it looks like.
All button are doing specific tasks.
![Screenshot (110)](https://user-images.githubusercontent.com/93531189/157164063-066b4d0a-4c7f-4917-8947-dec9a09a4f94.png)

[2022-03-08 05:50] Anish-Parkhi opened #385 "Dating Website Template"
## Issue Type:

- [x] Feature Request

I want to add a dating website template made from HTML, CSS and Bootstrap

[2022-03-08 09:26] arpit456jain opened #386 "re configure the bot"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

In https://github.com/arpit456jain/Amazing-Js-Projects  the bot is adding the label when thePR is created but in this project its adding label when PR is merged
figure it out why its happening and solve it

[2022-03-08 09:31] #384 closed, assigned to nobody

[2022-03-08 09:34] #340 closed

[2022-03-08 10:34] TG922 opened #387 "Bot Issue : Configuring the automated links"
- [x] Issue

## Description

- I would like to add correct links in .yml file.

## Screenshot

- Hey Admin Please assign me on this feature under GSSOC '22.

![Issue 1](https://user-images.githubusercontent.com/70098839/157218703-aa5979a2-1c4e-4165-a582-9779460df231.PNG)
'
[Link](https://github.com/arpit456jain/Cool-Front-End-Templates/issues/new)

![Issue 2](https://user-images.githubusercontent.

[2022-03-08 10:47] TG922 commented on #386
Hi @arpit456jain , Which label is being added by the bot when PR is merged??

[2022-03-08 11:58] VidhiBhatt01 commented on #383
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:58] #383 closed

[2022-03-08 11:58] VidhiBhatt01 commented on #385
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:58] #385 closed

[2022-03-08 13:11] Khushbu-kumari-87090 commented on #281
i have used html and after second change i used  css .

[2022-03-08 14:15] Pushpita05 opened #390 "Hey, I would like to create a Cafe Shop website for GSSOC 22. Please assign this issue to me"
The website will be a landing for any cafe shop and will act as a great template for others to use. I will be using swiper.js in this to make it look more aesthetic. The website will be in light mode.

[2022-03-08 16:33] MannyP31 opened #392 "Developer Portfolio Template"
This is a developer portfolio website made using HTML , CSS and JS . It is absolutely responsive as well it has a good UI .
It has various sections such as about , skills , projects etc. Users can easily refer it to create a portfolio website of their own.

![Screenshot (628)](https://user-images.githubusercontent.com/76945004/157282277-f244e74a-c1f3-4f64-a62b-2cfa94e76165.png)

![Screenshot (629)

[2022-03-08 16:52] gana-18 opened #393 "Netflix-Sign in-Card"
I want to add Netflix sign-in page template which is made of HTML and CSS
<img width="949" alt="image" src="https://user-images.githubusercontent.com/81679141/157286066-6140edc6-c637-4b07-9164-29df7f3d8e75.png">
@arpit456jain Kindly assign me the above issue to work on .

[2022-03-08 18:14] VidhiBhatt01 commented on #390
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 18:14] #390 closed

[2022-03-08 18:14] VidhiBhatt01 commented on #392
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 18:14] #392 closed

[2022-03-08 18:15] VidhiBhatt01 commented on #393
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 18:15] #393 closed

[2022-03-08 18:23] VidhiBhatt01 opened #394 "Make Food Ordering Website Responsive"
## Issue Type:

- [X] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Tasks**
 [1] Fix the nav bar

![image](https://user-images.githubusercontent.com/83345228/157301188-d80fd35c-c18d-405c-a75d-a397c5791181.png)

[2] Size this section properly
![image](https://user-images.githubusercontent.com/83345228/157301292-3eb04cdc-0b81-4fbf-8f51-e9ad8bb9f6fb.png)

[3] Improve the UI of the footer(

[2022-03-08 18:58] #371 closed

[2022-03-08 19:03] #373 closed

[2022-03-08 19:04] MannyP31 commented on #392
@VidhiBhatt01 yeah alr8

[2022-03-08 19:06] #360 closed

[2022-03-09 08:31] trDalmi commented on #394
Hi there , i would love to work on this issue. Can u assign it to me under GSSOC22.

[2022-03-09 08:41] trDalmi commented on #213
Hi there, if this issue is not resolved yet can u assign it to me under the GSSOC22 tag.

[2022-03-09 09:33] #338 closed

[2022-03-09 14:11] XZANATOL opened #400 "Add Discord App Page Clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

Add a clone of Discord app homepage (the one where we enter to servers & dms)

## **Possible solution**

Going to make use of
- [x] HTML
- [x] CSS
- [x] JS
- [x] Bootstrap 5

Issue created under GSSoC'22 contributions

[2022-03-09 14:18] #205 closed

[2022-03-09 14:44] Nitya-S27 opened #401 "Add a website template for book readers"
I want to add a website template for book readers which I made.
Here's the link : https://nitya-s27.github.io/ReadMe/

This issue is in context with the conflicts occured in the issue  #357

[2022-03-09 15:28] leesha19 opened #402 "login template"
## Issue Type: feature request

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.
-

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

i want to add a cool login page template using html css and javascript

[2022-03-09 18:18] VidhiBhatt01 commented on #400
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-09 18:18] #400 closed

[2022-03-09 18:18] VidhiBhatt01 commented on #401
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-09 18:18] #401 closed

[2022-03-09 18:19] VidhiBhatt01 commented on #402
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-09 18:19] #402 closed

[2022-03-10 03:48] ShrutiKapure commented on #372
I want to work on this issue under GSSOC'22

[2022-03-10 03:53] ShrutiKapure commented on #280
I have already created an E-commerce-shopping website using HTML, CSS, JavaScript. The website contains shopping cart, about, login/signup etc.
I want to contribute on this issue under GSSOC'22.

[2022-03-10 04:32] Shivam-Katare commented on #394
I want to work on this issue, because responsive is one of my thing so, can you assign me this issue?

[2022-03-10 07:24] #296 closed

[2022-03-10 07:26] #254 closed

[2022-03-10 17:09] VidhiBhatt01 commented on #394
Assigned on the basis of FCFS

[2022-03-10 17:10] VidhiBhatt01 commented on #315
Assigned, sorry for the delay. I somehow missed the message

[2022-03-11 10:10] Sanghu01 opened #408 "@Sanghu01 issues are assigned on FCFS basis"
@Sanghu01 issues are assigned on FCFS basis

_Originally posted by @VidhiBhatt01 in https://github.com/arpit456jain/Cool-Front-End-Templates/issues/362#issuecomment-1060779166_

[2022-03-11 10:47] prer45 commented on #375
I would also like to work on this issue. Please assign it to me.

[2022-03-11 17:06] Keyurchaniyara opened #411 "Cafeteria Webpage"
## Issue Type:

- [ ] frontend page
- [ ] making this page Responsive

## **Possible solution**

- Hello

I am a GSSoC22 contributor. I will be delighted to make fully responsive website on cafeteria. Please do assign this to me.

Thank You :)

[2022-03-11 17:39] YatreeLadani opened #413 "Grocery Store Webpage"
## Issue Type:

- [ ] Responsive frontend page

## **Possible solution**

I am a GSSoC22 contributor. I would like to make responsive website on Grocery store.

[2022-03-11 17:54] yellowberard opened #414 "Amazon Prime Video login page clone"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- I made clone amazon prime video login page clone with HTML and css .

[2022-03-11 17:57] mrkc2303 opened #415 "Youtube Clone (Front-End)"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

I have a project Youtube-Clone made by HTML, CSS & Vanilla JS

## **Possible solution**

I have made the project for the same

## **Screenshots**

<img width="547" alt="Screenshot 2022-03-11 at 11 21 54 PM" src="https://user-images.githubusercontent.com/67221487/157922962-562e4cf1-4b28-4475-bc47-e9b588c51e1c.png">
<img width="1511" al

[2022-03-11 17:58] KushagraJain58-cmd opened #416 "Startup page template"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- I have made a template named startup page using HTML and CSS. Also connected it with a form.

[2022-03-11 18:03] prachi1211 opened #417 "Recruitment website"
**Issue Type:**

- [ ] Responsive frontend page
- [ ] Add download resume button

**Possible solution**

I am a GSSoC22 contributor. I would like to make responsive Recruitment website.

Thank you

[2022-03-11 18:04] KushagraJain58-cmd opened #418 "CSS Grid Template"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- I have made a CSS template using grid.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![Grid Master - Google Chrome 11-03-2022 23_33_34](https://user-images.githubusercontent.com/81035005/157924524-c6a0262b-470c-4e50-ac0b-8f7c3126fd86.png)

[2022-03-12 05:03] hardikdheer opened #420 "Animation effect on Footer part at Home Page."
Please assign this issue to me under GSSOC'22 contribution.

[2022-03-12 05:09] haritdheer opened #421 "Adding Facebook like clone (front end) in Cool Templates"
Hey @arpit456jain , I want to add a facebook like clone(Samajikbook) to your project under Gssoc'22 . Please assign me this project .

[2022-03-12 07:40] yashbhardwaj11 commented on #417
I want to work on this issue PA can you assign this issue to me

[2022-03-12 08:06] VidhiBhatt01 commented on #408
@Sanghu01 ??

[2022-03-12 08:06] #408 closed

[2022-03-12 08:07] VidhiBhatt01 commented on #411
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:07] #411 closed

[2022-03-12 08:10] VidhiBhatt01 commented on #413
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:10] #413 closed

[2022-03-12 08:10] VidhiBhatt01 commented on #414
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:10] #414 closed

[2022-03-12 08:12] VidhiBhatt01 commented on #415
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:12] #415 closed

[2022-03-12 08:13] VidhiBhatt01 commented on #416
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:13] #416 closed

[2022-03-12 08:13] VidhiBhatt01 commented on #417
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:13] #417 closed

[2022-03-12 08:13] VidhiBhatt01 commented on #418
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:13] #418 closed

[2022-03-12 08:14] VidhiBhatt01 commented on #421
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:14] #421 closed

[2022-03-12 08:14] VidhiBhatt01 commented on #420
Can you please elaborate on what kind of animation effect it will be?

[2022-03-12 08:25] SidharthSarangi opened #422 "Dynamic Weather App using ReactJS"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

will be adding a dynamic weather app integrated by ReactJS with the help of openweatherAPI
kindly assign this issue to me.
I am a GSSOC'22 participant.

[2022-03-12 10:39] #203 closed

[2022-03-12 10:41] astha2412 commented on #179
@shivambmishra10 complete this issue asap, otherwise it will be closed or assigned to others.

[2022-03-12 10:42] astha2412 commented on #206
@Vedant-Jayesh-Oza Complete this issue asap, otherwise, I will close this issue or assign it to others.

[2022-03-12 10:45] astha2412 commented on #225
@1ananya3 Complete this issue asap, otherwise, I will close this issue or assign it to others.

[2022-03-12 10:45] #226 closed

[2022-03-12 10:46] Vedant-Jayesh-Oza commented on #206
I am going to make a PR by the end of the day for sure.

[2022-03-12 10:46] astha2412 commented on #227
@1ananya3 Complete this issue asap, otherwise, I will close this issue or assign it to @ShrutiKapure.

[2022-03-12 10:46] Vedant-Jayesh-Oza commented on #206
Sorry for the delay I was going through my exams 😅

[2022-03-12 10:47] astha2412 commented on #230
@pratham-ops Complete this issue asap, otherwise, I will close this issue or assign it to others.

[2022-03-12 10:48] #232 closed

[2022-03-12 10:48] #233 closed

[2022-03-12 10:51] #234 closed

[2022-03-12 10:53] astha2412 commented on #237
@1ananya3 you have already made 2-3 issues and haven't completed a single one, so I m assigning this issue to @adityabhatia17. Complete it asap!

[2022-03-12 10:58] #240 closed

[2022-03-12 10:58] #241 closed

[2022-03-12 10:59] #245 closed

[2022-03-12 11:00] 1ananya3 commented on #237
My mid semester exam has started.That's why I cant manage to do my
task.Give me 5days i'll complete it asap.Thank you .

On Sat, 12 Mar, 2022, 4:23 pm Kumari Astha Rani, ***@***.***>
wrote:

[2022-03-12 12:51] SidharthSarangi opened #425 "Spotify Clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

will be adding the Spotify clone using HTML, CSS,JS
Please assign me to this.
I am GSSOC'22 participant.

[2022-03-12 16:54] Apexshya commented on #344
I am GSSoC participant and I would like to work on this issue.

[2022-03-12 20:30] Richadxt opened #428 "Job_finding_website_responsive"
I want design a job finding responsive website using Html,Css,Javascript n Bootstrap.please assign me to work on this task.

[2022-03-13 04:13] #372 closed

[2022-03-13 04:16] #213 closed

[2022-03-13 04:16] BinilTomJose1278 opened #429 "Online Delivery App"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-13 08:13] AmolShelke2 opened #430 "I want to add my Portfolio website to the project list"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- it is my portfolio website created using HTML CSS and JavaScript fully responsive on every device with home, about, project, and contact section I don't use any frameworks to create it because it is meant for beginners also who only have the knowledge of HTML and CSS can create this project I hope that you will go through my Issue a

[2022-03-13 17:11] VidhiBhatt01 commented on #422
We are not including projects with React JS as of now

[2022-03-13 17:11] #422 closed

[2022-03-13 17:29] VidhiBhatt01 commented on #429
@BinilTomJose1278 fill the issue template properly

[2022-03-13 17:30] VidhiBhatt01 commented on #428
@Richadxt If this project contains a significant amount of JS, I would suggest that you raise the issue in the amazing JS projects repo.

[2022-03-13 17:58] Richadxt commented on #428
Thank you! @VidhiBhatt01 for assigning me..

[2022-03-13 18:34] #350 closed

[2022-03-13 22:09] VishweshDeshpande28 opened #432 "I want to add my Webpage to the specific Website."
I have created a Cool Template about Gaming Website and also want to add up that to this project.

**Vishwesh Deshpande,
I'm GSSoC'2022 Contributor.**

Kindly assign me this work.

[2022-03-13 22:23] RajatBhaskare7 opened #433 "Anime Website"

[2022-03-14 09:59] Dhananjaysharma207 commented on #432
I have created a Cool Template about commercial website and also want to add up that to this project.
Dhananjay Sharma
Participant GSSOC'22

[2022-03-14 15:02] ayushim13 opened #435 "Add footer in Welcome to Lucknow page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- I would add a footer to this page to make it more attractive.

## **Possible solution**

- footer

## **Screenshots**

<img width="1440" alt="Screenshot 2022-03-14 at 8 14 20 PM" src="https://user-images.githubusercontent.com/78809695/158197024-2c82b546-a06a-44e2-bf11-91d73bde570b.png">

[2022-03-14 18:06] DEEPALI-SUK commented on #435
@ayushim13 go ahead.

[2022-03-14 18:39] arpit456jain commented on #386
The label of GSSoC'22

[2022-03-14 18:41] VidhiBhatt01 commented on #386
@TG922 you want to work on this?

[2022-03-15 03:36] TG922 commented on #386
Yes for sure

[2022-03-15 06:02] bhavyapathak20 commented on #433
i would like to work upon this issue

[2022-03-15 13:33] VidhiBhatt01 commented on #429
@BinilTomJose1278

[2022-03-15 14:26] RajAdwaita opened #437 "Shoe Store Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.
- I just started working on a cool frontend template for a shoe store and would love to have my work included in this project.

## **Screenshots**

- If applicable, add screenshot

[2022-03-15 14:34] arpit456jain commented on #437
have u made it already ?

[2022-03-15 14:43] arpit456jain opened #438 "Clone this template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

u have to clone this template from scratch u can't use its original code

https://preview.uideck.com/items/event-up/onepage/index.html

[2022-03-15 15:20] Daksh-jha opened #439 "Feaure Request : Clone Zomato Frontend."
## Issue Type:

- [X] Feature Request

## **Description of the Feature**

- Can add a ZOMATO frontend clone.

[2022-03-15 15:25] RajAdwaita commented on #437
no bro I am working on it that was just the landing page

[2022-03-15 15:26] Abh1shekSingh opened #440 "Add Search Bar in the website"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Want to add search bar to search and filter the projects

[2022-03-15 15:48] SwarupKMondal opened #441 "Build a Cool Calculator"
**Create a Calculator**

**Tech Used**
1. Html
2. Css
3. Javascript

I am a GSSOC'22 Participant.
I want to work in this issue.
Please assign it to me.

[2022-03-15 16:06] hrushi2003 commented on #441
@SwarupKMondal
Can you assign me to do this calculator

[2022-03-15 16:14] hrushi2003 commented on #441
Can you assign me the project to do

[2022-03-15 16:24] SwarupKMondal commented on #441
I am working on this project and I was the one who raised the issue. Kindly issue it to me

[2022-03-15 16:39] IshitaGarg-01 opened #442 "I want to improve the general design of engineers.copied template ."
I want to change the typography , the form page , the footer.
Also I am planning to change the About Us part and bringing all the features under 3 separate div which would make it look better.
Kindly assign me this issue !

[2022-03-15 18:32] DEEPALI-SUK opened #443 "Template clone"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

You have to clone this template from scratch u can't use its original code and it should be fully responsive.
https://www.templatemonsterpreview.com/demo/190204.html

[2022-03-15 18:41] DEEPALI-SUK commented on #439
@Daksh-jha ZOMATO clone is already present in the repo.

[2022-03-16 04:52] #441 closed

[2022-03-16 05:07] RajAdwaita commented on #437
Hey Admin can I make this template a part of your mega project

[2022-03-16 05:12] RajAdwaita opened #444 "Animated FrontEnd Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.
- Want to add a new frontEnd template having some animations and SVG based images.

## **Possible solution**

- Describe the solution you thought of.
- I have planned to start working on a cool frontEnd design that included some animations and ve

[2022-03-16 08:03] akritisrivastava2 opened #445 "Change the background to dark mode in technology page and also add more pictures and content to page"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- background change to dark mode and also add more pictures and content to page
![technology](https://user-images.githubusercontent.com/86703150/158584781-d4fc6601-c0f2-40de-84dc-9dabd859f434.jpg)
![tech2](https://user-images.githubusercontent.com/86703150/158585476-e1ac110a-28c7-4267-9c9a-4f2ceb3a7

[2022-03-16 08:12] Abh1shekSingh opened #446 "Counter Feature to display current number of projects"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Want to counter feature to display current number of project in the website

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![unknown](https://user-images.githubusercontent.com/71981463/158545453-372d8c14-af61-4682-9298-ab26a18de2ca.png)

[2022-03-16 08:13] Abh1shekSingh commented on #446
@arpit456jain @VidhiBhatt01  Please assign this issue to me. I will solve it soon

[2022-03-16 11:20] VidhiBhatt01 commented on #433
@RajatBhaskare7

[2022-03-16 11:21] VidhiBhatt01 commented on #432
??

you can attach whatever you find comfortable

[2022-03-16 11:23] #439 closed

[2022-03-16 11:23] VidhiBhatt01 commented on #444
@RajAdwaita fill the issue template properly

[2022-03-16 11:25] VidhiBhatt01 commented on #445
@akritisrivastava2 which project are you talking about? Kindly attach an SS of that page for easy reference

[2022-03-16 11:26] VidhiBhatt01 commented on #179
@1ananya3 are you working on this?

[2022-03-16 11:26] #225 closed

[2022-03-16 11:27] VidhiBhatt01 commented on #227
@ShrutiKapure are you willing to work on this?

[2022-03-16 11:28] VidhiBhatt01 commented on #230
@B1TSH3LL are you willing to work on this?

[2022-03-16 11:29] 1ananya3 commented on #179
Yeah , I am working on it. I'll complete it as soon as possible.

On Wed, 16 Mar, 2022, 4:56 pm VIDHI BHATT, ***@***.***> wrote:

[2022-03-16 12:10] akritisrivastava2 commented on #445
added SS of the page and edited the issue

[2022-03-16 13:13] ShrutiKapure commented on #227
Yes.

[2022-03-16 14:14] RajAdwaita commented on #444
Sorry Maam but do you want me to attach some preliminary screenshots of the website I am going to contribute

[2022-03-16 14:30] astha2412 commented on #369
@Sreemoyee26 Complete this issue asap within 2-3 days....otherwise I will close your issue!

[2022-03-16 14:31] astha2412 commented on #375
@yashikhare Complete this issue asap within 2-3 days....otherwise I will pass your issue to @prer45 !

[2022-03-16 14:32] #379 closed

[2022-03-16 14:32] astha2412 commented on #380
@RAHULBAWA777 Complete this issue asap within 2-3 days....otherwise I will close your issue!

[2022-03-16 14:34] astha2412 commented on #387
@TG922 Complete this issue asap within 2-3 days....otherwise I will close your issue!

[2022-03-16 14:43] astha2412 commented on #206
Not now.....Make your own issue

[2022-03-16 16:05] RajAdwaita opened #447 "Movie Based Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.
- Adding  a new Template for a movie based website

## **Possible solution**

- Describe the solution you thought of.
- I have started working on this website template and would like to add this as a part of this mega repository.

## **Screenshots

[2022-03-16 17:06] TG922 commented on #387
Hey @astha2412 nice to meet you !!
Actually, my Laptop fan was not working properly so, I was not able to access my laptop for long but from today I'm free to work on all issues. Tomorrow morning I will send PR regarding this !!

[2022-03-16 18:45] arpit456jain opened #448 "Structure All the projects"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

1. lots of project having images in root folder so make a new folder named img and put all images in that and edit path of images in file properly.

2.must check every project have a preview.png or not

3.It should be png not jpeg or any other format

4.make 1st letter of project capital and change

[2022-03-16 18:50] arpit456jain opened #450 "Check All the projects having plagiarism"
Check All the projects having plagiarism list them here
list their hosted link of my repo and the original template

[2022-03-16 18:54] arpit456jain commented on #447
make template host it and then share the link if its good to go then we will assign u and accept the template

[2022-03-16 19:02] RajAdwaita commented on #447
sure

[2022-03-16 19:19] shubhamlakheraa commented on #450
Hey can I work on this issue.

[2022-03-16 19:59] TG922 commented on #448
Hey, can you assign this issue to me?

Some projects don't have any preview image
Like this: https://github.com/arpit456jain/Cool-Front-End-Templates/tree/master/project2

[2022-03-17 02:20] myhacktech opened #452 "user interactive register form required here"
## Issue Type:

 Feature Request

## **Describe the bug**
An interactive form could be designed here for users ,so that they can sign up easily.

- A clear and concise description of what the bug is.

## **Possible solution**

A form to be created

## **Screenshots**
![form arpit jain](https://user-images.githubusercontent.com/86517958/158723527-c648eec5-144a-4a08-8504-650d26d4f68e.png)

- If appl

[2022-03-17 05:09] RajAdwaita commented on #437
/assign

[2022-03-17 05:39] RajAdwaita commented on #447
https://movie-success.netlify.app/

[2022-03-17 05:42] RajAdwaita commented on #447
This is the website that I have created
It also includes an ML prediction system that can predict the success of a movie based on certain parameters.

[2022-03-17 12:23] Manik-Aggarwal commented on #452
@myhacktech @arpit456jain please assign me this issue, I want to work on it.

[2022-03-17 12:33] myhacktech commented on #452
@arpit456jain can you please assign me this task, i have been trying to add the new features that can be included here?

[2022-03-17 16:04] RajAdwaita commented on #444
@VidhiBhatt01 MAAM this is the type of website I am planning to work on
![Screenshot 2022-03-17 213327](https://user-images.githubusercontent.com/76047644/158842510-c432719b-5bc4-4616-b7a5-1dcfe40968c7.png)

[2022-03-17 17:11] #440 closed

[2022-03-17 17:16] arpit456jain commented on #452
@myhacktech I m not getting what you want to do please elaborate

[2022-03-17 18:15] DEEPALI-SUK commented on #433
@bhavyapathak20 if you want to work on this problem statement then create a new issue and also explain this issue for now I am closing this issue.

[2022-03-17 18:15] #433 closed

[2022-03-17 19:12] #437 closed

[2022-03-17 19:35] arpit456jain commented on #179
@1ananya3 make a new issue when template is ready

[2022-03-17 19:35] #179 closed

[2022-03-17 19:38] arpit456jain commented on #249
@ANJALI-KUKRETI make PR asap

[2022-03-17 19:38] #357 closed

[2022-03-17 19:39] arpit456jain commented on #353
@starashdeep

[2022-03-17 19:39] #351 closed

[2022-03-17 19:40] #344 closed

[2022-03-17 19:40] arpit456jain commented on #334
@NikitaTalreja make PR other wise it will be assigned to other person

[2022-03-17 19:40] #332 closed

[2022-03-17 19:41] #331 closed

[2022-03-17 19:46] #291 closed

[2022-03-17 19:47] #281 closed

[2022-03-18 03:02] myhacktech commented on #452
sure

[2022-03-18 04:28] chaithanya99 commented on #438
does pictures and colours also has to be same or can be anything and do I need to clone the complete site

[2022-03-18 04:34] chaithanya99 commented on #438
assign this to me

[2022-03-18 06:38] VidhiBhatt01 commented on #437
Yes, invalid as of now. You can reopen this again in the future if we decide to include React Projects too. Sorry for the inconvenience!

[2022-03-18 10:10] #435 closed

[2022-03-18 10:11] #368 closed

[2022-03-18 12:37] Phalak-Sharma opened #456 "work on the buttons of the website as they donot appear good on hovering and also add ome page link to the logo"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
work on the buttons of the website as they donot appear good on hovering and also add ome page link to the logo

- A clear and concise description of what the bug is.
<img width="1230" alt="Screenshot 2022-03-18 at 6 03 53 PM" src="https://user-images.githubusercontent.com/36873064/159004264-d4a30fad

[2022-03-18 18:06] #387 closed

[2022-03-18 18:28] arpit456jain commented on #456
not needed for noe

[2022-03-18 18:28] #456 closed

[2022-03-19 05:50] #328 closed

[2022-03-19 05:50] #327 closed

[2022-03-19 05:51] #326 closed

[2022-03-19 05:51] astha2412 commented on #322
@varisha-025 Make issue again....when u r ready!

[2022-03-19 05:51] #322 closed

[2022-03-19 05:57] astha2412 commented on #353
@starashdeep Make a new issue when u r ready!

[2022-03-19 05:57] #353 closed

[2022-03-19 06:01] #315 closed

[2022-03-19 06:01] astha2412 commented on #313
@vardhinii Make a new issue when u r ready!

[2022-03-19 06:01] #313 closed

[2022-03-19 06:02] astha2412 commented on #309
@adi2002vicky Make a new issue when u r ready!

[2022-03-19 06:02] #309 closed

[2022-03-19 06:53] Abhishek2408 commented on #316
@arpit456jain nothing pr is already merged.Thanks

[2022-03-19 07:45] myhacktech opened #460 "transition required on hovering over the dialing icon"
## Issue Type:

- Feature Request

## **Describe the bug**

transition effect can be applied on dialing icon ,user hovers over it

## **Possible solution**

link to it https://cool-front-end-templates.netlify.app/hotel%20website/
![Screenshot (240)](https://user-images.githubusercontent.com/86517958/159112548-537d5332-e774-49ba-9d32-709333c516b4.png)

## **Screenshots**

- If applicable, add scree

[2022-03-19 10:59] RajatBhaskare7 opened #462 "Adding a Anime Template"
A creative anime website UI with animation and hover effects and creative cards and many more things

[2022-03-19 11:00] RajatBhaskare7 commented on #462
assign me this task

[2022-03-19 11:45] #362 closed

[2022-03-19 11:45] #359 closed

[2022-03-19 12:39] ayushim13 opened #463 "Add a project section and a service section to Tailwind Portfolio"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Project and service section missing.

## **Possible solution**

- Adding project and service section to make the portfolio website better.

## **Screenshots**

<img width="1440" alt="Screenshot 2022-03-19 at 6 06 42 PM" src="https://user-images.githubusercontent.com/78809695/159121390-64969bec-0b9

[2022-03-19 13:31] ayushim13 opened #464 "Add a new templet to this project"
I want to add a new templet (Fitness theme templet) to this project under GSSOC.

<img width="1440" alt="Screenshot 2022-03-27 at 1 48 36 AM" src="https://user-images.githubusercontent.com/78809695/160255737-1755062e-1c59-491a-b1a8-b237ad6a998c.png">

<img width="1437" alt="Screenshot 2022-03-27 at 1 47 08 AM" src="https://user-images.githubusercontent.com/78809695/160255731-54be3134-90f2-4810-9c0

[2022-03-19 14:13] #446 closed

[2022-03-19 14:54] #430 closed

[2022-03-19 16:13] RavishaNewase opened #465 "Add new template containing different food items."
Please assign me this under GSSoC'22.

[2022-03-19 16:49] VidhiBhatt01 opened #466 "Make the template responsive"
Using media queries make the Amol Shelkhe portfolio template responsive for all screen sizes.
Folder link: https://github.com/arpit456jain/Cool-Front-End-Templates/tree/master/AmolShelke-portfolio

![image](https://user-images.githubusercontent.com/83345228/159130419-e52f5ad2-1687-4159-9391-57df1632459c.png)

[2022-03-19 17:35] #206 closed

[2022-03-19 17:42] dewanshiPaul opened #467 "Can upload some cool css effects for buttons and menu."
Kindly open issue for me to put some cool css effects and some js for buttons and menu components.

[2022-03-19 17:44] DEEPALI-SUK opened #468 "Add Mentors"
## **Describe the bug**

Add two mentors in the project mentors section.
Here are there Github links-
https://github.com/DEEPALI-SUK
https://github.com/DEEPIKA-SUK

[2022-03-19 17:45] arpit456jain commented on #467
@dewanshiPaul elborate please

[2022-03-19 17:48] dewanshiPaul commented on #467
i have some ideas on applying some cool css effects elements for amazing css  effects

[2022-03-19 17:50] #467 closed

[2022-03-19 18:09] DEEPALI-SUK opened #469 "Make Template Responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

There is a folder named Admin Dashboard in the Cool-Front-End-Templates repo. Make that template fully responsive.

## **Screenshots**
- Desktop view
![Screenshot (67)](https://user-images.githubusercontent.com/64724041/159132913-513ed6f5-2705-43b2-96cb-4dacbe85e487.png)
- Mobile View
![Screenshot (

[2022-03-19 18:20] DEEPALI-SUK opened #470 "Make Template Responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

There is a folder named Apple Webiste UI Clone in the Cool-Front-End-Templates repo. Make that template fully responsive.
Desktop view

## **Screenshots**

- Mobile View
![Screenshot (69)](https://user-images.githubusercontent.com/64724041/159133627-72815a7f-9ab4-4fdf-af44-008b191250c4.png)

- Deskt

[2022-03-20 04:36] rockingrohit9639 opened #471 "Template preview images looks stretched"
The preview image of all templates looks stretched which kinda not look good in UI. I suggest making the images not stretched which will immediately improve the UI.

## **Screenshots**

![image](https://user-images.githubusercontent.com/40729749/159148418-22a86e6a-c0a5-4e96-a923-3f0e03581ad6.png)

[2022-03-20 06:46] arpit456jain commented on #471
no need for now

[2022-03-20 06:46] #471 closed

[2022-03-20 06:48] arpit456jain commented on #447
@RajAdwaita go ahead

[2022-03-20 06:49] #429 closed

[2022-03-20 06:50] arpit456jain commented on #432
make a new issue

[2022-03-20 06:51] arpit456jain commented on #394
@juberiya1ajaz start working on it

[2022-03-20 06:52] arpit456jain commented on #462
@RajatBhaskare7 first make the template show us if its up to the  mark then only we can assign u

[2022-03-20 06:54] RajAdwaita commented on #447
Sure bro

[2022-03-20 06:55] arpit456jain opened #472 "testing"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-20 06:57] #472 closed

[2022-03-20 08:16] Shivam-Katare commented on #470
Hey @DEEPALI-SUK I want to work on this issue, So can you assign me this issue.

[2022-03-20 09:16] SonikeshKumar14 commented on #465
plz assign me i want to work on this issue

[2022-03-20 10:11] priyanshi1282 commented on #379
Hey @VidhiBhatt01 why this Psychopod website is not opening ?
![image](https://user-images.githubusercontent.com/88632352/159157568-8dd513f0-d4db-4e66-8e82-1879f83b7d84.png)

[2022-03-20 12:57] KhushiRana2003 commented on #466
I am a participant under GSSOC 2022. I would like to work on the issue. Please assign it to me..

[2022-03-20 17:02] juberiya1ajaz commented on #452
can I work on this ? I would love to solve this issue. I can improve the UI as well as make this responsive.

[2022-03-20 17:11] arpit456jain commented on #452
@juberiya1ajaz check out other templates if they are not responsive u can create a issue for it and mention us

[2022-03-20 17:30] shubhamlakheraa commented on #450
Hey @arpit456jain, I  have concluded my inspection of the plagiarised code used in the Cool-Front-End-Templates project. Though there exist many projects which are based on the same topic their code is different more than 50% and are different in terms of designs.
My inspection included:
1. Checking the code for projects whose topics are the same or different.
2. Checking the design for projects w

[2022-03-20 18:00] arpit456jain commented on #450
@shubhamlakheraa great just maintain a list of templates' , their live links of our repo and link of original template u can have a meet with mentors

[2022-03-20 22:30] XZANATOL opened #475 "Microsoft Teams -> teams page clone"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

I would like to add a clone of one of the microsoft teams page (the page where the groups are listed)

## **Possible solution**

- The page will be responsive as the one in the desktop web app.
- Page will have Light & Dark mode implemented.
- Page will make use of HTML, CSS, Bootstrap5.

Issue made under GSSoC'22 contributions.

[2022-03-21 04:28] DEEPIKA-SUK commented on #466
@KhushiRana2003 Go ahead and try to complete the task as soon as possible.

[2022-03-21 05:12] proceane commented on #468
hey, @DEEPALI-SUK can you assign this issue? l want to work on this issue.

[2022-03-21 05:20] KhushiRana2003 commented on #466
Yaah Thanks.. I will do it upto 27 march. Thanks for assigning it to me.

[2022-03-21 05:52] astha2412 commented on #380
Yes, @RAHULBAWA777 Make PR and link your issue so that we can track your issue with your PR! If you need any more help then tag me or any other mentor on discord!

[2022-03-21 05:53] astha2412 commented on #425
@SidharthSarangi Make issue again when u r ready with your code!

[2022-03-21 05:53] #425 closed

[2022-03-21 06:20] astha2412 commented on #375
@prer45 r u willing to work on this issue??

[2022-03-21 06:22] astha2412 commented on #464
@ayushim13 Add ss or Video in your issue!

[2022-03-21 06:25] astha2412 commented on #465
@RavishaNewase  Plz add some ss or video...we have already many food websites.

[2022-03-21 10:12] RajAdwaita commented on #444
https://silly-shockley-17e80a.netlify.app/

[2022-03-21 10:13] RajAdwaita commented on #444
Hello, I have finally made this template and I hope my work will be included in the Cool Front End Templates Project

[2022-03-21 10:49] yashikhare commented on #375
yes, actually my exams were going on , so that's why i need more time

[2022-03-21 15:07] TG922 opened #478 "Developing Tiktok Clone"
## Issue Type:
- [ ]  Bug Report
- [x]  Feature Request
- [ ]  Documentaion

will be adding the Tiktok clone using HTML, CSS, JS
Please assign me to this, I am a GSSOC'22 participant

[2022-03-21 16:26] shubhamlakheraa commented on #450
Ok sure  @arpit456jain

[2022-03-21 17:10] VidhiBhatt01 commented on #444
Go on and raise the PR :)

[2022-03-21 19:07] kaustav202 opened #480 "Add Organic Business Home Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

A template for the landing page of a Organic Retail Website made using cool parallax effects using a clean and beautiful UI.

## **Possible solution**

Implemented

## **Screenshots**

![Uploading Screenshot (579).png…]()

![Uploading Screenshot (580).png…]()

[2022-03-21 19:08] kaustav202 commented on #480
Can I be assigned this issue

[2022-03-22 03:28] Sakshi-1701 commented on #470
Hello @DEEPALI-SUK
I would love to work on this.
It would be great if you could assign this issue to me.

[2022-03-22 04:32] kaustav202 commented on #480
Here are some screenshots that failed to upload earlier.

![o1](https://user-images.githubusercontent.com/89788120/159407345-fd2a8787-a978-45a7-a99b-906efa337f98.png)

![o2](https://user-images.githubusercontent.com/89788120/159408548-d8bdd681-b2c6-493e-bc1a-e9c14a1621e8.png)

[2022-03-22 06:37] DEEPALI-SUK commented on #470
@Shivam-Katare any updates?

[2022-03-22 08:46] Shweta-Rani1 commented on #478
I'm a GSSoC participant. I would like to work on this project.
Can you please assign me the project!
It would look like this-

![Tiktok Web App Clone](https://user-images.githubusercontent.com/80149419/159441879-c3acf6a6-d2c0-4258-959b-40143aa79103.jpg)

[2022-03-22 09:34] Shivam-Katare commented on #470
@DEEPALI-SUK Yes, I am working on it,half work is done and half work will done shortly.

[2022-03-22 10:54] Shivam-Katare commented on #470
Hey, @DEEPALI-SUK My laptop isn't responding correctly due to some hardware problem, So I can't solve this issue on time and I don't want to late this issue more. So, you can "Unassign me" from this issue. I am so sorry for taking your time hope you'll understand my problem.

[2022-03-22 11:08] DEEPALI-SUK commented on #470
yeah no problem!

[2022-03-22 17:14] arpit456jain commented on #480
@kaustav202 read this

[2022-03-22 17:19] chickenCHRISpy opened #481 "Add a Tourist Landing Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-22 17:23] piyushsonawane07 opened #482 "Add Starbucks Landing Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-22 17:23] chickenCHRISpy commented on #481
![image](https://user-images.githubusercontent.com/54064653/159539320-154fff6b-9b78-4ed3-a976-95a050a1069c.png)

[2022-03-22 17:24] piyushsonawane07 opened #483 "Add Starbucks Landing Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

[2022-03-22 17:25] #482 closed

[2022-03-22 17:28] piyushsonawane07 commented on #483
![image](https://user-images.githubusercontent.com/69463163/159540200-9c5084e0-2f8d-4ff6-945a-85e16126ce17.png)

[2022-03-22 18:21] kaustav202 commented on #480
Okay please assign me this

[2022-03-23 01:35] prer45 commented on #375
Yes I can work on the issue

[2022-03-23 10:11] RajAdwaita commented on #444
I have pushed the changes could you please check it

[2022-03-23 10:28] RajAdwaita commented on #444
PR -  #485

[2022-03-23 15:43] astha2412 commented on #375
@yashikhare Make PR

[2022-03-23 18:29] AnweshaRoses commented on #470
Hello I would like to work on this. Can you please assign it to me :)

[2022-03-23 19:12] Piyush-Aman opened #487 "Creative Agency Website"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![Screenshot (56)](https://user-images.githubusercontent.com/75135026/159777887-2a119c82-c967-4990-8bd8-156d6bddcd58.png)

- If applicable, add screenshots to

[2022-03-24 11:22] prachi1211 commented on #417
I am a GSSoC22 contributor. Please reopen this issue and assign it to me.

[2022-03-24 11:25] YatreeLadani commented on #413
Please reopen this issue and assign it to me. @VidhiBhatt01

[2022-03-24 11:50] Vikash-8090-Yadav opened #488 "[Add] Retaurant landing page"
<h2>Am GSSOC '22 Contributor..</h2>
...
## Issue Type:

-  Feature Request

## **Possible solution**

I want to add the restaurant website landing page

## **Screenshots**
![Screenshot from 2022-03-24 17-13-52](https://user-images.githubusercontent.com/85225156/159909419-d457f8e5-47d7-4d60-b0a6-79ba448ffb85.png)

[code]
![Screenshot from 2022-03-24 17-15-10](https://user-images.githubusercontent.c

[2022-03-24 13:05] arpit456jain opened #489 "image is missing"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
image is missing for E Commerce Shopping Website Template

## **Possible solution**

## **Screenshots**

![image](https://user-images.githubusercontent.com/55352601/159922486-eed4b035-fdbb-4c87-8c9f-3536fa162355.png)

[2022-03-24 15:52] AsmaIbrahimButt opened #490 "Add a grocery shopping Template"
## Issue Type: Add template for grocery shopping

- [ ] Feature Request

## **I want to add a grocery shopping template by using html ,css ,javascript and bootstrap .Kindly assign me this issue**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
[
![grocery](https://user-images.githubusercontent.com/89297894/159956492-88eed

[2022-03-24 16:04] dvlsatya commented on #438
i would like to work on this issue

[2022-03-24 16:04] dvlsatya commented on #263
i would like to work on this issue

[2022-03-24 16:41] aditiitomar opened #491 "Adding About, Services, Menu & Contact Page on "Food Template" Website"
## Issue Type:
- _Feature Request_

## **Describe the bug**

-  _Currently, there is no About, Services, Menu, Contact Page on [Food Template Website](https://cool-front-end-templates.netlify.app/food_template/#). I would like to create all the four pages with HTML & CSS_.

## **Screenshots**
![FoodTemplate](https://user-images.githubusercontent.com/80448500/159966204-a2fd9337-548a-427c-ae93-e7c5c

[2022-03-24 16:43] aditiitomar commented on #491
Hey, @arpit456jain Can I work on this issue?

[2022-03-24 18:08] DEEPIKA-SUK opened #492 "Making yoga template fully responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
There is a folder named Yoga template in the Cool-Front-End-Templates repo. Make that template fully responsive.

## **Screenshots**

![Screenshot (94)](https://user-images.githubusercontent.com/64724039/159981995-5f6598a7-d4fb-4f90-88b9-cff635e16cfc.png)

[2022-03-25 01:43] iamrahulmahato opened #494 "Want to make a Love Calculator"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Possible solution**

It will be a love calculator which will calculate how much your crush likes you

Stack:

Html
CSS
JavaScript

[2022-03-25 06:55] AsmaIbrahimButt commented on #490
Kindly assign me this issue.

[2022-03-25 13:42] yashikhare commented on #375
yes mam

[2022-03-25 15:05] abhinav80066 commented on #492
I Would like to work on this issue under GSSoC'22.

[2022-03-25 15:22] arpit456jain commented on #492
@abhinav80066 go ahead

[2022-03-26 08:09] Nitya-S27 opened #497 "Want to add a books website bootstrap template"
I want to add a website template for book readers which I made.
Here's the link : https://nitya-s27.github.io/ReadMe/

[2022-03-26 10:02] yellowberard commented on #414
@VidhiBhatt01 can this issue be reopen?

[2022-03-26 12:06] #394 closed

[2022-03-26 12:18] #470 closed

[2022-03-26 12:20] arpit456jain commented on #494
@iamrahulmahato add this is js projects

[2022-03-26 12:20] #494 closed

[2022-03-26 12:21] arpit456jain commented on #491
sure @aditiitomar

[2022-03-26 12:21] arpit456jain commented on #490
.

[2022-03-26 12:22] arpit456jain commented on #497
increase the font size and make a PR
![screencapture-nitya-s27-github-io-ReadMe-2022-03-26-17_53_08](https://user-images.githubusercontent.com/55352601/160239256-ce41d71c-9d37-4306-8a1b-347d8b46bc26.png)

[2022-03-26 12:23] #489 closed

[2022-03-26 12:24] arpit456jain commented on #488
.

[2022-03-26 12:33] Vikash-8090-Yadav commented on #488
Ok sure ..i will make the video and uplaod it..
Thank's for the comment..😄

[2022-03-26 13:24] iamrahulmahato opened #498 "css water wave background"
## Issue Type:

- [x] Feature Request
- [x] Documentaion

## **Possible solution**

It will be a water wave background made with CSS and Html

## **Screenshots**

![wave](https://user-images.githubusercontent.com/49890655/160241398-02ae76a7-15af-4665-929b-a9e53494b1cc.jpeg)

[2022-03-26 13:37] iamrahulmahato opened #499 "full css house game"
## Issue Type:

- [x] Feature Request
- [x] Documentaion

## **Possible solution**

- It will me house game fully made by CSS and HTML with changing background and with two-mode

## **Screenshots**

![game2 (1)](https://user-images.githubusercontent.com/49890655/160241975-ae024c01-ea47-4d55-8074-7d47f1eb6a84.gif)

[2022-03-26 17:00] sophiastr commented on #280
Hello, can you assign me to this issue?
Thank you

[2022-03-26 17:03] sophiastr commented on #481
Hello, i want to deal with this issue.
Can i have it, please?

[2022-03-26 17:09] VidhiBhatt01 commented on #227
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:09] #227 closed

[2022-03-26 17:11] VidhiBhatt01 commented on #237
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:11] #237 closed

[2022-03-26 17:11] #230 closed

[2022-03-26 17:11] VidhiBhatt01 commented on #255
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:11] #255 closed

[2022-03-26 17:12] VidhiBhatt01 commented on #263
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:12] #263 closed

[2022-03-26 17:13] VidhiBhatt01 commented on #280
Assigned it to you @sophiastr

[2022-03-26 17:13] VidhiBhatt01 commented on #288
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:13] #288 closed

[2022-03-26 17:13] VidhiBhatt01 commented on #284
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:13] #284 closed

[2022-03-26 17:13] #292 closed

[2022-03-26 17:13] VidhiBhatt01 commented on #301
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:13] #301 closed

[2022-03-26 17:14] #316 closed

[2022-03-26 17:15] VidhiBhatt01 commented on #334
Assigned the issue  to you @Cypher1002

[2022-03-26 17:16] VidhiBhatt01 commented on #249
Is it completed? If not, reopen this issue when PR is ready

[2022-03-26 17:16] #249 closed

[2022-03-26 17:17] #369 closed

[2022-03-26 17:17] #432 closed

[2022-03-26 17:19] VidhiBhatt01 commented on #462
@RajatBhaskare7

[2022-03-26 17:20] VidhiBhatt01 commented on #478
Cool

[2022-03-26 17:20] VidhiBhatt01 commented on #480
Assigned

[2022-03-26 17:23] VidhiBhatt01 commented on #498
Raise this issue in amazing css effects repo if it is not already present there

[2022-03-26 17:23] #498 closed

[2022-03-26 17:27] DinahWorld opened #500 "Adding my Portfolio in Cool Templates"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

I want to add my portfolio to your project
My portfolio :  https://dinahworld.xyz/

## **Screenshots**
![Screenshot_2022-03-26-46_1890x1018](https://user-images.githubusercontent.com/88936472/160250648-366e98ae-2e2e-4954-8028-2b43e53ac44b.png)

![Screenshot_2022-03-26-55_1890x1018](https://user-images.githubusercontent.com/

[2022-03-26 17:28] DEEPIKA-SUK commented on #380
@RAHULBAWA777 Make the PR otherwise this issue will get closed.

[2022-03-26 17:29] RAHULBAWA777 commented on #380
Yeah I'll make it ASAP

On Sat, Mar 26, 2022, 10:58 PM DEEPIKA-SUK ***@***.***> wrote:

[2022-03-26 17:33] DEEPIKA-SUK commented on #386
@shilpiverma24 Go ahead

[2022-03-26 17:38] DEEPIKA-SUK commented on #438
@chaithanya99 go ahead

[2022-03-26 17:45] DEEPIKA-SUK commented on #445
@akritisrivastava2 Make the PR otherwise this issue will be closed.

[2022-03-26 17:47] DEEPIKA-SUK commented on #450
@shubhamlakheraa Make the PR

[2022-03-26 17:49] DEEPIKA-SUK commented on #463
@ayushim13 any update? Make the PR as soon as possible

[2022-03-26 17:54] DEEPIKA-SUK commented on #469
@juberiya1ajaz any update? Make the PR as soon as possible

[2022-03-26 17:55] DEEPIKA-SUK commented on #475
@XZANATOL any update?

[2022-03-26 17:56] DEEPIKA-SUK commented on #478
@Shweta-Rani1 any update? Make the PR as soon as possible

[2022-03-26 17:56] akritisrivastava2 commented on #445
ok will be doing soon

[2022-03-26 17:57] ayushim13 commented on #463
@DEEPIKA-SUK  I'm working on it....gonna make PR soon.

[2022-03-26 18:17] XZANATOL commented on #475
Ye, I'm almost finished with the main UI and then gonna implement Light/Dark Themes. It should take me a day or 2 max.

[2022-03-26 18:35] dvlsatya commented on #465
PLEASE ASSIGN AND I WANT TO WORK ON THIS ISSUE

[2022-03-26 19:46] RajatBhaskare7 commented on #462
yeah I have completed templated soon going to raise PR

[2022-03-26 20:27] ayushim13 commented on #463
@DEEPIKA-SUK working on it, will make the pr soon.

[2022-03-26 22:34] TG922 opened #502 "Bug : Bottom up Top button doesn't disappear in the GymWebsite"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Bottom-up Top doesn't disappear in the gym website after scrolling back to the top.
- I can fix it please assign it to me under GSSOC'22.

## **Screenshots**

![Image26](https://user-images.githubusercontent.com/70098839/160259180-aeb0525a-81a2-4bf0-9e73-320d46033abb.PNG)

[2022-03-26 22:44] TG922 opened #503 "Improvement : Adding fixed header"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Adding a fixed header in **AmolShelke-Portfolio** will increase the UX of the website.
- I can fix it please assign it to me under GSSOC'22.

## **Screenshots**

![Image27](https://user-images.githubusercontent.com/70098839/160259325-8bde66f9-7998-4fc6-a159-ffed2c604555.PNG)

[2022-03-26 22:52] TG922 opened #504 "Bug : Adding working contact page and about page"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Currently, there is no About, Contact Page on the **Home Design** website.
- I would like to create all mentioned pages with HTML & CSS  by replacing the dummy hyperlinks.

## **Screenshots**

![Image38](https://user-images.githubusercontent.com/70098839/160259514-96374f3c-84c0-4c65-85c4-a85d9dbfa

[2022-03-26 22:57] TG922 opened #505 "Bug : Fixing Header in FoodBlog Website"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- When scrolling down header background does not match with the theme on the **FoodBlog** Website.
- I can fix it assign it to me under GSSOC'22.

## **Screenshots**

![Image34](https://user-images.githubusercontent.com/70098839/160259712-c53856ac-2327-4b58-b6bf-6018d23808b2.PNG)

[2022-03-26 23:02] TG922 opened #506 "Improvement : Adding fixed header in HotelWebsite"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Adding a fixed header on **HotelWebsite** which will help increase the UX of the website.

## **Screenshots**

![Image39](https://user-images.githubusercontent.com/70098839/160259863-11229e36-19c1-4bdd-be18-f7367f088460.PNG)

[2022-03-27 08:19] shubhamlakheraa commented on #450
Hey @DEEPIKA-SUK, I don't have any changes in the main repository codebase so I'm not sure what I need to make a PR for.
Till now what I understand is that I need to maintain a list of all the templates with their link.
Am I missing something which you can help me with?

[2022-03-27 09:30] VidhiBhatt01 commented on #503
Ig this isn't responsive. I had created an issue for it earlier, do that too if it's not yet completed

[2022-03-27 09:32] VidhiBhatt01 commented on #505
So many issues are assigned to you rn, lmk if you want to make any of these open for others to grab.

[2022-03-27 12:37] Mrjoy832 opened #509 "PluralSight Login Page Clone"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [X] Documentaion

## **Describe the bug**

- Wanted to add a clone of Pluralsight Clone using HTML, CSS
## **Possible solution**

- I will try to make this clone using HTML, CSS

## **Screenshots**

- Will be make a clone of below Website
![image](https://user-images.githubusercontent.com/77873383/160281659-6d4cb2c2-7388-4387-bf7a-ff6f313995

[2022-03-27 15:30] TG922 commented on #503
Yes, @VidhiBhatt01 will be the responsive header. Thanks for assigning !!

[2022-03-27 15:33] TG922 commented on #505
Yes, sure !! You can Add open-for-all label

[2022-03-27 16:48] TG922 commented on #505
## Format I Suggest

### Note: After Being assigned from here, create a new issue using the below format (To maintain the structure)

### OFA: #(Issue No.) - Mention Issue **Helps to identify issue picked up from open-for-all issue(OFA) tab**

### Example(Create New Issue like this)

![Image53](https://user-images.githubusercontent.com/70098839/160291729-e9723435-0da9-42d9-8216-0675e3d6dfff.PNG)

[2022-03-27 16:55] #448 closed

[2022-03-27 17:05] arpit456jain opened #510 "mistakes in json file"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

, is missing 335 to 563

![image](https://user-images.githubusercontent.com/55352601/160292417-8f3a568d-9fea-4d73-994d-f72ee1961896.png)

[2022-03-27 17:07] maura-dev commented on #510
Assign to me

[2022-03-27 17:08] arpit456jain commented on #510
sure @maura-dev but u have to make PR within 10 mins  is that ok ?

[2022-03-27 17:08] maura-dev commented on #510
Sure

[2022-03-27 17:09] arpit456jain commented on #510
ok go ahead @maura-dev

[2022-03-27 17:11] arpit456jain commented on #509
@Mrjoy832

[2022-03-27 17:16] arpit456jain commented on #450
@shubhamlakheraa just share the list with us and then we will mark some templates and u have to delete the and then u can make PR

[2022-03-27 17:19] VidhiBhatt01 commented on #503
Puri website hi responsive nai hai 🙃

[2022-03-27 17:21] VidhiBhatt01 commented on #505
Let's keep it like this only as of now, will talk to PA regarding your suggestion. Also, am labeling few issues open for all. Will keep you assigned to 2 of them.

[2022-03-27 17:21] arpit456jain commented on #510
@maura-dev r u making the PR ?

[2022-03-27 17:21] Mrjoy832 commented on #509
Assign me

[2022-03-27 17:21] rv602 commented on #510
@arpit456jain assign it to me I have finished making the changes

[2022-03-27 17:22] arpit456jain commented on #510
already assigned

[2022-03-27 17:26] TG922 commented on #503
Aree mai toh fas gya 🙃
Accha Thk ho jaayega ye bhi simple website hai !!

But level??

[2022-03-27 17:29] rv602 commented on #510
@arpit456jain since I saw that this issue is urgent and is needed in 10mins I completed it. If previous assignee fails to make so let me know I will make PR

[2022-03-27 17:30] arpit456jain commented on #510
@rv602 lets wait for 10 mins

@maura-dev do it asap

[2022-03-27 17:37] arpit456jain commented on #510
@maura-dev  i m waiting for 5 more mins if u didn't make PR i have to assign it to @rv602

[2022-03-27 17:41] maura-dev commented on #510
hello @arpit456jain , i've fixed it and made a pr

[2022-03-27 17:41] arpit456jain commented on #510
checking

[2022-03-27 17:50] #510 closed

[2022-03-27 17:55] arpit456jain opened #512 "image path is missing in home page and some links are also broken"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-27 17:56] arpit456jain commented on #510
@rv602 if u wish u can work on #512
or @maura-dev

[2022-03-27 18:01] maura-dev commented on #512
Assign to me

[2022-03-27 18:03] kanikakaur27 commented on #506
Hi. I would be keen to work on this issue.

[2022-03-27 18:03] Sakshi-1701 commented on #506
Hey @VidhiBhatt01 I would love to work on this issue.
Please assign this to me.

[2022-03-27 18:06] Sakshi-1701 commented on #504
Hey @VidhiBhatt01  I would love to work on this issue.

[2022-03-27 18:08] arpit456jain commented on #512
go ahead @maura-dev

[2022-03-27 18:09] Sakshi-1701 commented on #466
Hey @DEEPIKA-SUK
If this issue is still up for the grab, I'd love to work on this.

[2022-03-27 18:10] SwarupKMondal commented on #512
Please assign this to me sir

[2022-03-27 18:10] arpit456jain commented on #466
@KhushiRana2003 updates ??

[2022-03-27 18:11] TG922 commented on #503
Issue number?? I will rename this issue if it's not completed

[2022-03-27 19:12] arpit456jain commented on #512
@maura-dev r u making the PR

[2022-03-27 19:13] arpit456jain commented on #512
@SwarupKMondal if @maura-dev didn't make PR till tomorrow it  will be assigned to u

[2022-03-27 19:14] maura-dev commented on #512
@arpit456jain i’ll soon make the pr, it needs a lot of renaming and changes in almost all the files

[2022-03-27 19:45] arpit456jain commented on #512
@maura-dev u need to change in only style_link.json

do not change any other file

[2022-03-27 19:57] TG922 commented on #503
Oops 🙃
Ok I can do it easily it is single-page website
Issue number?? I will rename this issue if previous issue mentioned by you is not completed

[2022-03-27 21:19] TG922 commented on #512
done @maura-dev ?? Or should I??

I get it what's going on here **14 Projects had already images folder present** only those names required to be changed if it is not getting linked

[2022-03-27 22:46] maura-dev commented on #512
Not really so @arpit456jain.
The images are not showing because some have a .PNG instead of .png in their file folders and wrong capitalization in naming folders
The links are not working because of the spacing in the naming of the project links
The first one would involve touching other files so I might just probably let someone else handle it if there’s a way to do it without renaming

[2022-03-28 00:21] TG922 commented on #512
I can do it @arpit456jain, I was working on this repo for over 1 week.
Takes hardly 3 hr after being assigned to me.

I know how to deal with this issue !!

[2022-03-28 01:22] maura-dev commented on #512
@arpit456jain  I had to tweak the script file so that I don't have to start renaming images that had .PNG instead of .png

[2022-03-28 01:29] TG922 commented on #512
Great @maura-dev is it now working properly??

[2022-03-28 01:31] maura-dev commented on #512
Yes @TG922 check the deployment link in my pull request

[2022-03-28 01:34] TG922 commented on #512
Yes @maura-dev you are right it works fine. How much time did it take??

[2022-03-28 01:38] maura-dev commented on #512
Like 30 minutes. I had to revert because I had renamed the files before  I was later told not to rename them plus my laptop died😫

[2022-03-28 01:48] TG922 commented on #512
Still, it is impressive. I was literally going to rename images that had .png in place of .PNG extension 😅😅

Glad I came to know about a new method of **tweaking the script file** for such an incident.

[2022-03-28 06:05] Kumar-Ankit56 opened #515 "Adding service section template."
I'm a GSSoc22 contributor.  I want to add this awesome service section template for every website with an amazing hover effect.

### Idea behind the project
Like whenever we visit any website like it can be education and e-commerce website there is always a service section in the website where they show their respective service.

### How does it works?
I have designed a few containers and have set

[2022-03-28 11:48] KhushiRana2003 commented on #466
@arpit456jain Sir I will Do it within two more days..

[2022-03-28 13:04] arpit456jain commented on #515
@Kumar-Ankit56 u made it on ur own

[2022-03-28 13:10] #512 closed

[2022-03-28 13:27] #444 closed

[2022-03-28 16:42] Rakesh9100 opened #517 "Improve and Rectify the Readme"
## Issue Type:

- [x] Bug Report
- [x] Documentaion

## **Describe the bug**
### 1. Resize and make the images in the Readme of the same size to make it attractive.
### 2. Fixing Typo

## **Screenshots**
### 1. <br>   ![2](https://user-images.githubusercontent.com/73993775/160446009-1e16bcb9-0f57-42c2-a9d9-ceb5ec889797.png)
### 2. <br>   ![1](https://user-images.githubusercontent.com/73993775/1604

[2022-03-28 17:44] Kumar-Ankit56 commented on #515
yeah sir, but I took layout reference online.

[2022-03-28 17:57] DEEPIKA-SUK opened #518 "Making Whatsapp Clone fully Responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

There is a folder named Whatsapp in the Cool-Front-End-Templates repo. Make that template fully responsive.

## **Screenshots**
![Screenshot (95)](https://user-images.githubusercontent.com/64724039/160458292-eae318b1-a1e2-43f8-8ffe-6c4bf67e6ff2.png)

[2022-03-28 18:13] DEEPIKA-SUK opened #519 "Making web dev proj1 gym template fully responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

There is a folder named web dev proj1 gym in the Cool-Front-End-Templates repo. Make that template fully responsive.

## **Screenshots**

![Screenshot (97)](https://user-images.githubusercontent.com/64724039/160460622-e4dcc587-cc20-4953-b2f1-9fedcaf3e945.png)

[2022-03-28 18:29] DEEPIKA-SUK opened #520 "Making Space Agency template fully responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

There is a folder named Space Agency template in the Cool-Front-End-Templates repo. Make that template fully responsive.

## **Screenshots**

![Screenshot (98)](https://user-images.githubusercontent.com/64724039/160462984-a1646605-1080-4cae-9d89-23a5674fd1cd.png)

[2022-03-28 18:39] arpit456jain commented on #515
Ok make PR and mention the reference in PR

[2022-03-28 20:39] vandana3869 commented on #505
@VidhiBhatt01  i would like to work on this issue..please assign this issue to me

[2022-03-29 04:02] srinjoy-26 opened #521 "Add about us , contact us , account and products page to e commerce website"
I want to add the above mentioned pages to the , ecommerce website present in this repo.

[2022-03-29 08:25] Cypher1002 commented on #334
Thanks for assigning it to me

[2022-03-29 09:00] arpit456jain commented on #334
@Cypher1002 instead of adding new yoga template u can improve the any of the two existing ones
https://cool-front-end-templates.netlify.app/yoga%20template/
https://cool-front-end-templates.netlify.app/yoga%20template%202/

create  a new issue for it

[2022-03-29 09:00] #334 closed

[2022-03-29 09:01] arpit456jain commented on #517
@Rakesh9100 go ahead

[2022-03-29 09:03] arpit456jain commented on #509
@Mrjoy832 make sure u made it by yourself if we find any kind of plag we will not accept the PR

[2022-03-29 16:43] #445 closed

[2022-03-29 19:05] VidhiBhatt01 commented on #505
sure

[2022-03-29 19:07] VidhiBhatt01 commented on #503
#466, someone is working ig on this. I would suggest you wait for 1/2 days, pull the changes and then start working

[2022-03-30 03:27] TG922 commented on #503
@VidhiBhatt01 Let her work !!
This program was meant for girls. But still, there are majority of boys participating and girls get less number of chances.

I can work on other issues.

[2022-03-30 03:31] TG922 commented on #503
But I have one doubt is there any score provided to the person who created the issue but not assigned??

[2022-03-30 04:03] itsmohitnamdeo opened #528 "Adding Gaming Template"
Hello
I am GSSOC' 22 contributor.
I wanted to add Gaming Template in this project...

[2022-03-30 05:09] Cypher1002 commented on #334
Okay

[2022-03-30 10:09] KhushiRana2003 commented on #466
Sir give me 2 days more bcoz i am busy in my curriculum in college... Some
of the project us left so I need 2 more days.. And i will definitely do it
after 2 days ...

On Mon, 28 Mar, 2022, 6:32 pm Arpit Jain, ***@***.***> wrote:

[2022-03-30 16:08] Sourajita21 commented on #520
Can you assign me this task?

[2022-03-30 16:34] Sourajita21 commented on #518
Can you assign me this issue. I will give my best for sure.

[2022-03-30 19:30] Rakesh9100 commented on #386
Hello, I would like to suggest that I figured out here that In https://github.com/arpit456jain/Amazing-Js-Projects also the bot is adding the label when the PR is merged and not when it is opened and same with this project too. So, can I work on this issue or can I open up a new issue for the project https://github.com/arpit456jain/Amazing-Js-Projects so that label will be added when PR is opened

[2022-03-30 20:24] Smriti-y commented on #255
Sir, I have to raise new issue????

[2022-03-31 13:39] #517 closed

[2022-03-31 13:40] #460 closed

[2022-03-31 13:41] #428 closed

[2022-03-31 18:03] DEEPIKA-SUK opened #532 "Making Rural Art template fully responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
There is a folder named Rural Art template in the Cool-Front-End-Templates repo. Make that template fully responsive.

[2022-03-31 20:02] juberiya1ajaz commented on #532
kindly assign me this issue under GSSOC22

[2022-04-01 07:05] Kumar-laxmi opened #533 "Create a Wikipedia Clone"
## Issue Type:

- [X] Bug Report
- [X] Feature Request
- [X] Documentaion

## **Describe the bug**
I want to create a Wikipedia Clone

- A clear and concise description of what the bug is.

## **Possible solution**
Using BootStrap and NodeJS

- Describe the solution you thought of.

## **Screenshots**
![image](https://user-images.githubusercontent.com/76027425/161212779-a9381794-3499-4a43-b217-abd

[2022-04-01 07:07] jyotivakare33 commented on #466
@arpit456jain Can you assign me this issue if it is still open

[2022-04-01 08:06] Abhishek2408 opened #534 "I want to add contact us in technology page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- In navigation bar contact menu is there but in template contact us section is not present.

## **Possible solution**

- I want to add contact us form after top company ceo section

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-01 09:10] priyanshi1282 opened #535 "MBBS Notes Providing Website Template"
## Issue Type:
- [x] Feature Request

## **Possible solution**
- This Website will provide a template for Notes Providing Services (here I used MBBS Notes provider). Also this is designed responsive.

## **Screenshots**
![Screenshot (85)](https://user-images.githubusercontent.com/88632352/161231775-4678baf1-d241-4542-bd40-0d1e0dca6267.png)

![Screenshot (86)](https://user-images.githubusercontent.

[2022-04-01 10:49] VidhiBhatt01 commented on #528
@itsmohitnamdeo you should raise a PR only after the issue is assigned to you.

[2022-04-01 10:58] VidhiBhatt01 opened #536 "Improve the UI of Hotel Website"
The current UI of the Hotel Website isn't eye catchy. Enhance it, it must be fully responsive.

![image](https://user-images.githubusercontent.com/83345228/161250664-e73a7bbf-f32e-4d93-b87f-dd0353662440.png)

[2022-04-01 11:02] VidhiBhatt01 opened #537 "Improve the UI of E commerce Website"
The contact us and about us page on the eCommerce website has poor UI. Enhance it and also add a link to the home page in both of them. Both the pages must be fully responsive.

![image](https://user-images.githubusercontent.com/83345228/161251081-49afe733-0332-48f2-a0e0-3eaf1d047ab4.png)

[2022-04-01 11:07] pujthej commented on #537
@VidhiBhatt01 Hi! Please assign this issue to me. Thank you.

[2022-04-01 12:16] VidhiBhatt01 commented on #492
@abhinav80066 do you have any updates? If the PR is not submitted within 3/4 days, the issue would be passed onto to you @pujthej

[2022-04-01 12:44] srinjoy-26 commented on #536
I would like to work

[2022-04-01 14:13] Abh1shekSingh commented on #536
Can u please assign this issue to me? @VidhiBhatt01

[2022-04-01 14:14] Abh1shekSingh commented on #536
I know UI / UX theory so i can modify it

[2022-04-01 14:15] Abh1shekSingh opened #538 "Improve The UI of the Website and Fully Responsive"
## Issue Type:

- [x] Bug Report
- [x] Feature Request

## **Describe the bug**

I would Love to Change the Whole UI UX of the Website

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-01 14:16] Abh1shekSingh commented on #538
Hi ! Please assign this issue to me @VidhiBhatt01 @arpit456jain

[2022-04-01 14:17] XZANATOL opened #539 "Twitch Page Clone"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Add Dark theme Twitch Page Clone.

## **Possible solution**

The page is going to make use of:
* HTML
* CSS
* Bootstrap5
* JS (Not Sure)

## **Screenshots**

The clone should be similair to this.
![image](https://user-images.githubusercontent.com/64689436/161277722-8cd4ea00-fb2b-435f-af69-27e823b73b15.png)

Issue made under GSSoC'22 c

[2022-04-01 14:29] arpit456jain commented on #538
@Abh1shekSingh add the counter feature in same PR and add this is css effects in that PR also

[2022-04-01 15:38] Areebah03 opened #541 "I want to improve stationary website."
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

- Several buttons in website is not working.

## **Possible solution**

- I want to improve the UI of website. Please assign it to me.

## **Screenshots**
![Screenshot 2022-04-01 210726](https://user-images.githubusercontent.com/85051124/161296238-b5567580-f17a-4020-a2b6-0f2ecac1418c.png)

[2022-04-01 15:50] Areebah03 opened #542 "Chinese Restaurant"
## Issue Type:

- [x] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

- Several links and buttons are not working, some of the images and contents need to be changed.

## **Possible solution**

- I will improve the UI of website, fix the links, add contents, images. Please assign it to me.

## **Screenshots**
![Screenshot 2022-04-01 211812](https://user-images.githubu

[2022-04-01 17:30] #475 closed

[2022-04-01 18:26] Aritra777 opened #544 "I want to add a responsive landing page."
## Issue Type:
- [X] Feature Request

This is a simple html, css, javascript static landing page, which is mobile friendly also.
Please assign me under GSSOC'22.

## **Screenshots**
Dextop View :
![dextop view](https://user-images.githubusercontent.com/93366359/161320945-1292f90f-44fb-4e8f-82de-accc77924fb7.png)

Mobile View :
![mobile view](https://user-images.githubusercontent.com/93366359/16132

[2022-04-01 18:49] #528 closed

[2022-04-01 18:50] primetime71 commented on #519
Can you assign it to me?

[2022-04-02 02:42] myhacktech opened #546 "monuments template is not completely responsive"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- the template is not responsive at 1001*858 resolution.LINK :https://cool-front-end-templates.netlify.app/moninfo-indian%20monuments%20template/

## **Possible solution**
i can make it completely responsive
![Screenshot (272)](https://user-images.githubusercontent.com/86517958/161362721-a90172ec-4e5b-43b3-875f-ccf2177a0f0a.png)

- De

[2022-04-02 02:51] myhacktech commented on #536
i can work for its design

[2022-04-02 03:21] Anjuli08 commented on #537
I would also like to work on this issue

[2022-04-02 03:25] Anjuli08 commented on #536
I would like to work for this issue

[2022-04-02 04:07] itsmohitnamdeo opened #547 "Covid Template"
It is a Covid based template to get information about covid cases , information , news etc...
![covid](https://user-images.githubusercontent.com/85800451/161365632-055e3ce7-8da2-4d43-927c-81af35feeba4.png)

[2022-04-02 04:39] arpit456jain commented on #450
@shubhamlakheraa r u sharing the list ?

[2022-04-02 04:41] #497 closed

[2022-04-02 04:46] #521 closed

[2022-04-02 04:47] #504 closed

[2022-04-02 05:01] shubhamlakheraa commented on #450
Yes I just need to update the list 30 mins max.

[2022-04-02 05:49] shubhamlakheraa commented on #450
[Cool Front End Templates.docx](https://github.com/arpit456jain/Cool-Front-End-Templates/files/8401911/Cool.Front.End.Templates.docx)

[2022-04-02 06:07] shubhamlakheraa commented on #450
Hey, @arpit456jain Full list of projects with their repository links is added.
[Cool Front End Templates.docx](https://github.com/arpit456jain/Cool-Front-End-Templates/files/8401927/Cool.Front.End.Templates.docx)

[2022-04-02 07:00] VidhiBhatt01 commented on #546
We have a section for search bar like this only. It is fully responsive.

![image](https://user-images.githubusercontent.com/83345228/161371181-645389d9-65a8-4486-9a64-527dadd9fbff.png)

[2022-04-02 07:00] #546 closed

[2022-04-02 07:10] VidhiBhatt01 commented on #547
We already have a similar project

[2022-04-02 07:10] #547 closed

[2022-04-02 07:23] kalyanikakade123 opened #549 "I want to add a Musical Website Template"
https://user-images.githubusercontent.com/86308103/161371966-96e63f91-3904-4cd9-8fa4-c5858f8c37cf.mp4